[2019-04-08 04:28] gokatz commented on #329
AFAIK, this is not yet supported in Engines yet, @JoseWebby
I switched to another stack instead.

[2019-04-08 09:02] SuperManHa commented on #637
Thanks for your reply. But I have put it in my `app.js`, it's my mistake that I forget this in the issue description. Have update the issue description.

[2019-04-09 19:52] #22 closed

[2019-04-11 15:46] villander commented on #603
@knownasilya you blog post about share components, is not available. Can you publish it again? can be a markdown on gist.

thank you

[2019-04-14 19:49] villander commented on #587
@buschtoens sorry my comment was a bit confused, I'm saying that `transitionExternal` methods today only accept routeName but not routPath/URL, we must add support for this, as well.

[2019-04-14 19:56] villander commented on #582
@stefanpenner can you add a description for this or a reproduction by public repo, please?

[2019-04-16 06:40] buschtoens commented on #587
@villander No worries, I understood you right the first time. ☺️

The idea behind engines is to encapsulate a part of the application from the rest. Any references / dependencies to the host app should be explicit and declarative. This is why services are explicitly injected into the engine. The same goes for routes ([`externalRoutes`](https://github.com/ember-engines/ember-engines#linking-to-exte

[2019-04-16 14:07] rwjblue commented on #587
Completely agreed.

[2019-04-16 14:27] villander commented on #587
yup, makes all sense @buschtoens I'll get this to work and open a pull request ASAP.

thanks!

[2019-05-01 14:27] thec0keman commented on #601
Thanks for finding a solution!
It seems like this is a rather important hole in boundary around engines, since it is possible to `link-to` anywhere in the host without the explicit mapping.

[2019-05-01 17:52] thec0keman opened #643 "Engine nested in an addon"
We have an app set up with the following:

[code]

(the routable engines work great, just mentioning them for context)
The routeless engine is declared in the `dependencies` of the addon, and the engine does build.

In this configuration, there are a couple of issues:
1) the addon needs to include `lazyLoading: {}`, otherwise the main app won't build.  (I don't recall seeing this in the documentat

[2019-05-02 02:12] villander commented on #643
I can't figure out this scenario completely, can you reproduce this in a public repo please?

[2019-05-02 02:23] villander commented on #637
@SuperManHa the ember-engines `0.6.x` is compatible with ember-cli 2.18 or bigger - https://github.com/ember-engines/ember-engines/blob/master/config/ember-try.js#L15

please update ember-cli on your [consuming app](https://github.com/dgeb/ember-engines-demo) and try again

thanks!

[2019-05-02 02:24] villander commented on #636
1) It's not a bug

2) It's not related with ember-engines, but Ember API

[2019-05-02 02:26] villander commented on #626
@jherdman I can't figure out completely, can you reproduce this a public repo please?

[2019-05-02 02:31] villander commented on #625
@jherdman I thinks that it already works right now after this https://github.com/ember-engines/ember-asset-loader/pull/63

[2019-05-02 02:37] villander commented on #624
yup, it's possible...please check the Ember Engines Guides on section [Adding Routes for Routable Engines](http://ember-engines.com/guide/creating-an-engine#AddingRoutesforRoutableEngines)

[2019-05-02 02:41] villander commented on #620
@buschtoens  I think that we don’t plan to support MU because MU is not well defined and was never stabilized and is not going to stabilize in its present form (It’s definitely not part of octane, for example)

cc: @dgeb @rwjblue

[2019-05-02 02:54] jherdman commented on #626
Sadly not a public repo. I'll try to whip something up though.

[2019-05-02 02:59] villander commented on #626
If you can reproduce this same scenario in a public repo running `ember new your-app` I will appreciate it

thanks

[2019-05-14 10:33] swarnavallis opened #644 "Is it possible to create Service inside Ember Engine?"
I created a service inside ember engine , the service code resides inside the addon folder and while exporting in app folder , it throws an error "module cannot be found".The same thing happens with initializers too.

[2019-05-15 15:27] swarnavallis opened #645 "I listed a addon in ember engine's package.json under dependency and it isn't included in neither host app vendor.js file nor engine's vendor file."

[2019-05-16 03:15] villander commented on #644
please, create a reproduction into public repo

[2019-05-16 03:16] villander commented on #645
You need list engines on package.json on host app, please read the guides - http://ember-engines.com/

[2019-05-16 03:23] villander commented on #524
@gossi this issue was solved for you as well

[2019-05-16 05:59] swarnavallis commented on #645
What if the addon is needed only in engine? It will be better if add-ons used by engine reside in engine's vendor instead of host app's vendor.

[2019-05-16 11:11] villander commented on #645
If it is only needed in the engine, put it in the engine.

[2019-05-16 12:20] swarnavallis commented on #645
yeah.. my issue is i have listed my engine in host app's package.json and the the addon needed by engine in engine's package.json. When i try to acess the addon inside engine i get a error "component or helper named "dialog-moal" is not found. But if i list the addon in both host app and engine 's package.json , it works fine.Why is it so?

[2019-05-17 11:59] swarnavallis commented on #645
@villander without listing a add-on in host app, can a add-on be used in in-repo-engine by listing it under dependencies in engine's package.json ?

[2019-05-17 12:44] villander commented on #645
Yes!

[2019-05-17 13:16] chendraayan commented on #645
@villander  @swarnavallis  I have a similar scenario. Is it mandatory to list the addon in the host app's package.json?

[2019-05-17 18:56] gossi commented on #524
Pretty sure it does 👍

[2019-05-17 22:01] villander commented on #524
@gossi can you close this issue, please? I don't privilege to do it

[2019-05-18 08:36] #524 closed

[2019-05-20 06:46] swarnavallis commented on #645
@villander can you help us find where i went wrong?

[2019-05-20 09:36] swarnavallis commented on #603
Imagine the css or components that are only used by engine-a, engine-b and engine-c, but are not used by the host app. You would have to load this into the host app by increasing the bundle size of it besides hurting the principle of isolation and liability.
 is this solved now?

[2019-05-20 11:57] villander commented on #645
please, create a reproduction into public repo

[2019-05-21 06:06] sumeetattree opened #648 "Router service does not prefix engine mount point to routes"
ember-engines: `v0.7.1`
ember: `v3.8`
Given an engine: `blog-post`
[code]

Expected output would be `blog-post.favorite-post`, but the router service tries to transition to `favorite-post` instead. This is inconsistent with the `link-to` where the routes are automatically prefixed with the engine mount point.

[2019-05-21 06:07] sumeetattree commented on #587
I think this is related?  #648

[2019-05-21 06:09] swarnavallis commented on #645
host' package.josn
{
devDependencies{
addon-a : 0.0.0,
addon-b : 0.0.0
}
  "ember-addon": {
    "paths": [
     "lib/engine-a"
   ]
  }
}

Engine-a package.json
dependencies
{
**addon-c:0.0.0**
}

So this is my use case. Now what will happen to addon-c. **It is only listed in engine's package.json**.Will addon-c code fall in engine-a's vendor?
@villander  @stefanpenner

[2019-05-21 12:23] villander commented on #645
@swarnavallis it's not clear for me, I don't know how to are using `addon-c` and where.

[2019-05-21 13:03] swarnavallis commented on #645
Imagine the css or components that are only used by engine-a, but are not used by the host app.
Now where should this components used by engine-a alone be listed?

@villander

[2019-05-21 13:07] swarnavallis commented on #645
am using addon-c in engine-a. addon-c for example is ember-truth-helper. I need ember-truth helper inside engine-a application template and i am not using ember-truth-helper in my host app, so i listed ember-truth-helper in engine-a's package.json. But on giving npm install in project directory, it dint install the ember-truth-helper listed in engine-a's package.json.

[2019-05-21 13:19] swarnavallis commented on #527
Is there a way to share services from parent engine to child engine (nested engines)

[2019-05-21 13:19] villander commented on #645
Now where should this components used by engine-a alone be listed?

must be listed on `engine-a`, on package.json from `engine-a`

this must work, you're doing it correctly

[2019-05-21 13:56] swarnavallis commented on #645
should i give npm install in engine directory or project directory? Is separate npm install required to install dependencies listed in engine's package.json

[2019-05-21 14:03] catz commented on #527
@swarnavallis

Did you check http://ember-engines.com/guide/services Or see my initial question

[2019-05-21 20:07] villander commented on #645
you must run `npm install` in engine directory. that's all to do it work

[2019-05-22 07:04] swarnavallis commented on #527
Yeah my use case is .. I have a common host app under which i have say 4 engines which are each a separate logical application.Now i have splitted each engine to n engines(nested engine). I have a service specific to one logical application which is the parent engine. Now this service will be needed in the child engine, why should i move a service specific to one engine to host app? Its better if

[2019-05-22 08:24] catz commented on #527
@swarnavallis  and this is exactly what I asked but didn't find any practical solution without sharing via host app.

[2019-05-22 08:33] swarnavallis commented on #527
So is there any possibility that this will be addressed in near future? @catz  @stefanpenner

[2019-05-22 10:52] swarnavallis commented on #645
when i give npm install in engine directory, the addons that are listed in both host app and engine' package.json get inserted in both engine's and host-app's vendor file. This leads to duplication of code. The version of addon listed in both host app and engine is same. Why is this?

example:

host-app package.json
devDependencies
{
addon-a : "^1.1"
}

engine-a package.json
 dependencies{
addon-a

[2019-05-24 11:49] ghost opened #649 "in-repo-engine in ember addon fails to build"
I'm trying to create a in-repo-engine within a ember addon and I'm not able to start nor build the addon (dummy-app). I'm getting this error:

[code]

(`{{LOCAL_PATH_TO_ADDON}}` is just a placeholder I added to the original error-message, where of course locally would be the real path)

Those errors are coming from [HERE](https://github.com/ember-engines/ember-engines/blob/v0.7.1/lib/utils/find-ho

[2019-06-07 22:13] malatin3 opened #651 "Components in pods from in-repo-addon don't appear to be automatically re-exported for in-repo-engine"
I have a common in-repo-addon filled with components that stored in pods. I am able to use these addons in my main app with no issue, however when I try to use them in my in-repo-engine I am unable to resolve them. If I create a component in my common addon that is stored in the classic structure and not pods it seems to automatically re-export fine and resolves in my engine.

Is there perhaps som

[2019-06-08 04:42] raghavbk opened #652 "Link-to and link-to-external are not working with ember 3.10"
I just upgraded my app to ember 3.10 from 3.9, and the link-to and link-to-external components have stopped working.

For a link-to, I get the following error: You attempted to generate a link for the "my-route" route, but did not pass the models required for generating its dynamic segments. There is no route named my-route

For link-to-external, I get the following error:
[code]
When i debugged t

[2019-06-11 18:46] #651 closed

[2019-06-11 18:46] malatin3 commented on #651
My directory structure was non-standard. Sorry for the confusion.

[2019-06-13 12:51] buschtoens commented on #587
@sumeetattree Yes indeed. #648 is a duplicate of this issue / will be fixed by resolving issue. For the time being, you could use my [`EngineRouterService` PoC](https://gist.github.com/buschtoens/de2faacfc8977e39843b7e2cc2f3fd1e).

[2019-06-13 19:32] arellanoelden opened #655 "Adapter not getting updates from service"
I have a service that my adapters read from. Whenever they read the service they only get the initial value. So if I have property `X` in my service that is `1` initially and in my controller I set it to `2`. I can see it updated in the controller but in the adapter I still only see 1

[2019-06-14 14:33] nmcclay commented on #502
Checking back on this issue I can confirm the issue we're encountering matches ishttps://github.com/CodeOfficer/demo-engine-addon-dependency-conflicts#conflict-2

The above solution I posted turns out to be an incomplete solution. Specifically it doesn't resolve nested components, only top level component namespaces. I'm continuing to search for an adequate solution to this problem in order to all

[2019-06-14 15:12] nmcclay commented on #502
This issue is also referenced in the official docs with the recommendation to [avoid including different versions of the same addon](http://ember-engines.com/guide/addons#managingmultipleaddonversions). I would like to find a solution to this issue that doesn't involve our teams having to be in lock-step and they can opt into updates when its convenient for them rather than requiring anyone that n

[2019-06-14 16:06] dgeb commented on #502
@nmcclay Check out https://github.com/dgeb/ember-cli-addon-guard, which is the solution I developed based on `ember-cli-dependency-lint`. `ember-cli-addon-guard` will automatically identify any conflicting addons shared among an app and its engines (and other addons) at build time. Furthermore, there is an experimental namespacing feature described in the README that allows multiple versions of th

[2019-06-14 17:15] nmcclay commented on #502
@dgeb you are amazing! I tried this out and encountered a few unexpected issues getting it working with my engines, but after some hacking I got it to work for both the top level duplicated addon and any nested sub-components without any additional engine template rewriting. Very cool stuff and exactly what I was looking for!

One thing I noticed is ember-engines 0.7.1 is dependent on `"calculate-

[2019-06-14 19:20] dgeb commented on #502
@nmcclay great, glad it's working for you (for the most part)! I'll follow up with any issues you open in ember-cli-addon-guard.

[2019-06-14 19:52] villander commented on #502
@nmcclay ember `0.7.1` already have deduplication as feature flag.

[2019-06-14 20:25] nmcclay commented on #502
@villander I tried out the deduplication feature flag, but it doesn't seem related to [conflict 2](https://github.com/CodeOfficer/demo-engine-addon-dependency-conflicts#conflict-2) from demo-engine-addon-dependency-conflicts repo. Its not a duplication problem as much as a unique namespace problem that doesn't allow you to load different versions of shared addons within engines.

[2019-06-15 16:18] villander commented on #502
right! makes sense. But I think that [conflict 2](https://github.com/CodeOfficer/demo-engine-addon-dependency-conflicts#conflict-2) must be handle on `ember-engines` codebase, because our `dedupe` flow already have control about host-app of ember-engines.

what you think?

cc: @dgeb @rwjblue @2hu12

[2019-06-17 11:42] dgeb commented on #502
`ember-engines` relies on addons' cache keys to uniquely identify each version and should only dedupe addons with matching cache keys. Every addon with a unique version will also have a unique cache key, since the default cache key is calculated by hashing the addon's `package.json` (which includes `version` as a field). While `ember-engines` should be concerned with deduping addons with _matching

[2019-06-19 00:27] #499 closed

[2019-06-19 00:27] #544 closed

[2019-06-19 18:53] tomwayson opened #662 "After updating to 0.8.0, ember-cli-bootstrap-colorpicker no longer working in lazy engine"
We have a lazy-engine that depends on our own addon that in turn depends on ember-cli-bootstrap-colorpicker (v3.1.0). In our app, when the user visits a one of the lazy-engine's routes, the colorpicker had been working fine until we updated ember-engines from the `villander/ember-engines#lazy-imports` branch to `0.8.0`.

Now users see style issues w/ forms that use the color picker and this error

[2019-06-19 19:27] rwjblue commented on #662
Can you make a demo repo or something so we can dig into it a bit easier? Also, could you share a compare link for the custom fork you were using to the released version?

[2019-06-19 20:56] tomwayson commented on #662
Plan to, but might be a bit before we can circle back. This was more of a "hm... seems like what we're seeing would affect others" than "hey! you broke my app! fix it now!"

Looks like @villander deleted the branch.

[2019-06-19 20:59] villander commented on #662
@tomwayson can you create a public repo with this scenario using `0.8.0` please?

[2019-06-20 16:52] mjuniper commented on #662
https://github.com/villander/ember-engines/compare/lazy-imports...ember-engines:v0.8.0

[2019-06-20 21:26] mjuniper commented on #662
I tried but I am seeing a different issue in my test repo. Not sure what is different. What I am seeing in the test repo is that with:

[code]

the app will not build. I get:

[code]

With `lazyLoading` disabled it will build and the app works. Also, if I use `villander/ember-engines#lazy-imports` it will build and the app works with or without `lazyLoading` enabled.

https://github.com/mjuniper/e

[2019-06-20 22:30] lennyburdette commented on #662
I had an issue after upgrading that's probably related: I had to change a nested addon from:
[code]
to
[code]
based on [this test](https://github.com/ember-engines/ember-engines/commit/4e4e7047baea67f4045f85e4e1a8c2d6d86ff64c#diff-485ed33bed3a62253b54050e60af60edR445).

Is this the same issue? And is this the correct fix?

[2019-06-20 22:55] lennyburdette commented on #662
Unfortunately, that fix 👆 now breaks my engine tests. Making the host app build breaks the dummy app build (I have the app, engines, and addons in a workspace).

[2019-06-20 23:31] lennyburdette commented on #662
Here's a workaround! Include a redundant tree hook:
[code]
and `app.import` works everywhere.

[2019-06-21 15:45] rwjblue opened #664 "Should not depend on ember-maybe-import-regenerator"
https://github.com/ember-engines/ember-engines/commit/32970a2af3ef70a7e6c5c263bf66e762058fa918 added it to dependencies, but should have added to devDependencies at the least. But most likely we should follow the setup I describe [here](https://www.rwjblue.com/2017/10/30/async-await-configuration-adventure/#25installregeneratorfortestusageonly) where we use regenerator-runtime in tests only, and f

[2019-06-26 08:37] petermandersvin commented on #662
I am experiencing same issues with two different packages:
ember-websockets
ember-cli-swiper

I can not build if lazyloading is enabled when using the packages above.

[2019-06-26 17:28] HenryVonfire opened #667 "link-to assertion fail: property modified twice in a single render"
`ember-source`: from `3.10.0` to `3.10.2` (I haven't tried with other versions)
`ember-engines`: from `0.7.2` to `0.8.2`

Linking a property from a component or a controller to the `@route` of a `<LinkTo>` tag throws an assertion failed:

This wasn't an issue in prior versions of `ember-engines`.

Way to reproduce the error:
- create a new project
- add ember-engines 0.7.2
- create an in-repo-engi

[2019-06-27 17:26] villander commented on #662
@2hu12 any idea to fix [this](https://github.com/ember-engines/ember-engines/issues/662#issuecomment-504235120) definitively ?

[2019-06-28 05:17] 2hu12 commented on #662
@mjuniper @tomwayson I had a [patched ember-cli-bootstrap-colorpicker](https://github.com/2hu12/ember-cli-bootstrap-colorpicker/commits/2hu12-patch-1) which may fix your issue temporaryly, and now [engines-deps-bug](https://github.com/2hu12/engines-deps-bug/tree/patch-1) could be built successfully.

About how this temp solution works, please refer to https://github.com/ember-engines/ember-engines

[2019-06-29 17:59] villander commented on #662
@2hu12 how can we fix this on `ember-engines` codebase?

[2019-07-01 12:32] HenryVonfire commented on #667
I've tried to research a bit more about this issue and the problem seems to be that, in `didReceiveAttrs` of `link-to-component` component, the property `route` is set twice, one in [this component](https://github.com/ember-engines/ember-engines/blob/master/addon/components/link-to-component.js#L52) and another one in the [parent `link-to`](https://github.com/emberjs/ember.js/blob/37a19428dc59f0d0

[2019-07-02 18:24] buschtoens commented on #667
Can you try submitting a PR with a failing test case?

[2019-07-02 19:05] HenryVonfire commented on #667
Done, you can find it here #668

[2019-07-16 15:51] thec0keman commented on #667
Does this need to be bumped up to the main ember repo?  Doing multiple sets of a property in `didReceiveAttrs` shouldn't throw an error like this, so it seems likely there is an undesirable coupling or side-effect here?

[2019-07-17 10:21] amk221 commented on #652
Any update on this?

[2019-07-17 14:27] ASH-Maan opened #671 "Engine re-exports merge into host app"
Similar to this issue [Unable to override addon re-exports in the consumer application](https://github.com/ember-cli/ember-cli/issues/5336), when ember engines are being installed into the host application, the host app is merging the files exported from `engine/app/*.js` file into the `tests/dummy/app` directory and it causes an issue where unique engine files would be available to the dummy app

[2019-07-22 19:57] villander commented on #587
@buschtoens I left a comment on your gist https://gist.github.com/buschtoens/de2faacfc8977e39843b7e2cc2f3fd1e#gistcomment-2960117

[2019-07-29 15:53] mydea opened #672 "Re-rendering issue with ember-engines 0.8.2 & link-to"
After updating to ember-source@3.10 & ember-engines@0.8.2, code like this started to fail in our app:

[code]

Where routeName could change. The cause of this, as far as I can see, is the `_prefixProperty()` in the link-to, as it seems to be triggering a "invalid rerendering" error. I tried to recreate it as a test in this repo, but couldn't - so not entirely sure what exactly triggers this. But i

[2019-07-29 16:14] mydea commented on #672
Oops, somehow I didn't see #667, I guess that's a duplicate - sorry.

[2019-07-29 16:14] #672 closed

[2019-07-29 16:52] mydea opened #673 "Source Maps don't work in 0.8.2"
After updating ember-engines from 0.7.2 to 0.8.2 (ember-source is at 3.10), my production build starts failing. It works if I disable source maps.

[code]

[2019-08-02 14:25] amk221 opened #674 "Instance Initializers not run before Integration Tests"
In an Ember Application, its Instance Initializers are run before each Component Integration Test.

In an Ember Engine, its Instance Initializers are not run before each Component Integration Test.

[2019-08-02 14:59] rwjblue commented on #674
Will be addressed by https://github.com/ember-engines/ember-engines/pull/653

[2019-08-02 14:59] amk221 commented on #674
Ah, amazing, thanks

[2019-08-05 19:00] thec0keman commented on #667
Looking into [ember-router-helpers](https://github.com/rwjblue/ember-router-helpers) as a possible workaround... comes with a couple of caveats though:

1) That addon does not seem to support engines, so you have to use fully formed paths (and they generate full-app page loads)

2) Our engines have a lot of `link-to`'s.... so this will be tedious.

The interesting thing is I think this is mostly t

[2019-08-06 05:51] mydea commented on #667
Just noting this here, we also ran into this and were able to workaround this by passing the argument as readonly:

[code]

It's not ideal, but at least it works!

[2019-08-06 08:07] HenryVonfire commented on #667
`readonly` seems a better alternative in my opinion, since `unbound` is considered a legacy API and could be deprecated sooner or later.

[2019-08-06 11:38] swarnavallis opened #675 "I have a standard engine and there are two in-repo engine inside the standard engine.When trying to access the in-repo engine, an error is thrown "cannot read meta tag for the name""

[2019-08-06 12:56] swarnavallis commented on #675
@rwjblue

[2019-08-06 13:16] swarnavallis commented on #381
@gnanavelum  @jnfingerle  what was the alternative you found to solve this issue? am facing the same issue

[2019-08-09 16:17] john-bai commented on #448
I’m dealing with this issue too. Peers at my company have been manually registering the link-to-external component in the before hook in the test files, but it doesn’t seem like that should be necessary.

[2019-08-09 16:30] john-bai commented on #124
A duplicate issue was filed for this issue after the fix and is still open: #448. Can someone speak to the required setup to not encounter this issue after the fix landed?

[2019-08-09 18:37] john-bai commented on #124
I couldn’t reproduce the issue now with a new engine I created following the guide, so there’s some issue in my other engine. Doing a diff now of the relevant config/test helper files

[2019-08-13 12:38] dguettler opened #676 "Could not find module `<engine-name>/components/-dynamic-element` imported from `(require)`"
Not sure where this issue should be raised so I'm cross-posting it here https://github.com/tildeio/ember-element-helper/issues/7

Here is a minimal repository to trigger the issue https://github.com/dguettler/ember-dynamic-element/tree/ember-element-helper-only

Basically, if `ember-element-helper` is used within an engine's template an error is throws because in can not lookup the `-dynamic-eleme

[2019-08-13 13:19] ktwoo111 opened #677 "app.import() for node_module is still giving me the warning to use this.import"
I thought after 0.8.0, app.import() for files in node_modules was allowed without the warning. Is that not the case?

My project works just fine with the app.import() and the group rather prefer to use app.import(). Is there a way to suppress the warning?

Referencing this Pull: https://github.com/ember-engines/ember-engines/pull/630

[2019-08-14 16:54] iezer commented on #626
I have a reproduction for this.

I forked the `ember-engines-demo` repo and made a few changes. See the [changes here](https://github.com/dgeb/ember-engines-demo/compare/master...iezer:master).

Here's what I did:

 * Modify the demo so that the chat engine is lazily loaded.
 * Edit my `/etc/hosts` file and add an entry `127.0.0.1 localhost myengines.com`. As a result, when I run `ember serve`, I

[2019-08-15 15:03] iezer commented on #626
I was able to work around this issue using `generateURI` function described in the guides under [Deploying and Fastboot](http://ember-engines.com/guide/deploying-and-fastboot).

It's a bit annoying that we have to configure this in two places. It would be better if ember-engines respected the fingerprint.prepend option already passed to Ember CLI. But at least we have a workaround.

I pushed the c

[2019-08-15 20:11] jherdman commented on #626
I'm okay with closing this with respect to a solution being found, but I'm curious if it should be left open as a reminder of the need for a better solution?

[2019-08-23 14:37] #677 closed

[2019-09-02 12:06] mwalper commented on #652
I have the same Problem in Ember 3.12

`index.js:163 Uncaught Error: Assertion Failed: You attempted to generate a link for the "blog" route, but did not pass the models required for generating its dynamic segments. There is no route named blog`

Ember: 3.12.0
ember-cli: 3.12.0
ember-engines: ^0.8.2

[2019-09-10 04:20] loxmys commented on #652
@mwalper Did you manage to fix the problem?

[2019-09-10 11:43] netes commented on #504
Bumping ☝️

[2019-09-18 11:37] catz commented on #662
Had something similar after update from 0.5.24 to 0.8.2

[code]

accounting.js doesn't get into the lazy engine vendor bundle. Is there any obvious changes I need to do here? Thank you.

[2019-09-20 04:27] mfeckie commented on #652
The workaround here has solved it for me right now https://github.com/ember-engines/ember-engines/issues/667

[2019-09-20 09:53] amk221 opened #678 "Cannot find component when testing with Pods"
Steps to recreate:

1. Create an Ember App
2. Create an In Repo Engine
3. Enable Pods for both the Above
4. Create a component in the In Repo Engine
5. Test fails because the component can't be found

Note that the component _can be found_, when the app is run, (but not by the test suite).

[Example repo](https://github.com/amk221/-ember-engines-pod-components)

I had a quick look through `engineR

[2019-09-20 14:25] catz commented on #662
Seems I found the reason.

Works:

[code]

Doesn't work:

[code]

This is the commit  https://github.com/ember-engines/ember-engines/commit/0bbda5ac0bb70de27b7fa3d538609f6aaa6d7f38

Works:

[code]

Doesn't work:
`    sourceMapConfig : { enabled: false, extensions: [ 'js' ] },`

Somehow sourceMapConfig is related to whether include js into the vendor bundle or not.

[2019-09-21 13:52] ngouy commented on #364
not working at all for me ...

[2019-09-23 11:48] catz commented on #662
I can be wrong but looks like it depends on brocolli-concat selected strategy

https://github.com/broccolijs/broccoli-concat/blob/d08f478100ee920e7cac7a32accdd158f35fde08/index.js#L17

And in case of SimpleConcat strategy  file is not included into the bundle.

But if we enable source maps following code is working https://github.com/broccolijs/broccoli-concat/blob/d08f478100ee920e7cac7a32accdd158

[2019-09-26 19:43] AvinishSharma opened #680 "error message: Compile Error: Cannot find component 'your-component-name'"
Whey trying to use components created via ember cli, console errors out with the message "Cannot find component .....".
How I created the component:
ember generate component --in-repo-addon=my-engine-desktop my-nav
installing component
create lib/my-engine-desktop/addon/components/my-nav.hbs
skip lib/my-engine-desktop/addon/components/my-nav.js
tip to add a class, run ember generate component-clas

[2019-09-30 11:03] amk221 opened #681 "Duplicate plugin/preset detected"
[code]

Results in :

[code]

With

`"ember-cli": "~3.13.0"`
`"ember-engines": "^0.8.2"`

[2019-10-04 09:45] amk221 commented on #681
Any idea about this one?

Setting `lazyLoading` to false fixes the issue. But I don't want a lazy loaded engine.

[2019-10-04 13:41] rwjblue commented on #681
@amk221 what ember-cli-htmlbars version are you using? I'm currently trying to debug a similarly reported issue related specifically to ember-cli-htmlbars >= 4.0.0 + ember-engines (over in https://github.com/ember-cli/ember-cli-htmlbars/issues/297).

[2019-10-04 13:45] amk221 commented on #681
Demo repo https://github.com/amk221/-ember-engines-duplicate-plugin-error

[2019-10-04 13:45] rwjblue commented on #681
Thanks for that!

[2019-10-04 13:46] amk221 commented on #681
I think its `4.0.4`

[2019-10-04 14:02] rwjblue commented on #681
@amk221 - That repo didn't error for me, I ran:

[code]

[2019-10-04 14:40] amk221 commented on #681
Doh, I forgot to push. (pushed)

[2019-10-04 15:37] rwjblue commented on #681
Sent https://github.com/amk221/-ember-engines-duplicate-plugin-error/pull/1, but confirmed locally that ember-cli-htmlbars@4.0.5 fixes the issue.

[2019-10-04 15:37] #681 closed

[2019-10-04 15:52] amk221 commented on #681
Great, thank you!

[2019-10-12 03:18] abhilashlr commented on #680
@AvinishSharma Possible to share an ember-twiddle to replicate this issue?

[2019-10-12 15:25] hengtianjiya opened #682 "Error: Could not find module `ember-engines/engine`"
i used "ember-engines": "0.8.2" in my ember application, and i got this error. could you please help on this?
many thanks.
vendor.js:144833 Error: Could not find module `ember-engines/engine` imported from `myengine/engine`
    at missingModule (vendor.js:5025)
    at findModule (vendor.js:5036)
    at Module.findDeps (vendor.js:4946)
    at findModule (vendor.js:5040)
    at requireModule (vendor

[2019-10-22 23:36] villander opened #683 "CI/Travis broken"
https://travis-ci.org/ember-engines/ember-engines/jobs/601548509

I need help here @rwjblue @dgeb I tried fix, but without success.

[2019-10-26 17:35] villander commented on #262
@dgeb @rwjblue can you close this, please?

[2019-10-26 17:37] rwwagner90 commented on #262
@villander is it fixed?

[2019-10-26 17:40] villander commented on #262
@rwwagner90 yet, at least 1 year. We have all support of Fastboot on lazy and eager engines to route and routeless engines ; )

[2019-10-27 00:12] rwwagner90 commented on #262
@villander nice! I need to try engines out again. I haven't used them in years.

[2019-10-27 16:09] villander commented on #262
Definitely you need 😅. Feel free to reach out to me on Discord if you have any questions

[2019-10-28 16:09] villander commented on #106
I talked with @runspired about it, they're working on that and it's not an engines problem
**it's an ember-data problem**, there's nothing engines can do to help but it's also low priority because models are on the way out.

can we close this one, please?

cc: @dgeb @rwjblue

[2019-10-29 02:06] villander commented on #6
@rwjblue @dgeb can we close this, please?

[2019-10-29 13:14] #6 closed

[2019-10-29 18:25] #106 closed

[2019-10-30 13:17] #262 closed

[2019-10-30 17:30] AlexEdgcomb opened #685 "Lazy, dynamic loading 3rd party components"
We have the following situation:
* platform: Ember app platform that loads 3rd party simulation tools (non-Ember JavaScript) on demand
* Simulation tools : Not available at platform's build time. **Not able to use platform's components**

The platform dynamically loads (3rd party request for source) the simulation tools' HTML/CSS/JS when the user visits a specific page containing that tool.

We'd

[2019-10-30 20:47] dgeb commented on #683
All fixed on master now.

[2019-10-30 20:47] #683 closed

[2019-10-31 19:20] villander commented on #98
this already solved 🎉
can we close this @dgeb @rwjblue ?

[2019-10-31 19:30] #98 closed

[2019-10-31 19:40] villander commented on #108
It's doesn't make sense when you have 2 type of engines described on [RFC](https://github.com/emberjs/rfcs/blob/master/text/0010-engines.md#routable-vs-route-less-engines)

The real purpose of a engine is represent a `app` that will be compose into  a host. And we can't avoid the ability of the engine be a routable ou route-less by host app, this break the isolation and responsiblity of small app

[2019-11-06 02:01] villander commented on #673
@mydea can you provide a reproduction in the public repo? please

[2019-11-08 23:21] villander commented on #673
I'm using ember-engines 0.8.2 and it's working fine

[code]

check out - https://github.com/villander/ember-monorepo-demo/blob/master/host-app/package.json#L30

[2019-11-08 23:22] villander commented on #673
can you close this, @dgeb please?

[2019-11-08 23:23] villander commented on #682
can you provide a reproduction in a public repo, please?

[2019-11-11 07:17] mydea commented on #673
It's been a while that I tried updating, I postponed it then based on the issue mentioned here. I will try again when I find some time, and let you know if I still experience that issue!

[2019-11-11 07:17] #673 closed

[2019-11-15 18:19] Leooo commented on #80
We also have this use case on our side: different apps implementing appointment journeys, each of them have more or less the same steps in different orders (payment, questionnaire, selecting slots etc.), with different copies.

We would need basically the concept of a "container engine" to unify the appointment steps UX. Whereas current engines can well fit into a child <-> parent model relationsh

[2019-11-21 20:50] rickieshi commented on #512
I tried to specify root folder in `index.js` like so
[code]

[2019-11-21 20:54] rickieshi commented on #512
I tried to specify root folder in `index.js` like so
[code]

However, the manifest was not generated correctly because the[ included manifest generator ](https://github.com/ember-engines/ember-engines/blob/master/index.js#L9)uses `engines-dist` as default bundlesLocation. Is there a way to read this dynamically at build time?

[2019-11-21 21:45] SergeAstapov commented on #512
@rickieshi if it can not be read at build time from configuration, as an option, there could be env variable that defines custom folder name.

Just an idea

[2019-11-21 23:48] tomwayson commented on #386
Should we expect this issue to be resolved as of 0.8.2, b/c I'm on that version and still experiencing a problem w/ node_modules not being imported into my lazy engine's vendor file via ember-ace (which uses ember-cli-node-assets):

https://github.com/dfreeman/ember-ace/issues/10#issuecomment-557169123

[2019-12-05 13:49] amk221 opened #687 "Co-location"
I'm trying to use co-location in my Engine, but get this error:
[code]
[code]

(This works in the host app).

[2019-12-07 01:27] stefanpenner opened #689 "Master fails locally"
After some investigation, it appears the issue related to: https://github.com/ember-cli/ember-cli/pull/8959.

TL;DR the issue appears to be `ember-cli-babel` is not being found for the in-repo engines residing at `tests/dummy/lib`. This causes the ES6 ember imports to not be rewritten by the appropriate babel plugin.

[2019-12-07 22:31] rwjblue commented on #689
Thanks for poking at this! I am still not sure why it fails locally but not on CI 🤔

[2020-01-17 09:10] buschtoens commented on #587
So we've been working with our own `EngineRouterService` for over a year now, and only really hit one issue:

The existing eco-system does not play well with `transitionToExternal`, `replaceWithExternal` and the other `*External` methods. I would propose to drop them everywhere and instead merge the internal and external namespaces, asserting that an external route cannot have the same name as an

[2020-01-17 17:59] villander commented on #587
What is not working fine? can you explain more and provide some examples?

[2020-01-20 11:53] buschtoens commented on #587
What I mean is that the whole addon eco-system uses the standard `transitionTo` and `replaceWith` method names. Addons that e.g. use the core `RouterService` have no notion of external routes and would need to be updated to support linking to external routes from inside an engine.

I only see little value in having the `*External` variants in the first place. Yes, they make it more explicit whethe

[2020-01-20 12:33] buschtoens opened #691 "Merge internal and external route namespace, drop `*External` methods & `<LinkToExternal>`"
Sparked from https://github.com/ember-engines/ember-engines/issues/587#issuecomment-575540217.

# What?

I propose to drop `transitionToExternal` & `replaceWithExternal` as well as `<LinkToExternal>`. Instead, the external and internal route namespaces would be merged.

Name collisions are not allowed, meaning that names used in `externalRoutes` cannot be used as internal route names in `buildRout

[2020-02-04 22:09] Leooo commented on #417
adding back "ember-addon" keyword in our engines, instead of (or in addition to) "ember-engine" fixed it, on our side.

[2020-02-04 22:11] Leooo commented on #282
adding back "ember-addon" keyword in our engines, instead of (or in addition to) "ember-engine" fixed it, on our side.

[2020-02-11 18:54] lougreenwood commented on #691
I'm fairly new to Ember Engine's, so maybe my assumptions are wrong, but it appears that one benefit of this would be removing the confusion & ambiguity around how to transition to an external link. Currently, `transitionToExternal` exists on the route, but is not easily available on the controller.

This leads to use of the [`route-action`](https://github.com/DockYard/ember-route-action-helper) t

[2020-02-15 14:59] abhilashlr opened #692 "Using <LinkTo> dynamic @route inside engines does not work as expected"
I've an Ember app (3.16) containing an in-repo addon "ui" and an in-repo engine "admin".
Both the app and the engine share this addon.
One of the components of the addon contains a dynamic `<LinkTo>` usage like below:
[code]
Using this component inside the host app renders the links well and as expected. While trying to use the same component in the engine and rendering the same, throws the follow

[2020-02-18 03:54] roncodes commented on #692
Also experiencing the same problem on Octane

[2020-02-18 04:42] roncodes commented on #692
I made a pull request, but have a fix in my fork to use in meantime

[2020-02-20 13:19] #687 closed

[2020-02-25 01:39] sbflynn commented on #692
Also experiencing this in my engines that use a standalone (ie not in-repo) addon containing a <LinkTo/> element with a dynamic route - blocks our road to Octane.

[2020-02-25 04:39] abhilashlr commented on #692
@buschtoens @villander can you please take a look at this issue and the PR made?

[2020-02-26 15:53] Leooo commented on #124
[code]

[2020-02-28 13:31] Leooo commented on #401
https://github.com/ember-engines/ember-engines/issues/401#issuecomment-373750770 is not relevant anymore on our side since we updated our resolvers with https://discuss.emberjs.com/t/testing-engines-with-ember-qunit-3-4/14653/3

[2020-03-02 15:53] ndgibson opened #696 "Status and roadmap of ember-engines"
What is the status and roadmap of ember-engines?

Maybe I'm just not looking in the right places, but the latest info I can find is an unfinished [blog post series](https://medium.com/developer-paradise/ember-engines-the-what-what-not-and-when-part-1-49187c949db5) from last fall, which is a good intro but doesn't really address what's missing from ember-engines and what's needed for a 1.0 release.

[2020-03-02 15:54] ndgibson commented on #696
@trentmwillis @stefanpenner @rwjblue @dgeb @villander

[2020-03-04 17:25] abhilashlr commented on #696
@ndgibson I'm working on the part 2. I was moving my blogs from medium to my own hosted account. And had to spend more time on that. Once I figure out my content to the new host, I should have the part 2 done. Sorry about the content being unfinished.

[2020-03-13 18:26] chriskrycho commented on #692
This dates back to at least 3.12. Here's the outline of the problem as I discovered it:

1. Engines prefix route names by their mount point: [here](https://github.com/ember-engines/ember-engines/blob/d808e6b505f215c32028f210393144468bf8d2d3/addon/components/link-to-component.js#L23).
2. This is applied by calling `set` on the `LinkTo` component: [here](https://github.com/ember-engines/ember-engine

[2020-03-13 20:15] chriskrycho commented on #692
Further investigation: this is due to the changes made to the implementation of `<LinkTo>`  in 3.10, and specifically because the previous implementation stored the target route in `targetRouteName`, where the new one uses `route`, and `route` is a value on the `args` to `LinkTo`, so [this lookup](https://github.com/emberjs/ember.js/blob/d96d9aad52e010da977d813f479494397ee53ec6/packages/%40ember/-

[2020-03-13 20:16] chriskrycho commented on #692
cc. @chancancode @pzuraq @rwjblue

[2020-03-23 14:16] amk221 commented on #692
Can anyone confirm if this is the same issue: [small reproduction repo](https://github.com/amk221/-ember-engine-link-to-current)

[2020-03-23 14:32] amk221 commented on #692
Think it is. Fixing for now with `@route={{unbound this.myRoute}}`

[2020-03-24 16:39] SergeAstapov commented on #525
Once we upgraded Ember Data and Ember.js to 3.16, using `setupTest(hooks, { resolver });` approach in engine unit/rendering tests results in deprecation message being triggered by Ember Data:
[code]

triggered from here https://github.com/emberjs/data/blob/85dbc55e7989157307ab897ac0b126bd777a724b/packages/-ember-data/addon/setup-container.js#L13

Looking into what happens when `resolver` is provid

[2020-03-25 21:23] villander commented on #590
Will be fixed by #697

[2020-04-01 17:32] villander commented on #260
transitory addon until #669 be merged - https://www.npmjs.com/package/ember-engines-router-service.

[2020-04-01 17:32] villander commented on #587
transitory addon until #669 is merged - https://www.npmjs.com/package/ember-engines-router-service.

[2020-04-01 17:33] villander commented on #391
transitory addon until #669 is merged - https://www.npmjs.com/package/ember-engines-router-service.

[2020-04-01 17:33] villander commented on #648
transitory addon until #669 is merged - https://www.npmjs.com/package/ember-engines-router-service.

[2020-04-01 20:56] buschtoens commented on #691
Original [RFC 122 "Engine Linking"](https://github.com/trentmwillis/rfcs/blob/da84a13b9757c1f4b936e2a7c88da8f4ae4668c0/text/0000-engine-linking.md) for reference that @villander linked in a different thread. Thanks!

[2020-04-01 21:29] buschtoens commented on #691
So I just read through the RFC and can't really find a definitive reason, why the `*External` methods and `<LinkToExternal>` were added.

<details>
<summary>Following I quote all the parts that touch on it:</summary>

</details>

I think in summary the reasons for adding `*External` methods & `<LinkToExternal>` are:

- thought to positively impact the learning curve / experience, not "muddying two

[2020-04-03 20:38] gabrielcsapo opened #700 "the bump to ember-source should be a 1.0.0 release"
we should major bump the ember-source upgrade.

[2020-04-03 21:26] villander commented on #696
@ndgibson we're working in the 2018 roadmap - https://discuss.emberjs.com/t/engines-1-0-roadmap/14914

### Lazy Loading for Routeless Engines:

We have an issue opened  - https://github.com/ember-engines/ember-asset-loader/issues/56

with an experimental addon built by @buschtoens : https://github.com/buschtoens/ember-lazy-mount

### Test API:

We have a PR opened waiting for support and review #6

[2020-04-04 16:26] trentmwillis commented on #691
I honestly do not remember what the thinking was at the time. It's been years since that RFC and several years since I've used Ember, so I'm sure y'all are more informed at this point than I am 😅

[2020-04-04 18:34] villander commented on #691
I think you just saw the RFC updated losing the discussion @buschtoens

@trentmwillis I saw your reasons at the time in the RFC closed - https://github.com/ember-engines/ember-engines/pull/75

@dfreeman put it very well, even your suggestion @buschtoens  - https://github.com/emberjs/rfcs/pull/122#issuecomment-187245591

I totally agree with your decision @trentmwillis and at that point, we reacted

[2020-04-04 18:47] villander commented on #691
It's just about document a teach about `external-route`. That's was never the large new API to be learned, because we always keep the same representation for routes, but doing it clearly.

This approach is non-obvious when reading a route name whether it's internal or external. Also, it's a different thing because `externalServices` doesn't link engines, but just reuse a singleton from the parent

[2020-04-06 16:22] villander commented on #329
It was fixed by #595

can you close it @rwjblue @dgeb ?

[2020-04-06 23:08] gabrielcsapo opened #701 "Merging in docs codebase to this repo"
It would be extremely valuable, given that we have migrated the docs to utilize gh-pages and they are versioned, that we could merge those into this repo so that we could public apidocs as well.

Thoughts?

[2020-04-07 18:48] villander commented on #701
I think it's not possible because in ember-engines repo we have a lot of acceptance tests. as far as I know, is not possible to write acceptance tests using ember-cli-addon-docs

[2020-04-07 22:22] gabrielcsapo commented on #701
This is a good callout to have for the ember-cli-addon-docs project. There has to be a way to only configure the dummy application to boot the docs when we intend to edit the docs.

[2020-04-07 22:42] buschtoens commented on #701
I would heavily advise against using the dummy app for documentation. Instead I recommend switching this repo to a monorepo and leveraging https://github.com/ember-learn/ember-cli-addon-docs/pull/409 to maintain the docs inside the monorepo, but in a standalone app.

[2020-04-07 22:44] gabrielcsapo commented on #701
@buschtoens this is a great resources! I think moving ember-engines to a mono-repo and consolidating the major pieces to one place would be a great move forward.

[2020-04-07 22:53] villander commented on #701
Awesome idea @buschtoens 🏆

[2020-04-07 22:53] gabrielcsapo commented on #701
@villander found this example for us to work towards https://github.com/josemarluedke/frontile

[2020-04-07 22:54] gabrielcsapo commented on #701
I made this issue https://github.com/ember-engines/ember-engines.com/issues/91. We should probably get alignment on the direction of ember-engines from @rwjblue @dgeb

[2020-04-08 15:37] gabrielcsapo commented on #691
I think there are valuable signals gained from the two semantics. LinkTo is locally linking routes and LinkToExternal links routes that are explicitly external. It would be hard to disambiguate what context is being applied when we consolidate to one.

Take the following scenario:

engine 1 -> profile
   -> routes search
engine 2 -> search
   -> routes index

[code]

Do I link to the local route i

[2020-04-08 16:01] villander commented on #691
**I see 3 big trade-offs:**

1. non-obvious what engine and route we're linking
2. non-obvious when reading a route name whether it's internal or external
3. non-obvious to know where the route is defined as well (`routes.js` or `engine.js`)

[2020-04-09 08:49] buschtoens commented on #691
@villander I don't understand what you mean with the above, can you please explain?

I disagree with this. First of all, routes are singletons, too. Furthermore, routes, as opposed to services, don't even pass any state into the engine.

1. This is not true. You can statically tell where a route is coming from. _If and only if_ it's defined in `externalRoutes`, it's an external route. Otherwise it

[2020-04-09 11:19] villander commented on #691
@buschtoens I'm saying that it's not a large new API to ember-engines users learn, was just a new concept about `external-route` added by Engines. And it was well done.

I totally disagree, Routes are Singleton, but you don't share all state such as doing by `services`, the host app just pass the specific routes to link, but never the state of the singleton/router or RouteService how is done shari

[2020-04-09 14:35] lougreenwood commented on #691
Just some thoughts after reading the above, although don't attach too much weight, I'm relatively new to Engines...

One of the problems of that I see with the use of `<LinkToExternal />` etc is that they are optional, and that optionality doesn't just apply to use between projects, but also between developers on an single project - which leads to inconsistency in a codebase.

As soon as `<LinkTo/

[2020-04-09 15:34] villander commented on #691
They are required to link Engines in another Engine or host app. Maybe you won't link your engines, what can happen with `<LinkTo/> if you don't need it at the moment.

Surely! It's a trade-off of having a new API, requires new parallel constructs to support engines in addons that deal with routes like this one.

https://github.com/BBVAEngineering/ember-route-helpers#transition-to-external-destina

[2020-04-10 12:49] buschtoens commented on #691
Personally I am still not convinced by the arguments brought forth, that merging the namespaces is dangerous, considering that it would be impossible to clobber external routes with internal routes or vice versa.

To me it all boils down to this trade-off: being more explicit at the call site vs. having to update the full Ember ecosystem.

I think the latter one is a huge effort, that is simply no

[2020-04-10 15:51] mvrkljan commented on #106
@villander any chance you could point to a ticket in ember data repo where the related issue can be tracked? Thank you!

[2020-04-10 15:53] villander commented on #106
@runspired can you point it here, buddy? please

[2020-04-10 16:25] villander commented on #691
It already proposed in the [RFC discussion](https://github.com/emberjs/rfcs/pull/122#issuecomment-187245591), I'll just copy/paste here the reasons already described.

Pros
- Composable – works anywhere you're ultimately feeding a route name into a transition, regardless of whether it's part of Ember proper, other 3rd party code, or your own app logic

Cons:
- Pretty magical, and it requires new d

[2020-04-10 16:42] villander commented on #700
I think we can close this issue @gabrielcsapo. The release 1.0 is for the Roadmap - https://discuss.emberjs.com/t/engines-1-0-roadmap/14914

[2020-04-10 21:13] gabrielcsapo commented on #700
Might be good to open an issue that talks about 1.0.0 release here so we can track anything that needs to land before releasing

[2020-04-10 21:14] #700 closed

[2020-04-13 23:54] LucasHill opened #702 "Issue with monkey patched Route API and TypeScript"
I'm using ember-cli-typescript and ember-engines. Ember engines patches the route class to include the method 'transitionToExternal'. This does not exist on the type definitions for Ember's route. I don't believe there is a way to extend the type definition of a class in typescript without overwriting it. Could this be fixed in ember or are there any creative solutions? I do find the patching itse

[2020-04-14 01:02] umliuxin opened #703 "Params are always empty in transition object in beforeModel in page load"
Hi there,
identify an issue when trying to access query params in transition object in route beforeModel

#### some-route.js
[code]
#### engine/eng/routes.js
[code]
#### app/routes.js
[code]
I only see this issue within mounted engine, but not direct route in application.

Currently, the workaround is to use `this.paramsFor` to get the url param.
Wondering if this is a bug? or it is on purpose

[2020-04-14 17:28] noahgelman opened #704 "Adding service to engines in new app.js syntax"
The docs show how to add services to engines in the old app.js syntax. How would I do it in the new syntax?

OLD:
[code]

NEW:
[code]

Does the engine.js need any new syntax as well?
Using ember 3.14

[2020-04-22 11:48] PoslinskiNet commented on #352
@badmacstone you need to use a newer version of ember (it is included in ember from 3.7) or add specific addon that introduced this helper (for instance `"ember-composable-helpers": "*"` or another to you package.json in your engine).

[2020-05-05 00:40] dnachev opened #709 "Addon dedupe logic removes addons with preprocessTree and postprocessTree hooks"
At the moment, the logic in https://github.com/ember-engines/ember-engines/blob/master/lib/utils/deeply-non-duplicated-addon.js considers any addon, which exist in the host and has the same cache key for the requested tree to be a duplicate. This assumptions breaks for addons, which are providing `preprocessTree` and `postprocessTree` hooks.

The solution to this issue is not clear cut, because if

[2020-05-07 15:40] rwjblue commented on #417
Ya, engines have to be both `ember-addon` and `ember-engine`.

[2020-05-07 15:43] rwjblue commented on #525
Confirm, #653 is the path forward here.

[2020-05-07 15:48] rwjblue commented on #352
Closing, I think we have veered a bit off topic of the original issue (which seems to have been resolved).

[2020-05-07 15:48] #352 closed

[2020-05-07 15:52] rwjblue commented on #702
Neither ember-engines or ember-source provide the typings here. Ultimately, I think this is an issue for definitely typed not us here.

[2020-05-07 15:52] #702 closed

[2020-05-07 15:53] rwjblue commented on #701
Hmm, how is it valuable? What do we gain?

[2020-05-07 15:53] #329 closed

[2020-05-07 15:57] rwjblue commented on #704
You would do roughly the same as the other things in your before/after examples.

[code]

[2020-05-07 15:57] #704 closed

[2020-05-07 16:18] amk221 commented on #124
This is still an issue with a fresh ember app, here is an example repo with a failing test

https://github.com/amk221/-ember-link-to-external-not-found/commit/5220c64f1c155a17e6207cb8a64ed6a7802ca8eb

Please can you reopen it?

[2020-05-09 19:45] amk221 commented on #448
I'm also experiencing this, I created a failing test here https://github.com/ember-engines/ember-engines/issues/124#issuecomment-625354903

[2020-05-12 18:26] bbansalWolfPack opened #710 "host app calling in-repo engine components"
If I have in-repo engines, is there a way my host app can call components defined in the in-repo engine lib folder?

[2020-05-20 13:14] mastastealth commented on #602
@jizhu Do you recall the solution? :sweat_smile:

[2020-05-20 20:04] Leooo commented on #502
A gotcha we had recently here and that may be of use to some: we are splitting our old shared addon into two bits:

* addon_1 with models / services / test helpers / mirage helpers; that bit doesn't actually need to go into the engines' `dependencies`, instead it can be provided by the parent app / dummy app through the engines' `devDependencies` (for models, that's because the parent app provides

[2020-05-22 11:27] Rajkiran0147 opened #711 "Maximum call stack size exceeded on installing engines"
I am trying to use Ember Engines for the first time. I just did ember install ember-engines and restarted the dev server to find the page crashing. Attaching console error screenshot for reference

<img width="1325" alt="Screenshot 2020-05-22 at 4 22 28 PM" src="https://user-images.githubusercontent.com/16320704/82663359-25464b00-9c4d-11ea-9dd7-c449f1314ad3.png">

Can anyone help ?

[2020-05-22 15:27] Leooo commented on #106
@villander @runspired , I second @mvrkljan in asking for a link to follow the related issues in ember-data, before closing such thread please.

We are also looking for a way to have engines declare their own models while still persisting parent app's store / models.

[2020-05-23 16:04] rwjblue commented on #711
Looks like an injection cycle to me (e.g. where we are attempting to inject some service into all things of a given type, but then having another service / injected item depend on the thing being created initially).

We'd need to figure out what is causing the injection cycle to be able to have a path forward. I think you should be able to step into the stack and see what objects are being created

[2020-06-02 18:26] peyloride opened #712 "Recommendations about an architecture"
Hello all, I was trying to figure out how to nicely compose two apps from engines. Let me explain with an example;

APP A is a big app and now we want to make an another app, called B, which is a subset of APP A. Main logic is %90 percent same, but design differs almost entirely.

For example, app A has these features;
- Feature X
- Feature Y
- Feature Z

We want to build an another app (App B) wi

[2020-06-19 12:20] igorT opened #715 "Some of the readme links go to dead pages"
None of the links under `Core Feature Guides` work.

[2020-06-20 01:09] villander commented on #715
we already have a PR to fix it #706

[2020-06-23 16:27] taltcher opened #717 "Is there a way to export in-repo engine component to the host app?"
I'm looking for a way to export components defined in my `in-repo engine` to be used in the host app - I haven't found what should I defined in both `package.json` files in order to make it work properly

[2020-07-02 07:38] lougreenwood commented on #124
I just hit this issue too...

[2020-07-11 05:57] vishwasraj opened #720 "@ember/render-modifiers not working inside engines"
Ember version: 3.16.0

Engine `package.json` file
[code]

Parent Application `package.json` file

using `"@ember/render-modifiers": "^1.0.2",` in Parent application

Most of the addons added work, except for `@ember/render-modifiers`

[2020-07-14 13:58] rwjblue commented on #720
Define "not working", what happens? Is there an error? Can you provide a small reproduction app?

IMHO, this _should_ work (and is known to work in applications that I have worked in).

[2020-07-16 16:52] justintmckibben opened #721 "Remove ableist language from code generation"
Specifically referring to the usage of "dummy". Many people within the dev community are trying to improve language used within software to be more inclusive. Things such as master/slave, dummy, FactoryGirl, etc.

Here is Google's documentation on ableist language as a reference: https://developers.google.com/style/inclusive-documentation#ableist-language

It seems like a small change that can avo

[2020-07-16 16:55] rwjblue commented on #721
Hmm, I'm not really sure about this one. I'm not completely opposed to changing to a different name (though it is not obvious that usage of the word "dummy" in this context is actually negative / ableist), but it needs to be done at a different level (e.g. ember-engines isn't really the thing that decides this name).

[2020-07-16 16:59] justintmckibben commented on #721
What level would be the right level / where should I file this issue?

[2020-07-16 17:04] rwjblue commented on #721
The change would have to be made in ember-cli itself, as ember-engines (and its blueprint) is mirroring the standard app name. I'm not sure if this would warrant an RFC (in emberjs/rfcs), but seems like it might. It certainly would affect all ember-cli addon developers (guides, docs, etc included), which might suggest that it should be an RFC discussion... 🤔

[2020-07-16 17:56] #721 closed

[2020-07-16 17:58] stefanpenner commented on #721
Closing, not because "dummy" shouldn't be improved, but that such a change will require the above mentioned process, and this isn't the right issue tracker for this.

http://github.com/ember-cli/rfcs is most likely the best venue, and here is a similar RFC https://github.com/emberjs/rfcs/pull/639 that will serve as a great reference for what is expected for changing the `dummy` name.

[2020-07-16 19:41] dgeb opened #723 ""Octanify" templates in test packages"
Modernize templates and update `packages/ember-engines/.template-lintrc.js` once #719 lands.

[2020-07-17 10:26] amk221 commented on #678
This is no longer an issue for me, now that my components have all be co-located in `lib/<engine>/addon/components` instead of `pods/components`.

[2020-07-17 16:07] dgeb commented on #715
Closing now that #706 has been merged. Thanks @villander!

[2020-07-17 16:07] #715 closed

[2020-07-17 16:57] dgeb opened #724 "Resolve teardown issue introduced in Ember v3.20"
The [teardown test for routeless engines](https://github.com/ember-engines/ember-engines/blob/master/packages/ember-engines/tests/acceptance/teardown-test.js#L23-L38) is now being skipped because it otherwise fails for Ember v3.20 and later.

This failure is likely due to an issue with the destroyables implementation that landed in v3.20.

/cc @rwjblue

[2020-07-26 10:35] ShaharAvigezer commented on #476
hi @garno I had the same issue and you just saved me so much time! thank you 🙏

[2020-08-13 19:18] thousand opened #725 "Duplicate content in routeless engines"
I spun up a new ember app with a routeless engine in-repo. The engine is mounted in the `application.hbs` file in the root application. Content that appears in the `{{outlet}}` of the root app's `application.hbs` template also appears where there is an `{{outlet}}` in the routeless engine's `application.hbs`.

[I created a demo app to show this in action.](https://github.com/thousand/ember-engines

[2020-08-13 19:22] thousand opened #726 "routeless in-repo-engine blueprint mounts the engine as routed"
When running `ember g in-repo-engine foo --type routeless`, the blueprint adds a routed mountpoint in `router.js` and doesn't add `{{mount "foo"}}` anywhere.

[2020-08-16 04:16] rakesh5208 opened #727 "modelFor return undefined, in deactivate route event"
I have an ember app, and here is the routing for **messages**

[code]
in the ```messages.list``` route, while **deactivating** the route, following code snippet is running,
[code]
here, on discardFilter, ```this.modelFor('messages.list');``` return the object from model hook.

the same app, i am converting the **messages** to the engines, in the host app, mounting the route as
 ```this.mount('mess

[2020-08-16 04:56] rakesh5208 commented on #727
while debugging, i have found inside the **message** engines ```Ember.getOwner(this).lookup("route:messages.list")``` return **undefined**,  while ```Ember.getOwner(this).lookup("route:list")``` return the router instance object.

```modeFor``` in the route.js, have same prefixed with the mounting path name, cause the **lookup** instance to return undefined.

[2020-08-17 22:52] levimllr commented on #692
Echoing what others have said, this issue is very real. Thanks @chriskrycho for outlining the problem! I racked my brain on this guy for a good spell and ultimately reproduced it in [a very simple Ember app + engine](https://github.com/levimllr/ember-engine-router-weirdness).

I've worked around it with `@route="{{this.myRoute}}"`, but @amk221 I like your way better 👍

[2020-08-19 23:27] ezy commented on #406
I'm also interested in this. A good example use case for this, is mounting an engine for static pages. With the current route structure each static page has to be mounted in it's own engine which is an anti-pattern for DRY code. The root path could be set with a flag such as:

[code]
This would work where `rootNamespace` is true by default, but could be overridden using a false flag. It works like

[2020-08-20 00:33] ezy commented on #406
See also https://discuss.emberjs.com/t/mounting-two-engines-in-ember-engines/16237

[2020-08-26 15:27] tmquinn opened #728 "Nested engines are throwing duplicate transform name warnings"
If I have an engine that is a dependency of another engine, I see the following WARNINGs during the build:

WARNING: Addon "amd-transform" is defining a transform name: amd that is already being defined. Using transform from addon: "amd-transform".
WARNING: Addon "ember-cli-fastboot" is defining a transform name: fastbootShim that is already being defined. Using transform from addon: "ember-cli-fa

[2020-09-03 13:59] #724 closed

[2020-10-14 05:13] cdeng opened #732 "Requiring service dependency declaration in `engine.js` is fragile"
Was seeing a couple of instances where forgetting to declare services in engine dependencies caused production issues. There isn't a check that ensures services invoked in engines are properly provided by the host application. So if the service is missed in the `engine.js` list, the service will not be provided by the app and might cause issues.

I was thinking if there is a way that `ember-engine

[2020-10-14 12:22] rwjblue commented on #732
The "request" (what the `addon/engine.js` specifies) and "passing" contexts (what the app says that it provides to engines) are both independent, and I can't quite tell which side you are referring to here.

I definitely think it would be reasonable to add an option to `addon/engine.js` that would throw an error if it requests a service that is not passed in by the host, we could even entertain ch

[2020-10-14 19:01] cdeng commented on #732
Having an option that ensures the service contracts between the host and engine is helpful for the part of the contract. Besides that, I was wondering if we can come up with a way that eliminates or automates the process of specifying services in `addon/engine.js` based on what services that addon is needed/invoked? I think eliminating the needs or validating the explicit declaration of services i

[2020-10-16 10:43] sabarivelanganesan opened #733 "queryparams return boolean value as string"
Hi,
When I use query params value as boolean it returns value as string("true" or "false") instead of(true or false).

Example:
controller/box.js
`export default Controller.extend({`
  ` queryParams : ['canOpen'],`
   `canOpen: false`
`});`

template/box.hbs
`{{#if canOpen}}`
`This block will happen`
`{{/if}}`.

In the functionalty, I mentioned above. We are getting **canOpen**  variable as string

[2020-10-16 16:10] rwjblue commented on #732
Sounds good, happy to help folks with a PR to do this.

I've discussed this a bit with a few coworkers (@aghassemi). I'm not 100% opposed (and in fact I think @aghassemi has a spike that functions properly), but we have to be pretty careful here. The goal of ember-engines is to provide a level of isolation between the engine and the host application and a setting that effectively lets the engine a

[2020-10-16 16:11] rwjblue commented on #726
Eeck, that's definitely not right! I don't think there is an obvious place to add a `{{mount "foo"}}`,but we definitely should not be adding anything to the `router.js`.

[2020-10-16 16:12] rwjblue commented on #725
Yikes. This is definitely a bug. I _think_ that it is a bug in `{{mount` itself (which would make this a problem in Ember).

[2020-10-20 20:59] malatin3 commented on #692
Has there been any movement on this issue? Been blocking us from upgrading since early in the year.

[2020-10-21 00:47] gabrielcsapo commented on #728
https://github.com/rwjblue/ember-cli-cjs-transform/issues/22

[2020-10-21 19:10] chancancode commented on #692
Oh huh. I had no idea that the engine addon reopened the link component (which we [just deprecated](https://github.com/emberjs/rfcs/pull/671)). Does anyone know if this separation is necessary at all? (i.e. what functionality does the engine addon provide on top of the basic engine support in ember, that requires the additional link-to functionality to be separated out?)

[2020-10-21 23:50] elwayman02 commented on #732
I think the ideal from my perspective is at minimum something that warns the developer if the app is not providing all of the services the engine has specified as dependencies. Combined with linting to ensure that the engine doesn't use any external services it hasn't declared as dependencies, this would make use of engines a lot more robust and eliminate the common pitfalls of having to specify t

[2020-10-22 13:23] rwjblue commented on #692
I believe that this was resolved by #735 (released in 0.8.8). I think in the long run that we will resolve this category of issues much better by moving core functionality for engines (like the link-to modifications, and possibly link-to-external) into Ember (as @chancancode is looking into).

[2020-10-22 13:23] #692 closed

[2020-10-22 14:53] villander opened #736 "[STATUS] Roadmap 1.0"
2018-2020 roadmap - https://discuss.emberjs.com/t/engines-1-0-roadmap/14914

## Roadmap Status

### Lazy Loading for Routeless Engines:

[ ] We have an issue opened  - https://github.com/ember-engines/ember-asset-loader/issues/56 ( waiting for @rwjblue and @dgeb )

with an experimental addon built by @buschtoens : https://github.com/buschtoens/ember-lazy-mount

### Test API:

[ ] We have a PR open

[2020-10-22 18:05] elwayman02 commented on #667
I believe this is fixed now with #735 @rwjblue @HenryVonfire

[2020-10-22 18:07] elwayman02 commented on #652
@raghavbk @mwalper look to #735 as a template for how to fix this. I provided advice in that PR for 3 other areas that need to be converted to computed properties, for both `link-to` and `link-to-external`. Applying those additional fixes should resolve this issue for you, I think.

[2020-10-26 18:42] chancancode commented on #692
I submitted a [PR to ember](https://github.com/emberjs/ember.js/pull/19223) to fix this, can I get a review from people who are more familiar with engines?

[2020-10-30 00:45] #667 closed

[2020-11-10 09:57] lougreenwood commented on #525
It seems that this solution breaks the usage of `ember-cli-mirage` in integration tests in an engine.

What I currently believe is happening in:

- `e-c-m` registered it's config in an [initialiser](https://github.com/miragejs/ember-cli-mirage/blob/ba5ef278a5daa8971ab20a6210f383774d1281ca/app/initializers/ember-cli-mirage.js#L16)
- the initialiser runs on test start, before `setupRenderingTest(hoo

[2020-11-18 14:05] netes commented on #512
Any news on this maybe?

[2020-11-18 23:50] tasha-urbancic commented on #645
I am coming into the same use case right now. Did you ever figure this out @swarnavallis ?

[2020-11-19 01:57] rwjblue commented on #512
I don't think any one has picked it up, yet. Though I think it is possible if someone has the time.

[2020-11-29 23:07] villander commented on #733
@sabarivelanganesan could you please provide some reproduction in a public repo?

[2020-12-03 02:51] AbhinavVishak opened #738 "includeRoutesInApplication option does not initialize the lazy engine routes"
[code]
Change the lazyLoading option to `{ enabled: true, includeRoutesInApplication: false }`
Add a simple `console.log('foobar')` inside the buildRoutes function in `lib/lazy-engine`
`ember s`
go to `localhost:4200/lazy-engine`

The console log never shows up. Adding a breakpoint/logpoint on the define("lazy-engine/routes") triggers it.

[2020-12-03 22:34] gtb104 commented on #738
I created a reproduction (https://github.com/gtb104/lazy-engine).

In it I've defined:
[code]

When the app loads in the browser, I get the following error:
`Uncaught (in promise) Error: Assertion Failed: You attempted to generate a link for the "foo" route, but did not pass the models required for generating its dynamic segments. There is no route named lazy-engine.foo`

What I expect to happen i

[2020-12-05 15:45] villander commented on #738
@gtb104 which are the steps to test it? should I access the route? `http://localhost:4200/foo` ?

Please give us more details and then I'll try to debug it

[2020-12-05 15:54] gtb104 commented on #738
Clone the repo, start the server, then open a browser and go to localhost:4200. In the console you’ll see errors about it not being able to build the link to the `lazy-engine.foo` route.

Kindest regards,
Geoff

[2020-12-05 16:05] villander commented on #738
@gtb104 @AbhinavVishak I'm not sure if this behavior is unexpected, given we don't any documentation clear about this attribute I can see in the codebase that we have a JS doc saying that when this attribute is `false` we don't want to promote the routes into the host.

What the behavior expected here? Is there another version of ember-engines where it worked as you expected?

https://github.com/e

[2020-12-05 16:45] gtb104 commented on #738
Perhaps I don’t understand the intent of PR425 (https://github.com/ember-engines/ember-engines/pull/425).  It states:

Introduces a new lazyLoading.includeRoutesInApplicationoption which enables lazy engines to output their routes.js file to a stand-alone file rather than bundling it into the hosts vendor.js file.

This will enable engines to be discovered dynamically at runtime rather than requir

[2020-12-20 19:56] villander commented on #738
could you please clarify if it's the expected behavior @rwjblue?

[2020-12-22 18:45] chriskrycho opened #740 "Support change for Ember 3.24 LinkTo refactor"
emberjs/ember.js#19223 made a breaking change to the private implementation of `<LinkTo>` which Engines relies on. This breaks any existing user of Engines which upgrade to Ember 3.24. We need to add a conditional handling for `gte("3.24.0")` to *not* apply the monkey-patch.

[2020-12-22 18:46] chriskrycho commented on #740
cc. @rwjblue @villander

[2021-01-06 20:07] lougreenwood commented on #504
Also just came across this issue when trying to stub values on the `router` service for an engine in an acceptance test.... I suppose there was no progress?

[2021-01-07 09:50] Leooo commented on #504
@lougreenwood would that help you?

[code]

and use it in a `beforeEach` hook:
[code]

[2021-01-07 21:01] jonchay commented on #124
This seems to still be an issue. Setting up the tests as described in the docs:
[code]

[2021-01-08 09:57] Leooo commented on #124
Following is working on our side (on Ember 3.12):

[code]

[2021-01-08 14:23] chriskrycho commented on #740
With Ember 3.24 out, this is now blocking any app from upgrading which depends on Engines!

[2021-01-12 08:33] fkm-adfinis commented on #740
It also breaks the pipelines before upgrading because of `ember:try`.

[2021-01-14 15:18] #740 closed

[2021-01-14 15:50] rwjblue commented on #740
Fixed in ember-engines@0.8.9.

[2021-01-14 16:03] chriskrycho commented on #740
Thanks so much, @rwjblue!

[2021-01-22 09:14] vijaymnishanth opened #748 "Nested in repo routable engines are not included in asset manifest json file"
While having nested engines the the asset details are not generated for the nested in repo routable engines, need to make manual meta tag for those engines to work

app structure
main-app
|___________ routable-engine-app
                   |______in-repo-routable-engine-1(lazy)
                   |______in-repo-routable-engine-2(lazy)

asset maifest json was only generated for routable-engine-app

[2021-01-28 18:20] chriskrycho opened #749 "0.8.10 fails because an Embroider macro doesn't support parallel transpilation"
Error output:

[code]

[2021-01-28 21:42] rwjblue commented on #749
This was introduced by  https://github.com/ember-engines/ember-engines/commit/bdc186ed8f98aad85eb734c26ba5b3ec5dab246b, apparently `@embroider/macros` is not parallelizable.

[2021-01-29 00:21] ezy commented on #124
Having come from working on Jest where common methodology is stubbing components that are dependancies but not required in the test, I followed the same approach in my Ember integration test. Was a nice easy way to get around the error.

[code]

[2021-01-29 19:28] #749 closed

[2021-02-19 17:09] chrisvdp opened #753 "Cannot read property 'paths' of undefined"
While upgrading from `ember-engines` 0.8.8 -> 0.8.12 we experience the following issue in our CI test suite; `Cannot read property 'paths' of undefined`. It seems that https://github.com/ember-intl/ember-intl/blob/40aafd72b27344b109b9faba3097552b92f5d42f/index.js#L47 no longer finds the engine. Looking at the code it is checking that the keywords in package.json include `ember-engine`. The failing

[2021-02-25 23:58] camerondubas opened #754 "Loading substate isn't entered when lazily-loaded engine is mounted to root of host app"
Hey all👋

When an lazy-engine is mounted to the root of the host app, the loading suvbstate will not be entered while the assets for the engine are being downloaded.

The loading state **is** entered in these cases:
 - After the assets are downloaded and the engine's application route is loading
 - If the engine is mounted to a subroute on the host application.

The docs for lazy engines indicates

[2021-03-01 10:21] bertdeblock commented on #625
👋! I just ran into an "issue" as well because of this. I couldn't get a dependency injection to work as `ember-engines` [camelizes the engine's name](https://github.com/ember-engines/ember-engines/blob/master/packages/ember-engines/addon/-private/engine-instance-ext.js#L61) (my engine's name contains a scope as well). I'm also in favour of dropping this and have users define the correct name thems

[2021-03-01 17:45] buschtoens commented on #625
@bertdeblock personally I totally agree, that this is annoying. A PR changing this would surely be appreciated. I will also bring this up in the next ember-engines dev meeting on Friday next week. You'd also be welcome to join yourself!

As for the PR, I think we need to still support the old way, but issue a deprecation warning, when we detect its usage.

[2021-03-01 18:17] bertdeblock commented on #625
@buschtoens I'd be happy to help with this. I already had something working locally to support both options actually, but I didn't create a PR yet because I wasn't sure if a change like this requires an RFC of some sort.

[2021-03-01 18:32] buschtoens commented on #625
I think it does not require a fully-fledged RFC, as it doesn't really change anything in the framework core, I believe. And it's not a breaking change yet, but just a deprecation, it's also fine. But @rwjblue and @dgeb be the judges on this.

If you can hold out until next week Friday, I'd love for you to join our meeting and we can also discuss it more "officially".

[2021-03-04 18:15] charlespierce commented on #486
This is a very old issue, but I just ran into this and was able to solve it by moving `ember-engines` into `devDependencies`. That way I could still `require` it in, but I didn't have the `Failed to load asset manifest` error.

[2021-03-09 08:01] aghassemi opened #755 "app.import() content can end up in app's vendor instead of engine's"
If a **_transitive_** dependency of a lazy-engine uses `app.import()` to load a package, it will end up in app's `vendor.js` instead of `engine-vendor.js`.

For example assume `ember-d3` uses `app.import` to load `d3.js`, if `my-lazy-engine` depends on `ember-quill`, everything is fine and `d3.js` ends up in `engine-vendor.js`.  But if `my-lazy-engine` depends on `another-addon` which depends on `

[2021-03-09 12:45] dgeb opened #756 "Prepare for addition of engine-specific router service"
Engines pre-date the introduction of the `router` service. Ideally, when that service was introduced, engines should have simultaneously introduced their own engine-specific `router` service to provide restricted access to an engine's own routes. Unfortunately, this was not done, and engines instead unintentionally inherited their host's `router` service, breaking the encapsulation that is a goal

[2021-03-09 13:51] buschtoens commented on #756
Sounds exactly like what I recall from the meeting. 👍🏼

I have a few minor notes though:

Unconditionally creating a proxy `router` service in every engine may cause unintended side-effects, e.g. some addon or user code may check for the existence of a `router` service and use different adapters then. Considering that addons that deal with routing need to special-handle engines in one way or anoth

[2021-03-09 14:27] rwjblue commented on #756
Ya, sounds like a good summary here to me.

[2021-03-10 07:01] bertdeblock commented on #717
The best way to share components between an engine and its host app is to put those components into a separate addon and define said addon as a dependency for both the engine and the host app.

[More info here.](https://ember-engines.com/docs/sharing-code)

[2021-03-10 07:13] bertdeblock commented on #635
@villander It seems dependabot is now enabled for this repository. I think this one can be closed?

[2021-03-10 07:18] bertdeblock commented on #590
Can we close this?

[2021-03-10 12:27] bertdeblock commented on #36
@rwjblue I was going through some issues and was wondering if this one is still relevant? Since the transition methods on routes will be deprecated and an engine router is in the works.

[2021-03-10 12:33] #590 closed

[2021-03-10 15:35] #635 closed

[2021-03-10 16:08] rwjblue commented on #717
Thanks @bertdeblock! Going to close this now...

[2021-03-10 16:08] #717 closed

[2021-03-10 16:08] rwjblue commented on #710
Thanks @bertdeblock! Going to close this now...

[2021-03-10 16:08] #710 closed

[2021-03-10 19:23] bertdeblock commented on #254
@knownasilya Since JSHint isn't provided anymore by ember-cli, I think it's okay to close this?

[2021-03-10 19:54] dgeb commented on #254
Agreed, thanks @bertdeblock!

[2021-03-10 19:54] #254 closed

[2021-03-10 20:38] bertdeblock commented on #121
I don't think `ember-engines` alters anything about the `modelFor` method on routes and AFAIK route names always need to be defined using dots instead of slashes. I think we can close this issue?

[2021-03-10 20:45] villander commented on #756
Great summary, thanks @dgeb

[2021-03-10 20:53] bertdeblock commented on #346
I think we can close this? Configuring other addons should be possible by putting the config inside the engine's `index.js` file, taking into account of course that said addon supports being a nested dependency.

[2021-03-10 21:20] bertdeblock commented on #644
I think we can close this due to lack of a reproduction? AFAIK services work perfectly inside engines. Maybe you were trying to access the engine's service inside the host app? (which is not possible).

[2021-03-10 21:24] bertdeblock commented on #680
Is this still an issue?

[2021-03-10 21:26] bertdeblock commented on #682
Is this still an issue? I would close otherwise since there's no reproduction.

[2021-03-10 22:10] #682 closed

[2021-03-10 22:11] #680 closed

[2021-03-10 22:15] #346 closed

[2021-03-10 22:15] #121 closed

[2021-03-11 00:33] rwjblue commented on #36
Yep, totally right

[2021-03-11 00:33] #36 closed

[2021-03-11 07:25] bertdeblock commented on #753
Hi @chrisvdp we use ember-intl plus the latest version of ember-engines at work without any issues (that I'm aware of). Maybe a reproduction could help?

[2021-03-11 07:37] bertdeblock commented on #733
@sabarivelanganesan What ember.js version are you using?

[This old ember.js issue](https://github.com/emberjs/ember.js/issues/4570) seems related. [Someone mentions the same behaviour](https://github.com/emberjs/ember.js/issues/4570#issuecomment-38331663). Unless we get an up-to-date reproduction, I think we can close this issue since the other issue is closed as well?

[2021-03-11 08:16] bertdeblock commented on #720
@vishwasraj Any updates on this? I can confirm what @rwjblue says. Render modifiers work fine for us as well inside engines.

[2021-03-11 08:27] bertdeblock commented on #712
@peyloride Since this doesn't really seem to be an actual issue with `ember-engines`, it might be better to ask this on the Ember Discord (if still relevant of course) and close this issue? I think you're better off asking for guidance on Discord than here since most people come here to look for / solve / report issues.

[2021-03-11 08:28] peyloride commented on #712
Yeah you are right. I'm closing the issue now.

[2021-03-11 08:28] #712 closed

[2021-03-11 09:23] bertdeblock commented on #676
The linked PR mentions in its description that it should fix this issue, if so I think we can close this one?

[2021-03-11 09:25] bertdeblock commented on #689
👋 Checking if this is still an issue or if we can close this?

[2021-03-11 09:30] bertdeblock commented on #655
@arellanoelden It's hard to tell if this is an actual issue with `ember-engines` based on the info provided. It doesn't sound like it is, but I could be wrong of course. Have you tried creating a reproduction? Maybe also in a regular Ember app to rule out if it's an ember-engines issue or not. If this is not an issue anymore you can close this I think.

[2021-03-11 09:33] bertdeblock commented on #636
Due to no response I think we can close this one?

[2021-03-11 12:30] bertdeblock commented on #542
Couldn't reproduce this in a brand new engine, so I think this is resolved and we can close this ticket.

[2021-03-11 12:39] bertdeblock commented on #649
Tested this issue with the steps provided and if there was an error, it seems to be resolved now. I can start the server without any issues and also mount the engine inside the dummy app. Creating a production build also works fine.

[2021-03-11 13:10] bertdeblock commented on #671
Tested this and could not reproduce at the moment so I'm guessing this is resolved?

My test looks like this:
- Created a new engine using the engines blueprint
- Installed ember-data as a dependency
- Generated an application adapter
- Did a lookup of the application adapter both in the engine as well as in the host app
- Lookup in the engine returns the adapter, lookup in the host app returns un

[2021-03-11 13:23] bertdeblock commented on #703
@umliuxin If this is still an issue, could you provide a reproduction? I tried this out locally and it works for me, but maybe it's a timing issue? I don't know exactly when `transition.to.params` is supposed to be populated.

[2021-03-11 15:09] #689 closed

[2021-03-11 15:10] rwjblue commented on #689
Ya I think we've changed things around quite a bit and CI is now properly passing.

[2021-03-16 14:41] rwjblue commented on #703
Going to close for now, happy to reopen with a demo repo reproduction.

[2021-03-16 14:41] #703 closed

[2021-03-16 14:41] rwjblue commented on #671
Going to close for now, happy to reopen with a demo repo reproduction.

[2021-03-16 14:41] #671 closed

[2021-03-16 14:42] #649 closed

[2021-03-16 14:42] #542 closed

[2021-03-16 14:42] #636 closed

[2021-03-16 14:42] #655 closed

[2021-03-16 14:42] rwjblue commented on #655
Going to close for now, happy to reopen with a demo repo reproduction.

[2021-03-16 14:43] #676 closed

[2021-03-16 14:44] rwjblue commented on #486
Thanks for chiming in @charlespierce!

I'm going to go ahead and close for now, folks running into this in the future: please open a new issue with a demo repo reproduction...

[2021-03-16 14:44] #486 closed

[2021-03-16 15:01] rwjblue commented on #754
This is definitely odd, and seems like a bug but it is most likely in Ember itself (or router_js).

[2021-03-16 15:03] #720 closed

[2021-03-16 15:03] #733 closed

[2021-03-16 22:09] ezy commented on #727
See https://github.com/emberjs/ember.js/issues/17419 for related info

[2021-03-17 15:26] jherdman commented on #736
Having this resolved for 1.0 would be dandy too https://github.com/ember-engines/ember-engines/issues/625

[2021-03-17 18:16] dgeb commented on #625
I fully support this approach. We should deprecate camelized names in favor of using exact package names.

I agree here as well.

[2021-03-17 19:20] villander commented on #625
I fully agree!

Feel free to create a PR @bertdeblock I'd love to review that

[2021-03-18 10:24] bertdeblock commented on #625
Happy to create one when I find some time in the coming days 👍

[2021-03-19 11:47] #625 closed

[2021-03-23 18:22] bertdeblock commented on #748
@vijaymnishanth Can you provide a reproduction? That might be easier for people to investigate and help you.

[2021-03-23 19:16] bertdeblock commented on #624
If I understand correctly, the question is if a *route-less* engine can have routes internally, which I don't think is possible?

[2021-03-23 19:17] bertdeblock commented on #637
Is this still an issue?

[2021-03-23 19:28] bertdeblock commented on #437
Since `Route#renderTemplate` will be deprecated in Ember v3.27.0 and this issue is quite old, can we close it?

[2021-03-23 19:35] bertdeblock commented on #496
This is now covered here: https://ember-engines.com/docs/testing-acceptance#lazy-engines, so I think this issue can be closed?

[2021-03-23 19:39] bertdeblock commented on #311
Since this issue is quite old and the linting setup nowadays is pretty different, can we close this?

[2021-04-01 00:01] rwwagner90 commented on #664
@rwjblue can we not use `async/await` in engines?

[2021-04-06 11:03] taltcher opened #763 "Pod style with tailwind inside in-repo engine doesn't processed correctly"
Hi, I'm having an issue when trying to use tailwindcss inside an in-repo engine. I have tailwindcss package installed in my main application - but when trying to write custom SCSS files inside my in-repo engine - using tailwindcss classes, for example:
[code]
As part of the build process, it takes that SCSS as is so it doesn't actually work. Is there a way to make it work without installing tailwi

[2021-04-10 13:10] bertdeblock opened #765 "[RFC] Deprecate `{ 'engine-service': 'host-service' }` syntax for service dependencies"
The main issue I experience with the current syntax is readability. I often forget which is which. Is the key the service name in the host and the value the service name in the engine or is it the other way around?

I would like to propose something like this:
[code]

`name` and `as` are not ideal, but I hope it illustrates the idea.

Alternative:
[code]

Other suggestions and/or feedback apprecia

[2021-04-15 17:17] sebastianhelbig opened #767 "Lazy loading changes output path of assets"
When enabling lazy loading the output path of assets inside engines changes as everything is put inside an `engines-dist` folder. Is there a way to have the output path be the same or do I need to create a helper/util for that manually? How are others solving this?

I.e. with lazy loading:
[code]

without lazy loading:
[code]

[2021-05-21 16:37] #723 closed

[2021-05-21 16:51] dgeb commented on #756
Closing now, since this has effectively been resolved via the deprecation introduced in https://github.com/ember-engines/ember-engines/pull/764. As discussed in that PR, the assumption about automatic injection of the host's `router` was incorrect. This is greatly simplifying, since we only needed to deprecate injection of the `router` service and no longer need to deal with the complexities of a

[2021-05-21 16:51] #756 closed

[2021-05-21 16:51] dgeb commented on #756
The one piece left todo is this:

This can be handled in a subsequent PR.

[2021-05-26 02:59] villander commented on #755
@aghassemi could you please provide a minimal reproduction in a public repo?

[2021-05-26 02:59] villander commented on #763
@taltcher could you please provide a minimal reproduction in a public repo?

[2021-05-26 03:02] villander commented on #767
There's no way to make these things equal @sebastianhelbig because they're different on output level. You can see that on the [Ember Engines Guides](https://ember-engines.com/docs/lazy-loading#built-engine-output). What you can do is create a helper with a simple `if/else` to cover these two and easy scenarios - lazy and eager engines ; )

[2021-05-26 03:03] villander commented on #738
@dgeb @bertdeblock any thoughts here?

[2021-06-20 23:04] villander opened #779 "[RFC] Provide `externalRouter` to Engines"
## Detailed design

Regarding the #587 and the PR already implemented #669 as a team we discussed and agreed in one of our monthly meetings on February 12 of this year to follow these steps:

- [ ]  Deprecate current usage of `router:service()` by registering a stub service that proxies router calls to the root app router service - #764

- [ ]  Create a deprecation documentation page about the rou

[2021-07-06 11:59] Iswaryasl commented on #383
Facing the same issue

Cli version details:
ember-cli: 3.26.1
node: 12.4.0
os: darwin x64

Can someone help on this

[2021-07-06 12:06] bertdeblock commented on #383
@Iswaryasl Why do you want to run `ember g some-engine-name`?

[2021-07-06 12:11] Iswaryasl commented on #383
I m trying to create in-repo-engines in ember

```ember generate in-repo-addon super-blog```

While running this command only I m getting the error "Unknown blueprint: in-repo-engine"

[2021-07-06 12:15] bertdeblock commented on #383
Have you already installed the `ember-engines` package itself? The `in-repo-engine` blueprint comes from that package.

[2021-07-06 12:22] Iswaryasl commented on #383
No ..
Will try... Thank you

[2021-07-06 12:54] Iswaryasl commented on #383
Working after installing ember-engines.
Thank you

[2021-07-06 14:41] gtb104 commented on #738
I've moved on to another project, and it looks like this is dead, so it can be closed.

[2021-07-09 13:22] dgeb commented on #779
Thanks for keeping progress on the router moving, @villander.

I'm unclear on how this proposal intersects with:

Are you seeing the proposal in this issue (i.e. `router.external`) as separate from the alpha router we discussed experimenting with?

My impression was that the alpha router would be used to experiment with all engine-specific routing concepts, including external routes.

[2021-07-09 14:24] villander commented on #779
@dgeb  what I understood so far is that we going to use `engine-specific` including all external routes passed down to Engines. Since the `engine-specific` router, like the `*External` methods will have access only for `externalRoutes` as usual. Is that ok for you?

[2021-07-09 15:50] dgeb commented on #779
Gotcha, thanks for clarifying.

So I think we really have two alternatives on the table for handling external routes:

A) The one described in this RFC, in which an `external` namespace on the `router` service contains alternative external-route-specific methods.

B) An `external` route helper (or perhaps just `external:` string prefix) for namespacing external routes that can be used directly wit

[2021-07-22 09:33] bertdeblock commented on #763
Any reason why you don't want to install `tailwindcss` as a dependency of the engine? If it uses `tailwindcss`, then it needs `tailwindcss` to be installed plus the corresponding setup I would think. The same would apply to a normal addon, so I don't think this issue is related to `ember-engines` as well.

[2021-07-26 22:17] brendenpalmer opened #784 "`@embroider/macros` macro conditions can sometimes be evaluated incorrectly"
I'm filing a duplicate ticket here (I've already filed a [ticket](https://github.com/embroider-build/embroider/issues/906) for this within the `embroider` repo itself) just in-case this issue is specific to `ember-engines`. `ember-engines` uses `@embroider/macros` to have differing logic depending on `ember-source` version. It's possible for (seemingly) a previously cached macro condition to be us

[2021-08-06 15:18] villander commented on #779
It's not true! As you can see on the proposal the routes continue to be declared on `dependencies` as `externalRoutes`.

[2021-08-09 21:34] #784 closed

[2021-08-09 21:43] rwjblue commented on #784
Fix is released in https://github.com/ember-engines/ember-engines/releases/tag/v0.8.19

[2021-10-03 06:06] bertdeblock commented on #763
@taltcher is this still an issue for you? Can you close if otherwise?

[2021-10-03 06:07] bertdeblock commented on #753
@chrisvdp Is this still an issue? Would be nice to close this if otherwise.

[2021-10-05 21:19] chrisvdp commented on #753
I've since left this job. Maybe @k-dauda.

[2021-10-07 19:06] experfy-ismetbibic opened #787 "Unknown object passed to sourceOfConfig() error"
Hello,
We're trying to incorporate ember-bootstrap addon in one of our engines, however we're running into some issues.
When starting the host app which has the engine mounted we're getting the following error:
`unknown object passed to sourceOfConfig(). You can only pass back the configs you were given.`

Seems like the issue is not on the ember-bootstrap side (https://github.com/kaliber5/ember-b

[2021-10-15 20:41] pkimber commented on #229
I had the same `_setRouteName is not a function` error message in an Ember addon.
The issue was in my route file.  I had defined a Controller where I should have defined a Route!

[2021-10-17 06:22] buschtoens commented on #405
I can confirm that this is still an issue with the latest version:

- `ember-engines`: `0.8.19`
- `ember-cli`: `3.28.2`
- `ember-source`: `3.28.1`

I am in the process of upgrading the main app of @ClarkSource's monorepo to use `ember-auto-import@2`, but kept failing with Babel complaining about the `ember-cli-htmlbars:inline-precompile` being duplicated.

<details>
<summary>Error Log</summary>

[

[2021-10-17 07:06] buschtoens commented on #405
My wild guess is that the bug is in [`engine-addon.js`](https://github.com/ember-engines/ember-engines/blob/303769abf4602934d63e61d7ceda753288f18cd1/packages/ember-engines/lib/engine-addon.js#L565-L611).

The original `included()` method is aliased as `originalIncluded` and then overridden with a custom implementation:

https://github.com/ember-engines/ember-engines/blob/303769abf4602934d63e61d7ce

[2021-10-21 04:35] jonchay commented on #787
We're seeing this issue as well, but we're not using `ember-bootstrap`.

[2021-10-29 15:34] abel-n opened #790 "How to install an addon in an engine?"
I just started making an engine of one of our internal apps that should use a base addon. The same base addon is also used in the consumer app where the engine is mounted.

I bumped into an error, and even though I'm pretty sure I messed something up, I can't figure out what it is, so I reproduced the case with brand new addon / engine / app.

I get the same error both in the engine dummy app and

[2021-10-29 16:02] #790 closed, assigned to nobody

[2021-11-10 04:05] h4rkl opened #791 "getOwner doesn't return the context for the route"
.

[2021-11-14 08:19] bertdeblock commented on #791
So you are trying to access an engine route from within the `<AppHeader />` component which is located outside of the engine (in the host app)? Is this correct? If so, this kind of goes against the concept of engines, they are supposed to be isolated. The main supported way for host <-> engine communication is via shared services.

[2021-11-14 21:28] h4rkl commented on #791
.

[2021-11-14 21:28] #791 closed

[2021-11-14 21:28] h4rkl commented on #791
.

[2022-01-27 20:33] ianknauer opened #795 "cannot find module "@ember/routing/link-component" in ember ~4.1"
I'm getting the following error when trying to use ember-engines in a brand new 4.1 app.

`Uncaught Error: Could not find module `@ember/routing/link-component` imported from `ember-engines/components/link-to-external``

As of 4.0 the link-component no longer shows up in [the docs](https://api.emberjs.com/ember/4.0/modules/@ember%2Frouting), but may be replaced by the [link-to component](https://g

[2022-01-27 22:08] SergeAstapov commented on #795
First attempted to be fixed in #792. There is more than that to happen.

[2022-02-05 15:38] #763 closed

[2022-02-28 08:22] Maxhy commented on #787
I've got the same issue here but I cannot downgrade to @embroider/macros 0.42.3 as other dependencies requires upper versions...
I guess ember-engines needs to be updated to properly support new @embroider/macros versions?
Not sure if it is related but a breaking changes has been added on https://github.com/embroider-build/embroider/blob/7e5b1fe5398ed6b7ff81f4d65fabcbeac7b2930b/CHANGELOG.md#v0430-

[2022-02-28 19:57] Maxhy commented on #787
I fixed the issue by bumping ember-bootstrap and other dependencies to newer versions (and one downgrade). Definitely a @embroider/macros version mismatch issue between multiple dependencies ; but nothing specific to ember-engines to be fixed in practice indeed.

[2022-03-03 16:09] bertdeblock commented on #765
Going to close this for now.

[2022-03-03 16:09] #765 closed

[2022-03-23 02:58] sebastianhelbig commented on #396
I still have this problem :-( Anyone has an idea how to debug this?

Changing an scss file inside a lazy loaded engine.
ember-asset-loader: 0.6.1
ember-engines: 0.8.20
ember-source: 3.28.8

[2022-05-13 20:48] buschtoens commented on #587
PSA for anyone subscribed to this issue: @SergeAstapov has submitted [RFC 819 "Public router service"](https://github.com/emberjs/rfcs/pull/819), which makes the `RouterService` available to engines in accordance with #691 "Merge internal and external route namespace, drop `*External` methods & `<LinkToExternal>`".

[2022-05-13 20:48] buschtoens commented on #691
PSA for anyone subscribed to this issue: @SergeAstapov has submitted [RFC 819 "Public router service"](https://github.com/emberjs/rfcs/pull/819), which makes the `RouterService` available to engines in accordance with the changes proposed in this issue.

[2022-07-19 14:49] #177 closed

[2022-07-22 17:46] #525 closed

[2022-07-22 17:46] #674 closed

[2022-08-08 22:26] ascudder commented on #409
I wanted to add my support for allowing engines to use `contentFor` as well. One of our engines needs to pull in a 3rd party dependency by adding to the index.hrml file. My first thought was that "engines are just a kind of addon," so I expected it would work, but was surprised to find out that it doesn't work and to find this issue.

[2022-08-25 05:42] roncodes opened #813 "Class extends value [object Object] is not a constructor or null"
Just had issues adding `ember-engines@0.8.23` to a new ember app (4.6.0), on start throws this error `Uncaught TypeError: Class extends value [object Object] is not a constructor or null`

This was being thrown from the `LinkToExternal` component.

I realized that `LinkComponent` was removed from `@ember/routing` package starting at ember v4, and that the package `@ember/legacy-built-in-components

[2022-08-25 13:52] SergeAstapov commented on #813
@roncodes thanks for logging the issue! This is indeed the miss in the documentation.

@roncodes btw, were you using https://ember-engines.com/docs/installation during your endeavor? I think that's the page where such info should be provided.

[2022-08-26 01:16] roncodes commented on #813
@SergeAstapov Yes I was using the docs installation page. I can create if a PR if it's needed or should indeed be included in the installation instruction for v4+ users.

[2022-09-03 15:32] amiarSlimane opened #814 "Could not find module `@ember/legacy-built-in-components`"
i have created a new project using ember 4.4.0, and  i have installed  ember-engines , trying to run the app i get the following error :  `Uncaught Error: Could not find module @ember/legacy-built-in-components imported from (require)`

[2022-09-07 20:54] ginomiglio commented on #814
Looks like this is a result of https://github.com/ember-engines/ember-engines/pull/798:

This PR introduced mechanism to use @ember/legacy-built-in-components when installed but it does not list @ember/legacy-built-in-components in dependencies hence that addon does not get installed automatically.

IMO the phrase `This PR introduced mechanism to use @ember/legacy-built-in-components when installe

[2022-09-09 07:07] amiarSlimane commented on #814
Thank you , it is working now by adding this dependency .

[2022-09-09 07:07] #814 closed

[2022-10-27 09:45] Yelinz commented on #813
Same issue as https://github.com/ember-engines/ember-engines/issues/795

[2022-10-28 14:36] x8BitRain opened #822 "error reading "inaccessibleByURL" is undefined sometimes"
Hi, I think this is the right place to post this because this is the only repo I can find with any mentioned of `inaccessibleByURL`

We have an onboarding flow where we create a URL model and store it in a tracked property, at the end of the onboarding flow we want to transition the page to /urls/[url ID]/keywords with

`this.router.transitionTo('dashboard.url.keywords', this.url.id);`

 which wor