[2017-03-03 20:46] knownasilya commented on #354
The models need to be defined in the parent app.

[2017-03-03 20:57] phortx commented on #354
Amazing! Thank you very this very fast response :)

Let's assume, that this is not a solution due to the fact that the engines should be replaceable/toggable. In consideration for separation of concerns, it would be very nice (means: necessary) to have the models in their respective engines.

Do you think of any way how we could archive that.

[2017-03-03 21:04] knownasilya commented on #354
I mean you could put shared models into an in-repo addon, then each engine using that addon would have access, but in that scenario, you'd probably have n + 1 stores (one for parent and one for each engine).

[2017-03-04 00:26] XaserAcheron commented on #349
Huh. Well, sure enough, it works after all -- must've done something wrong the first time I tried it.

It may be worth adding a short example to the guide. I'd come to the conclusion this wasn't supported after trying, failing, and not seeing any mention of it on the relevant pages.

Closing officially though since this does indeed exist. :P

[2017-03-04 00:26] #349 closed

[2017-03-04 00:31] trentmwillis commented on #349
If you feel it should be added to the guides, please open a PR, it would be much appreciated!

[2017-03-04 00:39] XaserAcheron commented on #354
Hmm, was just pondering this myself. I've got a similar goofy edge case where Engine A has a need to take a look at some models that logically belong to Engine B (in this case it's not even a formal `belongsTo` relation; it's a fuzzy search based on some oddball non-model data), and I'm trying to figure out if it's possible to avoid "hoisting" Engine B's models to the host app just to allow for th

[2017-03-04 00:41] XaserAcheron commented on #349
I'll put it on the rainy-day list.

Peeking at the code, it warms my heart that the guide is, itself, an engine. :D

[2017-03-04 09:21] phortx commented on #354
full ack. We implemented the same solution this night and it makes me feel bogus. We're looking forward for a clean resolution of this issue in the future.

Isn't that all just a matter of the resolver?

[2017-03-05 13:20] tkeBe commented on #352
Thank you all so far. I think by moving the ember-datatables from devDependencies to the dependencies (engine/package.json) the first part of the problem was solved. Sadly it is still not working because the bower_components belonging to the ember-datatables are not loaded now, although I installed them in the engine and in the core application. See below the new error message

`:frontend has fail

[2017-03-06 01:36] sangm commented on #339
All the initializers run before the DSL gets generated.

Assuming the service is available, you can simply do

[code]

[2017-03-07 00:13] brunowego commented on #350
Exactly! Thank you very much @trentmwillis 👍

[2017-03-07 00:13] #350 closed

[2017-03-07 21:14] jsturgis opened #355 "treePath is hardcoded to a path instead of using the originally defined treeForAddon"
[engine-addon.js#L129](/ember-engines/ember-engines/blob/master/lib/engine-addon.js#L129) is using a hardcoded path `var treePath = path.resolve(this.root, this.treePaths['addon']);` instead of using the output of the originally defined `treeForAddon` function. This makes it difficult for an engine to modify it's build.

I spoke with @rwjblue about this on slack and he confirmed it is a bug.

[2017-03-07 21:22] trentmwillis commented on #355
@jsturgis would you mind attempting a PR for this? We can provide support if needed.

[2017-03-07 21:25] jsturgis commented on #355
@trentmwillis yeah no problem I'll start on this now.

[2017-03-08 09:21] jonnedeprez commented on #354
With models defined in the host application and all engines depending on the host's store service, doesn't it become completely impossible to write acceptance at engine level? Reflecting on loose coupling, aren't we back at square one when the acceptance test for - for example - a 'Save' button in engine B can only be run in the host application?

[2017-03-08 14:03] knownasilya commented on #354
@jonnedeprez you mock the store in your tests. Then you test the store/api in your parent app. The engine should assume that the store works, and you shouldn't be testing the store in the engine, just functionality that depends on it.

[2017-03-08 14:29] jonnedeprez commented on #354
@knownasilya hmm. I get the point, but it would be a pity to say goodbye to Ember Mirage... In non-engines apps I got used to populating the mirage db with a few records and write an acceptance test for a route.

[2017-03-08 14:31] phortx commented on #354
I have t o agree with @knownasilya

[2017-03-08 14:40] mydea commented on #354
You can use ember-cli-mirage in engines. I created an addon for my app, e.g. `my-app-test-helpers`, including the mirage definitions. You can then hook them up in each of your engines like this: https://github.com/samselikoff/ember-cli-mirage/issues/920

This way, I have acceptance tests in each engine for the application parts of this engine, but the mock server is the same for all the engines (a

[2017-03-08 15:22] jonnedeprez commented on #354
Cool, thanks for the links @mydea.

[2017-03-14 22:17] mike183 commented on #117
Just submitted emberjs/ember.js#15015 which will enable routeless engines to be mounted using a bound property.

[2017-03-15 03:00] brunowego commented on #282
I get similar issue with `ember-engines` v0.5.0-beta.10. I put a demo to debug here: https://github.com/brunowego/ember-site-engine

[2017-03-15 10:58] jnfingerle opened #359 "validation in ember-cp-validations not found"
Hi,

_I'm sorry. My first try to generate a minimal test case was broken. Now for real:_

Using ember-cp-validations (added to both package.json-s) inside an in-repo-engine I get a "TypeError: owner.factoryFor is not a function". This is not related to any store/model-problems; I'm trying to use those validations on a "simple" Ember object.

**Example:**
* Code: https://github.com/jnfingerle/probl

[2017-03-16 00:51] brunowego commented on #351
Is a corporative project. I know now that is a issue with another addon. Thanks @rwjblue 👍

[2017-03-16 02:19] brunowego commented on #351
@rwjblue, I put a demo on https://github.com/brunowego/ember-site-engine. If have a time, try debug this.

[2017-03-16 02:27] brunowego commented on #351
Just change `0.5.0-beta.10` to `0.5.0-beta.9`and will work.

[2017-03-16 14:32] brunowego commented on #351
This issue occur too in `Routeable Engine` demo.

[2017-03-17 21:16] trentmwillis opened #362 "routes.js and imports not being hoisted properly"
Apparently, the DependencyFunnels in the build are no longer working because the Engine's JS files are now relative to `modules/`. This needs to be fixed or else lazy Engines will error out.

[2017-03-18 01:44] xm opened #363 "Lazily loaded in-repo-engine's buildRoutes is never called"
Ember CLI: 2.12.0
Ember: 2.12.0
Ember Engines: 0.5.0-beta.10

As the title suggests, a lazily loaded engine's buildRoutes in lib/engine/addon/routes.js is never called. This breaks lazily loaded engines.

Example repo with the issue: https://github.com/xm/lazy-engines-test

[2017-03-18 02:03] trentmwillis commented on #363
The root cause of this is the same as https://github.com/ember-engines/ember-engines/issues/362. I'm gonna close this as a duplicate, but feel free to chime in or just subscribe to the other issue. I'm working on a fix for it.

[2017-03-18 02:03] #363 closed

[2017-03-18 03:52] trentmwillis commented on #362
This should be fixed once https://github.com/ember-engines/broccoli-dependency-funnel/pull/23 gets merged + released.

[2017-03-18 15:53] #117 closed

[2017-03-18 17:30] #362 closed

[2017-03-18 17:44] trentmwillis commented on #362
This should be resolved by doing a fresh install of dependencies. Make sure it pulls in `broccoli-dependency-funnel@>=1.1.0`.

[2017-03-19 18:09] brunowego commented on #351
@trentmwillis can you help me with this? Thanks!

[2017-03-19 19:46] brunowego commented on #351
I finded my mistake. I am trying to test the routable engine inside the dummy app, only thing I forgoten is create the `application.js` and `application.hbs` inside the dummy app.

After this everthing works.

Thanks and sorry for disturbing...

[2017-03-19 19:46] #351 closed

[2017-03-19 21:40] brunowego opened #364 "Relative path for images in routable engine"
I put the images on `public` folder, I wish know if the correct way is declare the path directly, like this:

[code]

Thanks.

[2017-03-19 22:53] brunowego opened #365 "Issue if engine not have vendor folder"
When I try run ember server I get the error bellow, after debug it, I discover this issue is with the vendor folder inside engine. The `.gitignore` ignores empty folder with `.gitkeep`, if I create the folder, the issue disapper.

[code]

[2017-03-20 11:22] mike183 opened #366 "Generating in-repo-engine fails with EmberCLI 2.13.0-beta.1"
The error appears to be coming from [here](https://github.com/ember-engines/ember-engines/blob/master/blueprints/in-repo-engine/index.js#L67-L69), and doesn't occur after reverting back to EmberCLI 2.12.0.

Error:
[code]

[2017-03-20 12:46] rwjblue commented on #366
Introduced by https://github.com/ember-cli/ember-cli/commit/2eff23cece2d50ad5d57ab4d71822dbb2e4ee838. We need to define a `_readJsonSync` in our blueprint.

[2017-03-20 15:53] #366 closed

[2017-03-20 21:21] xm opened #373 "link-to helper's current-when property has inconsistent behavior when passing in multiple routes"
The first path is treated as relative, while the remaining paths are treated as absolute.

The bug is how current-when is handled here: https://github.com/ember-engines/ember-engines/blob/da05713bfbd7ca5d415623b1bb4160c34c842be0/addon/components/link-to-component.js#L22-L24

Example of the bug (see the README): https://github.com/xm/current-when-bug

[2017-03-20 21:24] trentmwillis commented on #373
Ah, did not realize you could add space-separated values to `current-when`. Definitely a bug; thanks for the great reproduction!

Would you mind taking a stab at fixing? Should be relatively straight-forward I think.

[2017-03-20 21:25] xm commented on #373
@trentmwillis I will try to get a fix up

[2017-03-20 23:31] #373 closed

[2017-03-20 23:35] #355 closed

[2017-03-21 06:53] ming-codes opened #376 "`treeForAddon` not calling super in 0.5.0"
Specifically, this line https://github.com/ember-engines/ember-engines/blob/v0.4.0/lib/engine-addon.js#L297 is gone in 0.5.0

[diff here](https://github.com/ember-engines/ember-engines/compare/v0.4.0...v0.5.0#diff-1c2c32318ef6ba8d9be4e7b085f8ecb5L297)

[2017-03-21 07:30] ming-codes commented on #376
A few other hooks seems to also not calling the child class's `treeFor` hooks. Is this intentional?

[2017-03-21 12:02] balgev opened #377 "Nested Ember Engines"
Hi Ember masters.

Now I am using Ember-engines, which seem to be really powerful and amazing.

There is one question I want to ask. Is there an Ember generator to generate nested engines?

For examples I have ‘sportsbook-engine’ in my app and now I want to create sub-engines ‘sportsbook-live’ and ‘sportsbook-prematch’.

Please suggest me the right way to do that.
Thanks

[2017-03-21 12:36] Vazgen7788 commented on #377
Here is an example of nested engines. But I'm not sure is this right way.
https://github.com/Vazgen7788/ember-nested-engines-experiment

[2017-03-21 12:59] dgeb commented on #377
Have you gone through the guides? http://ember-engines.com/guide

There are instructions for creating engines as addons (standalone or in-repo).

Routable engines can be nested inside apps or other routable engines.

Route-less engines can be nested inside templates in apps or engines.

Please review the guides and raise issues if you have specific problems. Please ask questions in the #ember-engi

[2017-03-21 12:59] #377 closed

[2017-03-21 14:59] jnfingerle commented on #359
OK, this works now with ember 2.12 and ember-engines 0.5.0

[2017-03-21 14:59] #359 closed

[2017-03-21 15:04] rwwagner90 commented on #376
@ming-codes I just updated to 0.5.0 and ember-cli-sass broke. I assume this is the culprit.

[2017-03-21 15:08] rwjblue commented on #376
@rwwagner90 - I doubt it.  Can you open a separate issue and possibly put together a reproduction?

[2017-03-21 15:16] trentmwillis commented on #376
To make sure we're on the same page, the issue is that a custom `treeForAddon` hook in your Engine is not being called, correct? The `treeForAddon` hook within nested addons should still be getting triggered properly based on the info provided.

[2017-03-21 15:17] rwwagner90 commented on #376
@rwjblue unsure if the issue is with engines or if ember-cli-sass needs to be updated to conform to the new way of doing things. I haven't actually done much with engines myself, just trying to update all our apps/addons/engines to 2.12, and when our engine broke on 2.12 with an error something to the effect of not knowing what `define` was and saying `export` was unexpected or something, I figure

[2017-03-21 15:23] brunowego commented on #346
I put here https://github.com/vitch/ember-cli-webfont/issues/3 a example. It's works.

[2017-03-21 16:02] rwwagner90 opened #378 "ember-cli-sass broken on ember-engines 0.5.0"
To reproduce, all you have to do is install both ember-cli-sass and ember-engines and do `ember s`. I put together a repo that you can just pull to see the problem. It complains there is no `addon.scss`, but you should be able to use `app/styles` and not have to have `addon.scss`.

https://github.com/rwwagner90/engine-sass-test

Possibly related to #376

Stack trace:

[code]

[2017-03-21 16:04] rwwagner90 commented on #376
@rwjblue @trentmwillis new issue created, in case these are not related to the same issue https://github.com/ember-engines/ember-engines/issues/378

[2017-03-21 16:22] ming-codes commented on #376
Yup.

[code]

[2017-03-21 17:57] ming-codes opened #379 "Error: Cannot find module 'ember-engines/lib/engine-addon' using Engine install"
This could be just a doc issue.

That's what I did. What happened is that when installing the Engine, the `ember-engines` in `devDependency` is not installed. So when `index.js` gets called, it can't find the `ember-engines` dependency.

Moving `ember-engines` to `dependencies` solved the problem.

[2017-03-21 17:59] trentmwillis commented on #379
You'll run into other issues. We should update this to say that `ember-engines` should be listed as a `peerDependency`. That way it is clear that the consumer is then responsible for installing `ember-engines`.

[2017-03-21 20:52] trentmwillis commented on #329
A PR has been opened for Point 1: https://github.com/ember-engines/ember-engines/pull/356.

For Point 2, I think the approach @cibernox outlines is good. Which means for the 3 scenarios I outline above we have:

1. **Duplicate**: This is, and will continue to be, the default behavior for sibling issues.
2. **Hoist**: Define the dependency in both Engine and host, and the solution to Point 1 will d

[2017-03-21 21:29] trentmwillis commented on #265
I'm going to start exploring this as an AST transform as I feel it can likely have significant savings even when using loose mode for modules.

[2017-03-21 22:13] jonnedeprez commented on #282
@brunowego I also had this issue (being stuck at v0.5.0-beta.9), but since I upgraded to the latest version of ember-cli I no longer see it. Now using v0.5.0.

[2017-03-22 14:56] jnfingerle opened #381 "Engine in in-repo-addon in addon fails with missing config meta tag"
Im trying to use an in-repo engine that is defined in another addon. This leads to

`Error: Could not read config from meta tag with name "tiraa-engine/config/environment" due to error: TypeError: Cannot read property 'getAttribute' of null`

Essentially, the config meta tag seems to be missing here.

A test case can be found at:
https://github.com/jnfingerle/test-app-for-in-repo-addon-addon-engin

[2017-03-22 18:00] rwwagner90 commented on #378
As suggested by @rwjblue, we moved our styles to `addon/styles/addon.scss` instead, and everything works great. It was apparently a bug that it worked with them in the `app` directory.

Thanks @rwjblue! As always the 🍺 count owed increases 😄

[2017-03-22 18:00] #378 closed

[2017-03-22 20:18] MelSumner opened #382 "When engines are set to lazy load, unit tests fail to run."
QUnit tests are failing to run with a lazy-loaded engine. If lazy loading is turned off, tests are working as expected.

Here is the error:
Promise rejected after "it exists": Cannot read property 'subject' of undefined@ 43 ms 
Source: 	TypeError: Cannot read property 'subject' of undefined
    at _default.teardownSubject (http://localhost:4200/assets/test-support.js:15282:33)
    at http://localh

[2017-03-23 08:16] jnfingerle commented on #260
I would appreciate if `transitionTo` handled external Routes as well. I just stumbled over the problem, that a mixin has to be "engine aware" if it tries to transition to another route. If external Routes behaved like normal routes inside an engine, it would just work.

A longer discussion of this can be found at https://discuss.emberjs.com/t/how-do-i-find-out-if-im-inside-an-engine/12627/6

[2017-03-23 16:42] trentmwillis commented on #329
#356 has been merged. Some additional edge cases came up in that PR that still need to be addressed. Linking them here so they aren't forgotten:

1. https://github.com/ember-engines/ember-engines/pull/356#issuecomment-288571816
2. https://github.com/ember-engines/ember-engines/pull/356#issuecomment-288645644

[2017-03-23 17:07] dshrestha opened #383 "Getting "Unknown blueprint" when running ember g"
I am trying out ember engine for the first time. I created a dummy engine called "studio-reporting" following the instructions provided in http://ember-engines.com/guide

Since the addon is in my local machine, I changed my directory to the engine folder and then ran "npm link". Then I changed my current directory to the consuming ember app and ran "npm link studio-reporting".
Then when I ran embe

[2017-03-23 21:36] rmachielse commented on #315
We are having a similar problem with an internal addon that is depending on a bower package.
It looks like the `included` hook on the addon is also called for the engine, however `app.bowerDirectory` is `undefined` then, leading to the above error (it's looking for a file in the `undefined` folder).

In case of ember-paper it seems to be solved by using npm instead of bower. Isn't it possible to i

[2017-03-24 12:05] #383 closed

[2017-03-24 14:35] DegreeDev commented on #379
Would listing it as a `peerDependency` create an issue with running the default dummy application?

Additionally, is running the dummy application supported with engines?

[2017-03-27 09:58] rmachielse opened #385 "Error message: routeHandler.get is not a function"
I am seeing this error when I open the ember inspector routes tab with an engine mounted into the app, even without navigating to the engine.
I tried to eliminate the error by removing routes/controllers etc from the engine but nothing seems to help. Only when I remove the entire `this.mount` statement from the app router the error disappears.

The error is being thrown from [this line](https://gi

[2017-03-27 11:00] Sandeeprao69 commented on #359
Hey i am still getting this error?
I am injecting the validation mixin into controller of Ember engine but am getting error.
any help/suggestions would be appreciated

[2017-03-27 11:26] jnfingerle commented on #359
@Sandeeprao69 could you be a bit more specific? - Which versions are you using? What is the exact wording of your error message? Do you have a testcase?

_JFTR: I'm only a user of ember-engines._

[2017-03-27 11:42] Sandeeprao69 commented on #359
Hey I am using Ember 2.11 and Ember-engine 0.4.0 .
I am getting error saying owner.factoryFor is not a function when i try to access validate() methon controller by doing this.validate().

[2017-03-27 11:45] Sandeeprao69 commented on #359
Below is my validation file.

`import { validator, buildValidations } from 'ember-cp-validations';
const { computed } = Ember;
const guestValidation = buildValidations({
    'guest.email': [
        validator('presence', true),
        validator('format', {
            type: 'email',
            message: 'Please enter a valid email address'
        })
    ],
    'guest.firstName': [
        valida

[2017-03-27 11:52] jnfingerle commented on #359
@Sandeeprao69 I don't believe that the validation file is relevant for this problem. Anyway, ember 2.11 / ember-engine 0.4.0 was the combination that lead to my bug report. But like I said, the problem went away with ember 2.12 / ember-engine 0.5.0.

[2017-03-27 21:36] thoresuenert commented on #354
@phortx put your models in addon/models/modelA and export it in app/models/modelA (standard behaviour: ember g model modelA -ir addonname)

[2017-03-28 03:40] Sandeeprao69 commented on #359
Hey thanks, It worked when i have upgraded to 2.12 and 0.5.0 :)

[2017-03-29 15:42] rmachielse commented on #385
I discovered that the `router.getHandler` returns a Promise when the route corresponds to an engine that has to be instantiated first. This is an asynchronous operation, while the `buildSubTree` function is synchronous. It will probably require more work to make all of that asynchronous as well? Should I move this issue to the ember-inspector project?

[2017-04-01 21:09] kiwiupover opened #386 "Including vendor dependencies in lazyloaded engines not working."
With a clean ember-cli 2.12 and ember-engines 0.5.0 addon setting `lazyloaded` to true throws an error when trying to find a vendor file I have added to the vendorTree.

Running `ember server` on this [repo](https://github.com/kiwiupover/vendor-lazy-engine) will reproduce the issue. Changing the `lazyloaded` to false you will be able to build the app.

I would expect `highlightjs` and the `shim` b

[2017-04-03 17:20] alexander-alvarez commented on #378
can we confirm what is causing this or how to debug it further? I've moved all of our in-repo engines styles from `app/styles` to `addon/styles` and still getting the error illustrated above. On engines 0.5.0, ember-cli 2.12.1
<details><summary>Logs</summary>

I renamed my engine to `in-repo-engine`

[code]

</details>

[2017-04-06 00:09] kiwiupover commented on #386
Ok more detail

When manually adding the dependency to the vendor file the app builds as expected.

I have added the hightlight.js to the vendor file and if you rename the file you will see that the app builds.

https://github.com/kiwiupover/vendor-lazy-engine/blob/master/vendor/RENAME-TO-highlight-pack.js

[2017-04-07 18:18] alexander-alvarez commented on #378
for posterity, I worked through this with @bbonnet by investigating some addons (most notably [`ember-modal-dialog`](https://github.com/yapplabs/ember-modal-dialog/tree/v1.0.0/app/styles/ember-modal-dialog) and lots of head scratching.

Auto Resolution:
- You should have `"ember-cli-sass": "*"` in your engine's `package.json`. It expects an `addon/styles/` folder and in this folder `addon/styles/a

[2017-04-09 17:41] trentmwillis commented on #319
Closing as these tests are no longer around.

[2017-04-09 17:41] #319 closed

[2017-04-11 12:40] brunowego opened #388 "Failed unit test with routes"
At dummy I have the mounted engine:

[code]

When I run the tests I get the follow issue:

[code]

Any idea how solve it? Thanks.

[2017-04-11 14:26] #341 closed

[2017-04-12 01:10] sangm opened #389 "Place for JS Logic for Route-less Engines"
As I'm playing around with Route less engines, I'm not exactly sure where the JS logic should go.

@mike183 @trentmwillis @rwjblue Can you guys chime in?

[2017-04-12 01:48] knownasilya commented on #389
The logic would go into components, which would be setup in the application template.

[2017-04-12 03:49] trentmwillis commented on #389
That is definitely how one would need to do it currently, but there are still a few unsolved questions, such as how would you access params passed into `{{mount}}` (a feature we will likely add)? Also, having an intermediary template just to have a component feels a bit awkward IMO.

My suggestion, and I've discussed this with @mike183 briefly, is that there needs to be a backing JS class that is

[2017-04-12 05:44] sangm commented on #389
Agreed. Based on intuition, if `application.hbs` is what gets rendered, I expect `application.js` to execute the logic.

[2017-04-12 08:48] mike183 commented on #389
Agreed, just seems like boilerplate code that a vast majority of people creating routeless engines will need to do.

[2017-04-12 13:44] knownasilya commented on #389
This might be the place to experiment with the routable-component "route" interface.
Since the `application.js` file is basically a route since it has params and should be able to provide data.

[2017-04-12 16:56] trentmwillis commented on #389
This is basically what I intend, but I want to steer clear of association with routable components haha.

[2017-04-12 23:40] rmachielse commented on #385
@rwjblue @trentmwillis did anyone of you see this issue before? Would a pr to ember inspector be a desired solution?

[2017-04-13 01:36] trentmwillis commented on #385
Yeah, this is an issue with ember-inspector. We haven't made any modifications to the inspector in order to make it work properly with engines (and particularly lazy engines), so things that are asynchronously resolved are going to be problematic (note: all routes for engines are asynchronously resolved, even if not lazy so that you get uniform behavior).

[2017-04-13 16:58] Hanastaroth commented on #56
Hi,

First of all: thanks for this great library. It opens up lots of use case for big application.

This discussion seems to be on pause, and as I have a use case that may be of use, I'm going to add some data :smile:
Here's the use case:

- You are creating a configurable application;
- You propose a library of modules that can be chosen;
- Each module is an engine;
- The client application will

[2017-04-13 17:08] knownasilya commented on #56
In my "ongoing" PR for ember-admin, I have the following approach for changing 'templates', i.e. components in an engine: https://github.com/DockYard/ember-admin/pull/80#issuecomment-261254107

[2017-04-13 20:06] trentmwillis commented on #310
@samselikoff sorry for letting this sit for so long. I've responded to all your points below. I'd appreciate it if you could work on some of these, but I'll also plan to tackle some of them.

1. Refers to the [Route Serializers RFC](https://github.com/emberjs/rfcs/blob/master/text/0120-route-serializers.md), which is mentioned in guides [here](http://ember-engines.com/guide/lazy-loading).

2. I'll

[2017-04-13 20:49] mrkirchner opened #391 "currentPath and currentRouteName from within Routable Engine"
Not sure if i am doing this wrong or its a bug but when i do:

`Ember.getOwner(this).lookup('route:application')`

from within my Engine the controller does not have the currentPath and currentRouteName on it.  So my question is  there another way to get them, is it some kind of bug, or by design.

Thanks

[2017-04-14 08:38] mydea opened #392 "Image path in engine CSS is not prepended"
I have an engine, which has an image in its `/public` folder.
The engine also has a Sass file in its `/addon/styles` folder. There, I have a background image specified relative to my CSS file: (the image resides in `public/assets/icons/plus.svg`).

[code]

The image is correctly fingerprinted, however the reference in the CSS is not correctly updated with the fingerprinted version.

This used to w

[2017-04-14 13:30] brunowego commented on #392
Yep, same issue here. All imports are breaking now with 0.5.1.

[2017-04-14 13:51] Hanastaroth commented on #56
I take a look at what you are doing and even though it looks great, I think it's a little bit too much.
What I like with Ember is how simple it is to do something. But when I look your PR, it's quite hard on the base development.

I took some time to analyse the need I have (override template, maybe controller) and I came with the following answer: the rendering phase must be modified.

On the Rou

[2017-04-17 12:58] nickschot commented on #315
@rmachielse I think semantic-ui-ember has a similar issue. Did you solve this already?

[2017-04-17 18:56] rmachielse commented on #315
@nickschot we're moving away from bower the same way that ember-paper did

[2017-04-17 23:43] villander commented on #154
@nathanhammond do you have a forecast when ember-engines will exit beta version for release candidate?

[2017-04-18 13:41] badmacstone commented on #352
I have a different problem with data-table and ember-engine.

This is how I use data-table:
[code]
In my engine I've got this error: `array is not a helper`. So I added `ember-array-helper` with yarn. After that I'm getting no errors but the table remains empty. Placed where the rows should be I see this: `<(unknown mixin):ember710>`.

Any ideas how to fix this or how I get the name of the unknown

[2017-04-19 12:23] gossi opened #394 "Loading engines at runtime?"
Hey guys,

I was wondering if engines could be loaded at runtime? I imagine some kind of api, which I'm telling that an engine with a name is at a certain url (and mount point?):

[code]

With the current implementation/status I can write my engines "independent" of others, yet the "others" still need to manually require an engine as dependency and include it in their app. I just want to deploy th

[2017-04-19 12:35] mike183 commented on #394
You'll probably find issue #99 of some interest.

[2017-04-23 15:38] scottharris86 opened #395 "Cant have the same template name in main app and ember engine"
as a simple example. lets say we create a simple ember app. like the one form the guides.. we add the scientists route and show a simple h2.. now if i create admin engine. and add a scientist route.. this would be standalone engine. with a different h2 in the scientist template. install the engine in the main app. ember s... i get a template exists error.... i think this is kind of crazy... in the

[2017-04-23 15:53] rwjblue commented on #395
In general, this should work just fine (and does in many applications). Can you please provide a repo that demonstrates the issue?

[2017-04-23 15:57] scottharris86 commented on #395
sure heres the basic ember quick start.. very simple.. ive ember installed the scientist-admin which ill link to to next... try ember s and i get the error referenced above.

https://github.com/scottharris86/ember-quickstart.git

and the admin engine is..

https://github.com/scottharris86/scientists-admin.git

maybe im doing something wrong?

[2017-04-24 08:30] rmachielse commented on #385
@trentmwillis so is a pr on ember-inspector making the route reporting asynchronous desired?

[2017-04-24 16:02] scottharris86 commented on #395
just an update to this... its something with the app folder.. if i delete everything from the app folder and commit and push and reinstall it works.... any ideas why that would be? it doesn't seem like that what i should need to do...

any help would be appreciated.

thanks

[2017-04-25 19:39] bravo-kernel commented on #385
Hit this as well, thanks for clarifying. @rmachielse nice to make acquaintance btw

[2017-04-25 21:10] trentmwillis commented on #385
@rmachielse I would imagine so; that way apps using engines can still use the inspector. That said, it'd be best to open an issue with that repo to pursue it.

[2017-04-25 21:25] mike183 commented on #385
FWIW there is already an issue open in the ember-inspector repo about engines support in general. Though there hasn't been a great deal of discussion. See emberjs/ember-inspector#632

[2017-04-25 22:47] trentmwillis commented on #385
Thanks, @mike183. I'm going to close this as I don't believe this is an issue with ember-engines itself, but if anything is needed from the ember-engines side to fix ember-inspector we can provide support.

[2017-04-25 22:47] #385 closed

[2017-04-27 12:35] ilucin opened #396 "Adding ember-engines forces live-reload when changing styles"
Steps to reproduce:
[code]

When styles are changed live-reload is triggered with debug output:
[code]

I guess `'index.html'` & `'tests/index.html'` shouldn't be there.

Tested on:
ember-cli: 2.13.0-beta.4 & 2.12.2
ember-engines: 0.5.2
node: 7.9.0 & 6.x
os: darwin x64

[2017-04-27 16:06] tomoguisuru opened #397 "Lazy Loaded Engines Always Show Application Level "Loading" Template"
I've notice that my application-loading.hbs template is always displayed when transitioning from my main app to any engine route. This happens even after the engine has been loaded.

I would expect that after the engine has been loaded that the loading templates should display just as they would for any other route and not display the application level loader again.

[2017-04-28 16:32] OlmoDalco opened #399 "Routless Engine can not be found"
Im currently trying to mount an routless Engine via the applicaiton.hbs of the app, but i allways get the following Error Message: **You used `{{mount 'routless'}}`, but the engine 'routless' can not be found.** However it is rendered twice, once i mount the engine via the router and enter its route!

[2017-04-28 17:05] trentmwillis commented on #399
It sounds as if you are trying to use an Engine as both a Routeless engine and a Routable engine which is not supported.

A reproduction of your issue would be very helpful here.

[2017-04-28 20:15] bravo-kernel commented on #58
For those needing more information here's a great video explaining [Ember-cli In-Repo Addons with Jacob Bixby](https://www.youtube.com/watch?v=VYrMs1Zzpqs) with a lot of background information on when (and how) to use them.

[2017-04-28 20:23] XaserAcheron commented on #58
Heh -- the fact that I could only ever find links to that video, rather than any docs in writing, are what drew me to this GitHub issue in the first place. Full circles are the best circles. :P

[2017-04-28 20:35] bravo-kernel commented on #58
Indeed, works like a charm and all makes sense now. Thank you all for chipping in.

[2017-04-30 15:12] thec0keman opened #400 "Lazy loading with ember-browserify"
First, thanks for all of the hard work on this project!  We are very excited to get our main application on ember engines

When using ember-browserify with a lazy loading engine, the following error is thrown during build:
[code]

Everything works as expected when `lazyLoading: false`.

Example repo: https://github.com/thec0keman/ember-engine-browserify-test

(I can move or cross-post this to embe

[2017-04-30 23:50] thec0keman commented on #400
This was with:
Ember 2.12.1
Ember CLI 2.12.2
Ember Engines 0.5.2

[2017-05-01 00:15] thec0keman commented on #400
After further investigation, this seems unrelated to ember-browserify.  After removing ember-browserify, this same issue came up with another engine dependency that also tried to push an npm dependency into the build.

I suspect there isn't anything special about the code, but here it is as an example:
[code]

This seems like a fairly standard approach to loading an NPM dependency, and it works ju

[2017-05-01 20:39] trentmwillis opened #401 "Unit testing with Service dependencies"
When a Service is listed as a dependency of an Engine, we would not expect it to be resolvable from the Engine itself (since we expect it to be provided by the host). Thus, if you have a unit/integration test that needs a given Service, it will throw an error.

I don't believe we can magically "fix" those cases, as the Service's API could be anything, but we should provide guidance on how to appro

[2017-05-01 20:52] rwjblue commented on #401
Hmmm, an API already exists to register things (`this.register`), does that not work in these cases?

[2017-05-01 20:55] trentmwillis commented on #401
It works, but it seems like since dependencies are expected to be provided by the host only once, then we should have a centralized way to easily set up a mock service once for all tests that an Engine might have.

We can always leave it up to the individual users to write a helper like that, but regardless we should provide recommended guidance.

[2017-05-01 21:01] rmachielse commented on #385
@mike183 @trentmwillis ok, I will continue the discussion there 👍

[2017-05-02 18:30] trentmwillis commented on #265
A solution to this is being explored as a Babel plugin here: https://github.com/ember-engines/babel-plugin-compact-reexports

[2017-05-04 15:37] mydea opened #404 "Make it possible to exclude files from bundle"
In one of our engines, we use an addon which loads dependencies on-demand. So basically, there are a bunch of really big and very specific JavaScript dependencies which are manually loaded when entering a route.

These are JavaScript files that are placed in `/assets/xxx.js` by the addon, which works fine. However, these files are also automatically added to the engine bundle and therefore immedia

[2017-05-04 22:31] dfreeman opened #405 "Engines' dependency addons are `include`d more than once"
We first came across this with [`ember-get-config`](https://github.com/null-null-null/ember-get-config), which [emits a warning](https://github.com/null-null-null/ember-get-config/blob/master/index.js#L38) if a single instance has its `included()` hook invoked more than once. On investigation, it seems that any addon in an engine's `dependencies` gets included twice for the engine.

A simple repro

[2017-05-05 13:33] mschinis opened #406 "Mounting root engines"
Hey all,

I started recently breaking our website into multiple engines and have come across an interesting bug that I'm sure a lot of people will come across.

I've been trying to debug this problem, where I'm not really sure if this is a problem of [router.js](https://github.com/tildeio/router.js/) or [ember-engines](https://github.com/ember-engines/ember-engines). Brace yourselves, long debuggi

[2017-05-05 16:17] trentmwillis commented on #406
In general, mounting more than one Engine a single URL will not work. That said, I'd like to understand the thought process here.

Given your "two root engines" example, why would you expect the `two` engine to be rendered when visiting `/`? Or, rather, what URL would you expect to render the `one` engine's application route?

[2017-05-05 16:51] josemarluedke commented on #262
Has anyone successfully used FastBoot and lazy engines?

[2017-05-05 17:01] mschinis commented on #406
@trentmwillis In my example above, I was actually visiting the route `/two-two`, hence I expected the `two` engine to be rendered.

I think it makes sense to render the `one/.../application.hbs` template when you visit a route inside the `one` engine, and the `two/.../application.hbs` when you visit a route inside the `two` engine.

Our usage is actually pretty simple. We have pages like `/sale`,

[2017-05-05 17:36] trentmwillis commented on #406
I understand the issue, but there is a detail that I think you're overlooking. What happens when you visit `/`? Given that `/` is a **single** URL (resource location), it does not make sense that it could map to **two** different resources (Engines in this case).

[2017-05-06 17:35] brunowego opened #409 "How use contentFor in engines"
So, I have a engine with `lazyLoading: false` inside a fresh ember app. My engine have addons and one of them have the code below:

[code]

[code]

If I run engine separately the link of google fonts works perfectly, but if I run inside the fresh ember app not.

Perhaps a feature for future or it's outside the scope of this project?

[2017-05-08 11:17] mschinis commented on #406
I think it's worth adding an option to opt-out of the root path of each engine. This could make the `/` path of each engine act as an unrecognised route. If I wanted for example, to create an engine called `shop` which is not a root engine, I should be able to configure the following routes:

[code]

without having a `/shop` route. Similarly, for root engines I believe it would be quite powerful h

[2017-05-08 17:59] siva-sundar commented on #382
Have you tried by loading the engine assets with a `<script>` in your tests/index.html?

[2017-05-09 06:16] siva-sundar commented on #388
Please try loading the engine assets with a `<script>` in your tests/index.html.

[2017-05-09 10:07] brunowego commented on #388
@siva-sundar I will close this. Thanks for the help.

[2017-05-09 10:07] #388 closed

[2017-05-09 11:48] crodriguez1a commented on #409
I also came across this. Not sure if it was intended. I'd be happy to try and debug if it's not.

[2017-05-10 14:03] DegreeDev opened #412 "2nd level bower dependencies are not being loaded properly"
We are using [ivy-videojs](https://github.com/IvyApp/ivy-videojs) which is listed as a `dependency` of our engine. This issue is not specific to ivy-videojs but appears to be a larger issue with addons who have bower dependencies inside of engines.

During the build we get this issue:

    TypeError: Path must be a string. Received undefined
     at assertPath (path.js:7:11)
     at Object.join (p

[2017-05-10 18:10] trentmwillis opened #413 "Refactor fixtures for reexport unit tests"
Ref: https://github.com/ember-engines/ember-engines/pull/408#pullrequestreview-37381722

[2017-05-10 18:18] #265 closed

[2017-05-12 16:23] XaserAcheron commented on #396
This is basically a glorified +1, but this has been a thorn in my side since adopting engines. I also did a bunch of other updates at the same time, so I was planning on doing some test app stuff to make sure it was actually ember-engines that was causing this, but seems you've already done so. Thanks!

[2017-05-12 18:10] stefanpenner commented on #396
Interesting, yes this is most likely hinting at the root cause. Specifically, investigating what ember-engines does to index.html files, and how it is misbehaving.

[2017-05-12 19:24] XaserAcheron commented on #396
[disclaimer: non-expert comments follow]

I'm thinking this has to do with the asset manifest meta tag that gets inserted into index.html. See [here](https://github.com/ember-engines/ember-engines/blob/master/index.js), though the more interesting upstream code is in `ember-asset-loader` [here](https://github.com/ember-engines/ember-asset-loader/blob/master/lib/manifest-generator.js).

I haven't f

[2017-05-15 19:21] DegreeDev commented on #343
I have a temporary workaround for this issue:

https://github.com/ember-engines/ember-engines/issues/343

This is not permanent fix and will be resolved by:  https://github.com/ember-engines/ember-engines/pull/252

[2017-05-15 23:56] #413 closed

[2017-05-16 18:37] dnachev opened #416 "Ember engines deduplication should use cacheKeyForTree instead of the addon name"
Existing deduplication logic relies on the addon name to determine whether an addon should be deduplicated. This works OK for most addons, which returns the same trees irrespective of where in the addon hierarchy they are. However, some addons produce trees, which are specific to their parent or where in the dependency tree they are located. The deduplication mechanism for these addons may incorre

[2017-05-17 15:08] tyroneLord opened #417 "cant create ember egine. Assertion Failed: Asset manifest does not list any available bundles"
I am trying to create an ember engine from an addon following the docs below but i am getting an error. Uncaught Error: Assertion Failed: Asset manifest does not list any available bundles. below is my route form dummy/app/routes.js. i am following the directions line for line but cant get it to work.

import Ember from 'ember';
import config from './config/environment';

const Router = Ember.Rout

[2017-05-17 15:30] trentmwillis commented on #417
@tyroneLord have you looked through https://github.com/ember-engines/ember-engines/issues/282 and verified your issue isn't the same as the one reported there? If you have, then a reproduction will be very helpful here.

Also, what docs are you referring to? You mention "docs below", but there is nothing "below" in this context.

[2017-05-24 16:41] stefanpenner opened #419 "Compact re-exports babel plugin causing persistent-cache miss"
#408 adds a babel plugin, but does not implement a proper cache key. This results results in warm builds not benefiting from a persistent cache.

more details on how to implement said persistent cache: https://github.com/stefanpenner/broccoli-persistent-filter#persistent-cache

[2017-05-24 16:41] stefanpenner commented on #419
cc @trentmwillis

[2017-05-24 16:51] rwjblue commented on #419
Caching Was added in https://github.com/ember-engines/babel-plugin-compact-reexports/pull/4, we just need a release.

[2017-05-24 16:53] stefanpenner commented on #419
awesome. I'll go wrestle @trentmwillis for release bits for us.

[2017-05-24 18:32] trentmwillis commented on #419
Totally thought I had released that...oh well, now y'all have proper privs.

[2017-05-24 21:38] #419 closed

[2017-05-29 12:31] dkdrk opened #423 "Sharing routes between two in-repo engines"
I've a couple of in-repo engines say a-engine and b-engine. Both have different functionalities, yet they have one sub-route common in them. Is there any way to share or extend the route and template between these two engines?

[2017-05-29 15:01] trentmwillis commented on #423
In general, when thinking of problems like this you can think of Engines as similar to Applications. Thus, if you were to ask how would I share a Route between two Applications? The answer is going to be "via an Addon". Same in this situation.

Extract the Route and Template into an Addon and have both of your Engines depend on that Addon.

[2017-05-31 16:35] crodriguez1a commented on #264
@jbailey4 Hm, I'm seeing this with 2.13. Am I not configuring properly in `app.js`? It seems as though there aren't any external routes registered.

<img width="461" alt="screen shot 2017-05-31 at 12 31 37 pm" src="https://cloud.githubusercontent.com/assets/3610417/26642898/740acfd0-45fd-11e7-873f-abb4b3a6bb25.png">

[2017-05-31 17:00] crodriguez1a commented on #264
@jbailey4 Actually, I can see the dependencies registered on the mount point, so config must be fine. Separately, the component hook seems fine for the post glimmer world.   I'll dig in to see if I can't find some other cause.

[2017-05-31 17:17] crodriguez1a commented on #264
@jbailey4  I'll just keep documenting what I find. If it turns out to be unhelpful, I'll delete all this.  Here's what I found (and its really weird).

[code]

https://github.com/ember-engines/ember-engines/blob/da05713bfbd7ca5d415623b1bb4160c34c842be0/addon/components/link-to-external-component.js#L18

Has anything changed about Ember.get? Going there next.

cc/ @nathanhammond @rwjblue

[2017-05-31 17:26] crodriguez1a commented on #264
@jbailey4 Okay, well i don't know what changed, but I have a solution.

`import get from 'ember-metal/get';`  then `get(this, 'targetRouteName')` works fine.

Not entirely sure why. @nathanhammond  @rwjblue Let me know if I should submit a PR, or I'll also settle for the consolation prize of know why this broke.

[2017-05-31 18:08] crodriguez1a commented on #264
@jbailey4 Okay, here's the final piece (it combination with above) and now it works without throwing.

It seems that, in the engine instance, `_externalRoutes` is just not a thing [here](https://github.com/ember-engines/ember-engines/blob/master/addon/-private/engine-instance-ext.js#L118)

When you dig down to `dependencies.externalRoutes`, then you're good.

[code]

[2017-06-01 01:22] trentmwillis commented on #264
@crodriguez1a what version of `ember-engines` are you using with `ember@2.13`? You shouldn't need to dig that far into the code.

[2017-06-01 09:13] crodriguez1a commented on #264
@trentmwillis  I'm using `0.5.4`. Yeah, my first instinct was just a bad configuration. I'm probably missing something obvious here.

[2017-06-01 15:12] trentmwillis commented on #264
Interesting, since the root cause is likely different from this issue, if you could open a new issue with a reproduction it would be appreciated.

[2017-06-01 15:25] crodriguez1a commented on #264
@trentmwillis 👍 Will do.

[2017-06-01 16:36] crodriguez1a commented on #264
@trentmwillis Reproducing lead me to the issue. I was simply missing the config in `engine.js`. If you miss the `app.js` config, it throws `A dependency mapping for 'externalRoutes.home' must be declared on this engine's parent.`. Conversely, missing the `engine.js` config surfaces as `Cannot read property 'MyTargetRoute' of undefined
    at Class._getExternalRoute`. I'll go ahead and clean up thi

[2017-06-02 20:42] toddjordan commented on #376
I'd like to add that my company has a fairly large scale ember engines deployment and this issue is currently keeping us from moving to ember ^2.12.  A number of our engines leverage `treeForAddon` to do less compilation (we keep less files in a pod structure for components), so we are seeing after upgrade that our engine screens are unstyled.

Unless there is a good alternative going forward we w

[2017-06-03 11:38] crodriguez1a commented on #264
Hey @trentmwillis, one I thing I did find is that it does seem possible to have a single dependency declaration, and have the engine instance be aware. Any reason not to have just the one config at the consuming app? Just curious.

[2017-06-06 14:51] buschtoens opened #426 "Sharing components from in-repo-addon to in-repo-engine"
As per the [docs](http://ember-engines.com/guide/sharing-components-and-more) sharing components is possible by moving these components to an addon and then re-exporting these components into the engine's namespace.

As to not have to re-export each and every component manually, ember-engines provides the `EngineAddon` base class.

However, this apparently does not work for in-repo-addons and in-r

[2017-06-07 00:49] gnanavelum opened #429 "Uncaught Error: Failed to load asset manifest. For browser environments, verify the meta tag with name "myapp/config/asset-manifest" is present. For non-browser environments, verify that you included the node-asset-manifest module."
Ember: 2.21.1
Engines.: 0.5.4

I create a new in-repo-engine for a route(named routename-engine) for prototyping engines with my app.

My host is not index.html that ember generates, it is outside the context. so i need to be specific about asset loading.

My plans is to refactor a route into an engine, and then do lazy loading.

I tried adding the meta tag as mentioned in some other threads https

[2017-06-07 03:09] knownasilya commented on #400
I think the addon needs to use `this.import` instead.

[2017-06-07 03:13] trentmwillis commented on #400
Last I can recall,` ember-engines` was incompatible with `ember-browserify` due to some weird build time interops. It was recommended to use [`ember-rollup`](https://www.npmjs.com/package/ember-rollup) instead (basically creates a rollup build to use in the browser).

[2017-06-07 03:20] knownasilya commented on #400
@trentmwillis do you have an example with this being used/have you used it in an engine?

[2017-06-07 03:22] trentmwillis commented on #426
I believe this is just a minor error in the config. In `super-blog` you have:

[code]

Located at `in-repo-engine-component-sharing/blob/master/lib/super-blog/package.json` which would result in `in-repo-engine-component-sharing/blob/master/lib/lib/super-addon`.

I think you want:

[code]

Let us know if that doesn't fix it!

[2017-06-07 03:23] trentmwillis commented on #400
We used it at LinkedIn, but I'm unsure if there is any open source example unfortunately. Before we enabled lazy loading we specifically removed all usage of `ember-browserify` from the app.

[2017-06-07 03:27] knownasilya commented on #400
Would I pass `EngineAddon` into

[code]

[2017-06-07 03:39] trentmwillis commented on #400
I'm honestly unsure, @rwjblue maybe you can help/derive an example from LI?

[2017-06-07 05:41] buschtoens commented on #426
Wow, I feel silly now. Of course that was the problem! I must have suffered from tunnel vision. Thanks a lot. :heart:

[2017-06-07 05:41] #426 closed

[2017-06-07 17:54] #429 closed

[2017-06-07 17:55] gnanavelum commented on #429
Passed this error after really putting the <meta> tag in head of the page.

[2017-06-07 18:58] gnanavelum commented on #381
Any solution to this problem, why do we need to rewrite the config/environment.js of an engine to meta tag?

if this needs to be build time generated, why not keep the build time generated code as a module instead of meta?

[2017-06-08 21:59] kellyselden opened #432 "Enter loading substate while waiting for lazy engine to download."
Given

[code]

and `app/templates/my-engine-loading.hbs`, the loading substate only enters after the engine has downloaded. Is it possible to enter the loading substate before the engine starts downloading?

[2017-06-08 22:04] kellyselden opened #433 "Wrong loading substate is entered."
Given

[code]

and
`app/templates/loading.hbs`
`app/templates/my-engine-loading.hbs`

Only loading.hbs renders while waiting for my-engine. Shouldn't it render my-engine-loading.hbs?

[2017-06-08 23:04] knownasilya commented on #433
wouldn't it be `app/tempaltes/my-engine/loading.hbs`?

[2017-06-08 23:29] kellyselden commented on #433
@knownasilya Not according to https://guides.emberjs.com/v2.13.0/routing/loading-and-error-substates/

[2017-06-08 23:30] kellyselden commented on #433
I should also note that when I turn the `this.mount` to `this.route`, it loads the correct template `app/templates/my-engine-loading.hbs`.

[2017-06-09 04:51] trentmwillis commented on #433
@kellyselden seems like a legit bug. The loading/error substates/routes have been a mess for a long time. We tried cleaning them up last year but looks like we missed this edge case.

I'd recommend adding a failing test [here](https://github.com/emberjs/ember.js/blob/36bd4f711b366fd7ef77ace0ac3ce816dc9a6c31/packages/ember-glimmer/tests/integration/application/engine-test.js#L449-L583) and (if you

[2017-06-09 05:00] trentmwillis commented on #432
Are you sure that loading substate isn't entered? Or is the transition resolving too quickly? If you verified the above, then we should consider this a bug.

The logic for whether the loading substate is entered starts [here](https://github.com/emberjs/ember.js/blob/299c1ab3d804fd92b0ec9b9c2e7a1fa100335753/packages/ember-routing/lib/system/router.js#L979-L982) and you can see [the `slowTransitionT

[2017-06-09 06:12] kellyselden commented on #432
I slowed down the network and verified that while the assets are downloading, my previous route template is shown.

[2017-06-09 07:14] nathanhammond commented on #433
This would need to be `application-loading` as part of the engine and hoisted from the engine to it's host. It can't load asynchronously and this was an _active_ design decision we made. (Don't know where the documentation for that decision is anymore.) It definitely does not live outside of the engine's namespace as you have described, @kellyselden.

Try it inside of the engine namespace to see i

[2017-06-09 07:17] nathanhammond commented on #432
Se my comment on the related bug. The _substate_ should be a property of the engine itself, not its host.

[2017-06-09 15:37] trentmwillis commented on #433
I don't remember the original decision making process, but I believe it was wrong. A host application should be able to provide a custom loading substate for when an Engine is loading.

[2017-06-09 21:01] kellyselden commented on #433
I agree with @trentmwillis. It seems like it would make sense for an engine consumer to not depend on an engine to handle the loading substate, and to provide a "fallback" of sorts. It would also put an engine more in line with how routes work, which is a good thing IMO.

[2017-06-09 21:04] kellyselden commented on #432
@nathanhammond I don't think the two issues are related. The other one is concerned with what to do during a blocked model hook in an engine, and this one is waiting for an engine is downloading, so we haven't made it into engine code yet.

Right now it seems like the app is hung on the old route while the engine downloads. It seems like the best thing to do is enter the loading substate during th

[2017-06-11 10:05] siva-sundar commented on #432
Facing the same issue

[2017-06-12 16:25] siva-sundar commented on #432
May be we can have an intermediate transition by triggering `_scheduleLoadingEvent` [here](https://github.com/ember-engines/ember-engines/blob/master/addon/-private/router-ext.js#L64). But `_scheduleLoadingEvent` requires a `routeHandler` which will not be available until the resources are loaded. Thoughts?

[2017-06-12 18:50] #416 closed

[2017-06-13 19:15] bbtb1982 opened #435 ""hostAddon.cacheKeyForTree is not a function"
We're getting this error when building our project with v5.5 - v5.8 version 5.4 builds fine.

hostAddon.cacheKeyForTree is not a function
TypeError: hostAddon.cacheKeyForTree is not a function
    at .../node_modules/ember-engines/lib/engine-addon.js:382:49
    at Array.map (native)
    at Class.options.nonDuplicatedAddonInvoke (.../ember-deployment/node_modules/ember-engines/lib/engine-addon.js:3

[2017-06-14 00:11] fushi opened #436 "Upgrading to 0.5.6 from 0.5.4 causes tests to fail with `Can't find variable: heimdall`"
It appears as though `var _heimdall$registerMon = heimdall.registerMonitor(...)` is being called in `ember-data/-private/system/relationships/state/relationship.js`, and causing the issue.

[2017-06-14 00:39] rwjblue commented on #436
I have not had a chance to dig in, but here are some random thoughts that might help someone trying to look at this:

* ember-data uses a custom babel plugin to strip the internal heimdall usage when the `--instrument` flag is not passed
* we run "modules only" babel transpilation for addons inside the engine
* ember-cli's behavior for transpilation changes between ember-cli@2.12 and ember-cli@2.1

[2017-06-14 02:02] fushi commented on #436
ember-cli@2.13.2
ember-data@2.13.1 (app dep)
ember-cli-babel@6.4.1 (though several addons seem to be using 5.2.4).

As for the repoduction repo, I'm trying to find a reproducible combination/setup

[2017-06-14 03:14] tomoguisuru commented on #435
I should add that this happening with a lazy loaded engine

[2017-06-14 03:54] rwjblue commented on #435
I believe that the issue is that`cacheKeyForTree` is only added in ember-cli@2.13+.

[2017-06-15 01:38] gnanavelum opened #437 "renderTemplate() override on engine's route are not rendering."
I have named outlet's, so using using renderTemplate() override to send specific templates to each outlet + have a template for the route name. This works with the routes on my app. After moving the route to engine, the renderTemplate function is being called in but non of the stuff mentioned there is rendering, if i comment renderTemplate, the route named template renders.

any known issues with

[2017-06-16 14:52] thec0keman opened #438 "Dependency dedup issue from 0.5.4 -> 0.5.6"
When upgrading from 0.5.4 -> 0.5.6, our engine's vendor file got a lot larger:
0.5.4
[code]

0.5.6
[code]

There are several dependencies defined in the engine's `package.json`, however none of these are unique to the engine (they are all also defined in the parent app).  Shouldn't these be de-duping?

Ember CLI: 2.13.2
Ember: 2.13.3

[2017-06-17 21:28] egaba88 commented on #262
to keep engines set up with your project but still are waiting for a solution for this is to turn off asset manifest generation during build
[code]

[2017-06-22 08:58] ynnoj commented on #401
Are there any guidelines in place for this? I'm running engine unit tests which have a dependency on a `service` from the parent app.

[2017-06-25 01:26] mike183 commented on #272
Was this topic ever discussed any further? We're beginning to utilise a significant number of routeless engines in our application, thus it would be good to get this locked down in order to future breaking changes.

[2017-06-25 02:26] knownasilya commented on #272
I'm for this as well. All good points.

[2017-06-27 09:45] mike183 commented on #272
FWIW (as I never mentioned it in my previous reply), I also agree with all of @trentmwillis's points.

[2017-06-28 00:54] trentmwillis commented on #272
I believe we need a member of the core team to chime in (*cough* @rwjblue *cough*). After that, I don't think implementation would be too difficult.

[2017-06-28 14:07] rwjblue commented on #272
Sorry for missing this one. I agree with Trent's statement in the lead in description:

_**YES!!!!**__

[2017-06-29 02:26] gnanavelum opened #439 "window.require( on _registerEngine is not escaping derequire, change it to just require("
window.require usage on route-ext escapes ember-derequire, needs to be just require.

 _registerEngine(name) {
    let owner = getOwner(this);
    if (!owner.hasRegistration('engine:' + name)) {
      owner.register('engine:' + name, window.require(name + '/engine').default);
    }
  },

[2017-06-29 10:17] mike183 commented on #272
Thinking about this again, would it not be better to just assert if a `link-to` is used within a routeless engine?

[2017-06-29 18:39] pfmmfp commented on #113
How would this be fixed with `ember@2.12` and `ember-engines@0.5.4`? It seems that the problem is still present and `ember-engines/resolver` has been removed. Which deprecates the fix proposed above.

[2017-07-04 14:05] mike183 opened #440 "Tagless components issue within routeless engines"
It seems that there are some event binding issues when using tagless components within a routeless engine.

Repro: https://github.com/mike183/engines-tagless-component-issue

**Steps to reproduce**
1. Clone the above repo
2. `yarn`
3. `ember serve`
4. Navigate to `http://localhost:4200/`
5. Click `Route #1` link at the top of the page
6. Click the 'Click Me' button several times and observe the cl

[2017-07-06 09:16] mike183 commented on #272
@knownasilya @trentmwillis @rwjblue

Thoughts on the above? I don't mind helping with implementation FWIW 🙂

[2017-07-06 15:31] dfreeman opened #441 "EngineAddon options hash"
In a standard addon's `index.js`, the keys on the exported hash end up showing up on the `Addon` instance's prototype. Given how `extend` works with `EmberObject` and `CoreObject`, I'd have expected `EngineAddon.extend` to wind up doing the same thing. Instead, the hash passed there winds up as `options` on the `Addon` instance.

This seems to have been the source of confusion for a lot of people,

[2017-07-07 03:48] trentmwillis commented on #272
Seems good to me. Clear user feedback is always :100:.

[2017-07-07 22:53] jacefarm commented on #282
Following @brunowego & @jonnedeprez...

As Ember Engines is experimental and being developed against the master branches of Ember and Ember-CLI, be sure that you are using **[compatible versions](https://github.com/ember-engines/ember-engines/blob/master/README.md#important-note-about-compatibility-and-stability)**.

[2017-07-07 23:11] jacefarm commented on #417
I'd add that *incompatibility* could be an issue...

As Ember Engines is experimental and being developed against the master branches of Ember and Ember-CLI, be sure that you are using **[compatible versions](https://github.com/ember-engines/ember-engines/blob/master/README.md#important-note-about-compatibility-and-stability)**.

[2017-07-08 22:56] pfmmfp opened #445 "Optional service dependencies"
I've been working on an engine that renders some kind of help contents of an app. It loads contents from a CMS and as it takes some time to log into that system and then actually show something, I wanted to provide the host app the ability to *know* when the contents finished loading. This way the host app would be able to take care of rendering its own loading indicator (as opposed to having the

[2017-07-09 01:15] #440 closed

[2017-07-10 20:03] dfreeman commented on #303
@kaermorchen See #441 here and https://github.com/dfreeman/ember-cli-node-assets/issues/11 over on the node-assets repo.

[2017-07-11 18:32] knownasilya commented on #400
I'm seeing this error:

[code]

Which I thought might be related to #376, but #428 didn't help. Anyone have any ideas? cc @andrewfan

[2017-07-11 19:03] knownasilya commented on #400
Cross-posted here: https://github.com/ember-cli/ember-cli/issues/4244

[2017-07-11 21:03] knownasilya commented on #386
Seeing the same issue. Using node-assets doesn't work due to this bug.

[2017-07-12 13:33] knownasilya opened #447 "Engine instance doesn't have deferReadiness"
I'm not using this API personally, but it's used by this addon: https://github.com/Vestorly/torii/blob/master/app/initializers/initialize-torii-callback.js#L14

Basically `application` is an instance of `Ember.Engine`, and that doesn't `deferReadiness` like a normal application.

cc @bantic

[2017-07-13 02:14] trentmwillis commented on #447
I've never thought of this before, but it seems reasonable to want to delay readiness of an Engine. Seems like it would potentially want to tie into the Promise used to delay the transition while loading. @rwjblue/@dgeb thoughts?

[2017-07-14 17:45] swidjaja opened #448 "Got error 'A component or helper named "link-to-external" could not be found' on integration tests"
When running my integration tests, they fail with error
**Error: Assertion Failed: A component or helper named "link-to-external" could not be foundError**

My package.json looks like this
"devDependencies": {
    "babel-plugin-module-resolver": "^2.4.0",
    "babel-preset-es2015": "^6.18.0",
    "babel-register": "^6.18.0",
    "bower": "^1.8.0",
    "broccoli-asset-rev": "^2.4.5",
    "camelcase

[2017-07-14 23:08] trentmwillis commented on #448
This is likely an issue with the Resolver that your integration test is using. There are some other issues that explain this more, could you take a look and see if those help?

[2017-07-20 11:23] andrewfan opened #454 "Will engines support different location type from the host app?"
I have a routable engine which I mount in 2 different applications.
In the first application I want the engine to extend host app router's location (in my case it is `hash`) but in the second one, i want the engine to have location type `none` while having location type `history` in the host app.
Will engines support such configuration in future?

[2017-07-20 15:22] trentmwillis commented on #454
Can you explain the use case a bit more?

Currently, the location type is per-router and since Engines share the same router as the host application your Engine's location type will be determined by the consumer. Given the existing setup, having multiple location types would be non-trivial to support.

[2017-07-20 22:38] #272 closed

[2017-07-24 10:26] andrewfan commented on #454
@trentmwillis we are working on a search tool called [OneBar](https://onebar.io/).
The search bar which you see at landing page is our main business application to easier show it at landing website, at application website (available only to subscribed users) and at desktop electron app we decided to wrap it in routable ember engine and simply mount in different host apps.

At landing website we do

[2017-07-27 00:33] alexander-alvarez opened #458 "Importing engine as a plain-old addon"
Before introducing https://github.com/ember-engines/ember-engines/commit/510654690ecd3b679d55f244d07f6e29e888991c we could use engines as regular addons.

For example I have an engine with several routes and components, but I also want to use some of it's components in another addon, so I would import it as you would any other in repo engine.

Now the assumption is that parents of addons are `Engi

[2017-07-28 13:32] rwjblue commented on #458
I don't fully understand what you mean here, can you whip up a demo repo that worked prior to that commit and doesn't now so that I can dig in and see whats going on/

[2017-07-29 18:58] c410-f3r opened #459 "Merged config.environment files?"
In an `addon` <-> `application` relationship, both `config.enviroment `files are merged automatically, does the same happens with the `engine` <-> `application` relationship ?

**myEngine/config/environment.js:**
[code]
**myApp/app/routes/application.js:**
[code]

Just want to talk with the application, should I use a service instead?

[2017-07-31 09:02] mike183 commented on #459
Engines receive their own environment config. If you view the page source of an application that includes an engine, you will see an individual meta tag named something like `myEngine/config/environment` which will hold the engines config.

For communicating between an engine and an application you should use a service as you suggested.

Also, just FYI, you will most likely receive help quicker by

[2017-07-31 11:12] c410-f3r commented on #459
Thanks for your reply. I guess there is no way to communicate with the app in a build time manner like config.environment files.

[2017-07-31 11:12] #459 closed

[2017-07-31 20:46] thec0keman commented on #438
After some further digging, it appears the issue is from [this commit](https://github.com/ember-engines/ember-engines/commit/b16f8553376a13bced4adb73ecf6827de1013d22).  Going to keep digging further to understand what is happening (and if this an issue with our setup).

[2017-08-01 00:09] trentmwillis commented on #438
It is likely that the addons being used have custom trees and opting out of the default caching semantics from Ember-CLI. Thus, since we now take into account the caching key, it is no longer being deduped.

[2017-08-01 02:36] thec0keman commented on #438
[Here](https://github.com/thec0keman/ember-engine-test/tree/engines-vendor-test) is an example repo.  It is just a basic ember app with an in-repo lazy-loaded engine.  The in-repo engine includes this in its `package.json`:
[code]

In 0.5.4 this will build and the engine-vendor file will be 0 bytes.  Checked out to [this commit](https://github.com/ember-engines/ember-engines/commit/b16f8553376a13b

[2017-08-01 02:42] thec0keman commented on #438
@trentmwillis  sorry I posted before seeing your comment.   Is there something specific about the engine or addon that would opt it out of the default caching?

[2017-08-01 13:52] alexander-alvarez commented on #458
Sorry I seem to have missed this. will throw something up to ilustrate

[2017-08-01 14:30] rwjblue commented on #438
The general gist of the caching was proposed in [ember-cli/rfcs#90](https://github.com/ember-cli/rfcs/blob/master/complete/0090-addon-tree-caching.md).  The solution in ember-data would be to implement the `cacheKeyForTree` hook and return a stable value (indicating that its addon tree is not customized per-consumer).

https://github.com/emberjs/data/pull/5110 adds the hook to ember-data.

[2017-08-01 15:51] thec0keman commented on #438
Thanks!  That makes sense.  So is the path forward here to submit PR's on each addon that is not being properly cached?

[2017-08-01 15:51] #438 closed

[2017-08-02 03:11] alexander-alvarez commented on #458
Hey @rwjblue I drew up an example illustrating.

:white_check_mark: [working](https://github.com/alexander-alvarez/engines-as-addons-bug/pull/1/files)

:red_circle: [not working](https://github.com/alexander-alvarez/engines-as-addons-bug/pull/2/files)

basically if you try to use an engine as an addon in an addon, and then try to use that addon, the application won't even build because the engine

[2017-08-03 12:32] dmtask opened #460 "Update existing model data"
Hi,

Briefly something about our structure. We use Ruby on Rails on the server side with the Trailblazer Framework. On client side Ember and Ember Engines.

Now we have the problem that some models are lying in the father, ie the actual Ember app and some models in the engine. Now the models from the engine still have relations to models which are in the father app. If I now want to update data fr

[2017-08-03 13:15] knownasilya commented on #460
I think all models have to be in the parent app. The engine can have it's own store with it's own models. Or the Engine could have it's own store, but extend the parent store.

[2017-08-03 13:38] dmtask commented on #460
I have the models moved to the core, but same error.

[2017-08-03 14:12] knownasilya commented on #460
Did you make the parent's store a dependency of the engine? You need to pass the store to the engine explicitly. See the docs here: http://ember-engines.com/guide/services

[2017-08-03 14:13] dmtask commented on #460
Yes i make

[2017-08-03 14:16] knownasilya commented on #460
The duplicate key error looks like an error with your backend/database, not with the client.

[2017-08-03 14:20] dmtask commented on #460
Yes, that's how it looks. I also do not believe that this is due to Ember. I thought however possibly have the Ember Engines peculiarities, which I have not yet thought.

[2017-08-03 14:23] knownasilya commented on #460
Most likely your data isn't matching how you defined the models. Looks like the data is dasherized, while ED usually expects camel cased attributes. I'd ask for help in the slack ember data channel or -help channel, since it's not really an issue with the frameworks.

[2017-08-03 14:30] dmtask commented on #460
Ok, thank you for your help :)

[2017-08-04 20:53] rwjblue opened #462 "Update addon infrastructure to latest blueprint."
We are getting build failures for `ember try:each` with the following output:

[code]

I believe that we need to update to the latest blueprint to resolve...

[2017-08-07 04:56] trentmwillis commented on #267
This has been implemented for a while, closing.

[2017-08-07 04:56] #267 closed

[2017-08-07 16:21] rwjblue opened #463 "CSS from lazy engines is not minified."
The `engine.css` and `engine-vendor.css` files from a lazy engine are not being minified in production builds.

To correct this, we need to add [this code](https://github.com/ember-cli/ember-cli/blob/0d17e839ca7a5128d1b95b9981a7e77ed0e55ead/lib/broccoli/ember-app.js#L1469-L1474):

[code]

[2017-08-07 18:07] alexander-alvarez commented on #458
@rwjblue does the above clarify what I'm trying to express?

[2017-08-08 08:41] dmtask commented on #460
The Solution: https://stackoverflow.com/questions/45487326/update-existing-model-data/45563419#45563419

[2017-08-08 08:41] #460 closed

[2017-08-08 17:59] #463 closed

[2017-08-08 18:01] #462 closed

[2017-08-08 23:43] rajuljain88 opened #466 "Engines do not honor storeConfigInMeta config property"
**storeConfigInMeta: false** in ember configs does not disable generation of engine specific config meta tags in index.html

Also the AMD module <MODULE_PREFIX>/config/environment (engine-config-from-meta.js), always reads from meta tags, so once the storeConfigInMeta is disabled, it should read directly from config json blob instead of reading from meta tags (https://github.com/ember-cli/ember-cl

[2017-08-09 03:27] akashdsouza commented on #466
Related: https://github.com/ember-engines/ember-engines/pull/228

[2017-08-09 20:57] rwjblue commented on #409
The fix is to update the `contentFor` in `ember-engines`'s `lib/engine-addon.js` [here](https://github.com/ember-engines/ember-engines/blob/master/lib/engine-addon.js#L873) to invoke `contentFor` on all of its own `addons`.

[2017-08-09 20:58] rwjblue commented on #409
I'm not 100% sure that we want this though, it seems somewhat odd to allow other addons to mutate the main apps `index.html` (considering that engines are essentially an isolation primitive)?

@trentmwillis - Thoughts?

[2017-08-09 22:04] trentmwillis commented on #409
Agreed. However, it also seems that we would want Engines to be able to use addons that have `contentFor` hooks. I'm not sure what the best solution here, but I lean towards enabling `contentFor` for an Engine's addons for consistency, as I believe it is what users would expect.

[2017-08-11 19:49] alexander-alvarez commented on #458
![image](https://user-images.githubusercontent.com/11779993/29229474-990b3ff8-7eac-11e7-9896-bb6dfe14e017.png)

[2017-08-11 19:49] #458 closed

[2017-08-14 23:08] majew7 commented on #395
Yes @scottharris86, I believe I know why.

**App directory from an Addon Gets Merged Into the Host.**
http://ember-engines.com/guide/creating-an-engine

[2017-08-14 23:13] majew7 commented on #395
Since Engines shouldn't re-export, I removed code from the app directory of the Addon, and the `EEXIST: file already exists` compile error went away.

[2017-08-14 23:39] scottharris86 commented on #395
@majew7 thanks man.. obviously from my comment I discovered the same thing. Just don't understand why the cli puts everything in the app directory if that's not where it's supposed to go. And makes the engine unusable. Appreciate the time and effort. I'm going to close this issue. Really should have done it a while ago

[2017-08-14 23:39] #395 closed

[2017-08-15 01:13] majew7 commented on #395
I think it's because Ember Engines is built on top of an Ember Addon concept, and thus perhaps for other types of Addons (non Engines) it's actually helpful that the CLI puts code in the app folder.  I'm still new to  Ember Addons, so I'm taking an educated guess.

[2017-08-16 13:44] tschoartschi commented on #437
Same issue here. Would be interesting if it is an error on our side or if it is actually a bug in ember-engine

[2017-08-17 14:08] rwjblue commented on #437
I think we would need a reproduction to be able to dig into this.

[2017-08-17 14:26] peStoney commented on #435
@rwjblue This also happens in our case with a lazy loading engine and ember-cli 2.12.0.

[2017-08-17 14:46] tschoartschi commented on #437
@rwjblue I solved the problem now differently. I don't use an outlet I use a component instead. But maybe I have time tomorrow to create a repo which demonstrates this issue.

[2017-08-17 16:03] rwjblue commented on #435
Yep, we need to guard the invocation of `cacheKeyForTree` (if not present on an `addon` we would default to no caching).

[2017-08-18 07:31] peStoney commented on #435
@rwjblue I did dig a little bit into  the calculate-cache-key-for-tree Addon - if I got the concept right it makes total sense to avoid redundancies. I just have no clue how to utilize the Addon - documentation is sparse...

[2017-08-18 13:43] mike183 commented on #447
FYI here is a relevant issue from the Torii repo, https://github.com/Vestorly/torii/issues/334

[2017-08-21 19:12] rwjblue commented on #435
Fixed by #469

[2017-08-21 19:12] #435 closed

[2017-08-21 19:58] akashdsouza commented on #435
@peStoney may be you start with how it's been used here: https://github.com/ember-engines/ember-engines/blob/master/lib/engine-addon.js#L319

[2017-08-22 00:11] majew7 opened #470 "CSS of Host & Isolation Philosophy?"
The philosophy of an Ember Engine is that it should be a stand-alone application, and thus should be isolated from the host application, yeah? http://ember-engines.com/guide/core-concepts

**Q)** What's the strategy to isolate an Engine from the host's CSS?

In my prototype, my Ember Engine is mounted into a real-world host application, and I see that all the host's CSS from application.hbs is imp

[2017-08-22 07:17] peStoney commented on #435
@akashdsouza Thanks! I think I'm getting it - actually every addon used in an engine needs to implement `cachKeyForTree()`. Is this correct?

[2017-08-22 17:53] majew7 commented on #388
@siva-sundar @brunowego Can you be more specific with your answer?  I have `lazyLoading: true` and this attempt did not work for me:

    <script src="{{rootURL}}engines-dist/face-member-profile/assets/engine.js"></script>
    <script src="{{rootURL}}engines-dist/face-member-profile/assets/engine-vendor.js"></script>

    <script src="/testem.js" integrity=""></script>
    <script src="{{rootURL}}

[2017-08-22 19:29] majew7 commented on #382
@siva-sundar Because your solution to this issue is similar to Issue https://github.com/ember-engines/ember-engines/issues/388, can you be more precise here too?

@MelSumner Did Siva's solution work for you?

[2017-08-22 20:00] majew7 commented on #388
Evaluating the demo repo ember-blog-engine (https://github.com/dgeb/ember-blog-engine), I observe that all 23 test pass (including `ok 23 PhantomJS 2.1 - Unit | Route | application: it exists`).

However, looking at `tests/index.html` I don't see that any new <script> tag entries were made since the creation of the repository.

I haven't found the configuration difference yet.

[2017-08-27 19:07] trentmwillis commented on #435
@peStoney the `EmberAddon` base class implements `cacheKeyForTree` by default. So as long as you're on a version of Ember-CLI that has `cacheKeyForTree`, all addons will have it by default. That said, addons that customize any of the `treeFor` hooks would want to reimplement the `cacheKeyForTree` hook to opt back in to caching.

For more details and background, check out the RFC for that hook: htt

[2017-08-27 19:08] trentmwillis commented on #382
For more context on why this is happening, please see https://github.com/ember-engines/ember-engines/pull/453#issuecomment-317035825.

[2017-08-29 10:47] josex2r opened #471 "Retry engine on assets error"
Hi.
I don't know if this is really a bug or is the correct implementation but I think I found a cache problem when dealing with the lazy engines.

### How to reproduce the error:
1. Visit an application with a lazy load engine (don't load it yet).
2. In developer tools **enable** the **Offline** mode in the Network panel.
3. Navigate to the lazy engine, the assets _engine.js_ and _engine-vendor.js

[2017-08-29 13:23] rwjblue commented on #471
I'm unsure of the exact approach for a fix, but I do agree that this is something that should be possible. I have a few general observations around the changes that you have linked above:

* ember-asset-loader - We shouldn't have to add a new `retry` parameter to the loaders, instead we should (by default) remove the `link` or `script` elements if the loading fails, and likely avoid caching in thi

[2017-08-29 18:44] jacefarm opened #472 "Minimatch 2.0.10 Node Security Vulnerability"
We're taking Engines for a spin, and we've been alerted to a [Node Security Vulnerability](https://nodesecurity.io/advisories/118).

The dependency lineage is thus:

[code]

But following the trail, I see no explicit reference to minimatch (babel-core?).  However, the yarn.lock file has references that would not bump to the suggested `v3.0.2` remedial version for minimatch.

[2017-08-30 10:22] josex2r commented on #471
About the **ember-asset-loader** there is no problem applying your solution.

On the other hand the changes in **ember-engines** are more complicated.
I've talked with my team mates and they talk about rejecting the current transition if an asset throws an error. This should trigger the default error behaviour in the application.
Could this be possible or we are not heading in the right direction?

[2017-08-30 10:37] SergeAstapov commented on #471
Rejecting the current transition if an asset throws an error seems reasonable for route based lazy engines: this would trigger `error` event on router and can be handled by host application.
This approach should give enough flexibility to host app developers to handle retry according to the app requirements.

What can be done with lazy engines mounted in templates via `mount` helper? What can be t

[2017-08-30 11:08] adrigzr commented on #471
I'm agree with @josex2r on the aproach of using transition reject on transition based engines.

On the other hand, an engine mounted via `mount` helper needs a bit of framework modification. Maybe we can change this helper to export an interface we can use with `with` helper like this:

[code]

Or, we can turn the helper into a component to fit it on this approach:

[code]

Inside the block we can

[2017-08-30 15:16] rwjblue commented on #471
`{{mount` is a completely different story 😸, we do not currently support an out of the box way to do lazy routeless engines so we shouldn't complicate this discussion with that topic.  See https://github.com/ember-engines/ember-asset-loader/issues/56 for a good place to discuss that though.

---

@josex2r

Yes, totally agreed here. The only "trick" here would be to ensure that the route loading pr

[2017-08-30 18:07] sangm opened #473 "Do not bundle lazy engines with another lazy engine"
Currently, if we have a lazy engine that's dependent on another lazy engine, trees get merged.

Ideally, we do analysis during the build and realize if it's another lazy engine, there will be a bundle generated and use the asset loader when we resolve the transition

[2017-08-30 18:07] sangm commented on #473
@rwjblue I would like to work on this if you are not currently.

@krisselden I would appreciate your insights into this :)

[2017-08-30 22:28] sangm commented on #473
Nvm. I had the wrong idea~

[2017-08-30 22:28] #473 closed

[2017-08-31 01:50] trentmwillis commented on #471
I'm :+1: on the ember-asset-loader changes. @josex2r, if you open a PR, I'd be happy to review.

As for the ember-engines side of things, I think an asset load failure should propagate like any other route transition failure (seems like we have an agreement in this area). We could internally track those asset load failures and keep a reference to the error object that allows the load to be retried

[2017-08-31 09:30] josex2r commented on #471
Then I'm going to start making some changes, I hope to have news soon.
Thanks for your help :)

[2017-08-31 20:23] krisselden opened #474 "engine boot promise is not chained to the promise of the engine"
https://github.com/ember-engines/ember-engines/blob/7f8b02fee1b0b40200c5411c59f692759d5f660e/addon/-private/router-ext.js#L254

This leads to errors being swallowed.  If the engine fails to boot, it fails downstream of this error when trying to transition into the engines route but without the original cause.

[2017-09-01 14:45] badmacstone opened #475 "Link into host app from engine"
Hi there. Is it possible to `link-to` from an engine into the host app?

Host app:
[code]

Engine:
[code]

This results in this route: `/accounting/dashoard`. But what I want is `/dashboard`.

[2017-09-01 14:54] mike183 commented on #475
See the guides on external links, http://ember-engines.com/guide/linking-and-external-links

[2017-09-01 15:21] badmacstone commented on #475
Oh thanks. The word "external" made me thought that it is about links to oustide the app.

[2017-09-01 15:30] garno opened #476 "Testing engine component with app service injection"
Hi,

I’ve been working on my first Ember app using engines and I’m having an issue with my test suite. I hope you’ll be able to help me out :)

Here’s what I have, [I’ve reduced the issue to the smallest reproducible case in a small app](https://github.com/garno/ember-engine-service-test):

- A simple service `app/services/my-global-service.js`
- An engine `lib/my-engine`
- A component within my e

[2017-09-01 18:09] garno commented on #476
I've though about it over lunch and realized I might as well stub my services. With that in mind, here’s the code that worked for me. If anyone else was wondering how to achieve that.

[code]

[2017-09-01 18:09] #476 closed

[2017-09-02 00:25] #474 closed

[2017-09-05 19:59] majew7 commented on #388
We have unit tests working now with two changes, with lazy loaded engines:
1. It's necessary to re-export pieces (routes, components, etc) in the `app` directory, for the purposes for testing.

2.
In `tests/index.html` this order worked:

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="/engines-dist/engine-name1/assets/engine.js"></script>
    <script src="/engines-dist/en

[2017-09-06 10:27] shokmaster commented on #404
+1

[2017-09-06 20:21] adambedford opened #482 "Parent addons not available to engine"
Perhaps this is intended for separation of concerns purposes, but none of the parent application's addons are available to the in-repo-engine. Is there a way to make them available without having to duplicate the dependencies in the engine's package.json?

[2017-09-06 21:05] gschulze opened #483 "Empty engine-vendor.js and engine-vendor.css in build output of lazy engine"
Hi there!

I think I ran into a bug when building lazy engines on Ember 2.15 using ember-engines 0.5.12. I basically followed the instructions at http://ember-engines.com/guide/lazy-loading. When including an ember addon in the `dependencies` section of the engines `package.json`, the assets of that addon still end up in `dist/assets/vendor.js` and `dist/assets/vendor.css`, instead of `dist/assets

[2017-09-07 03:46] trentmwillis commented on #475
@badmacstone yeah, naming that feature was difficult, if you have any alternatives the RFC is (technically) still open: https://github.com/emberjs/rfcs/pull/122

[2017-09-07 03:46] #475 closed

[2017-09-07 03:48] trentmwillis commented on #482
Nope. That is by design, as we want the dependencies of the Engine to be explicitly stated as that is needed to do the right thing during the build process.

[2017-09-07 03:48] #482 closed

[2017-09-07 06:03] siva-sundar commented on #483
If the engine has any `additional dependency` other than the ones specified to the app, then it will be added to `engine-vendor.{css,js}`. Refer https://github.com/ember-engines/ember-engines/issues/329

[2017-09-07 13:05] fr0gs opened #484 "Engine not accessing models"
I have an ember application running with ember-engines **0.5.12** and despite that it is properly mounted and I can access the engine from the parent application, when the engine's route is executed and the model is fetched, I consistently get:

[code]

It seems that I would have to generate a model in the parent application for it to be able to deal with engines' models. This is somehow violating

[2017-09-08 01:47] trentmwillis commented on #471
The ember-asset-loader changes have landed, but there is still work to be done in ember-engines itself.

[2017-09-08 01:56] trentmwillis commented on #404
This is likely a reasonable feature but will need to be added to `ember-asset-loader` itself as well.

[2017-09-08 12:02] mqje opened #485 "TypeError: Cannot read property 'router' of undefined"
Hello, I just had this error while trying to configure my engine.
I just have one route in my addon:
[code]

In my _app/router.js_
[code]

I received this error, when I tried to access to this route via _http://localhost:4200/myAddon/myRoute_:
[code]
Maybe somebody already faced this error, I couldn find any information on SO or github, but maybe I missed something!

If you need more information,

[2017-09-08 13:25] #471 closed

[2017-09-08 14:30] fr0gs commented on #106
@nathanhammond @eccegordo I am experiencing the same issue, I have models in the engine that are never to be used in the parent app. The parent's app.js is like this:

[code]

I want isolation from the engine's model to parent's, but I keep getting this error:

[code]

As if it is no longer able to mount the engine.

[2017-09-08 14:58] #484 closed

[2017-09-08 22:18] trentmwillis commented on #485
Can you let us know which version of ember-engines, ember, and ember-cli you have installed?

[2017-09-09 00:52] rwjblue commented on #485
FWIW, there is a bug I am working on between router.js and ember itself that presents very similarly to this one.  If an engine throws an error during the initial transition into it (e.g. the application route attempts to inject a service that is not present) the error that is thrown triggers the `Ember.Router` to run through its default `error` action.  Unfortunately, the implementation of the de

[2017-09-10 08:33] gschulze commented on #483
Ok, got it working in the meantime. Thanks for the clarification! I was wrong by trying to build the engine addon without a consuming host application. When runninig `ember build` inside the addon folder, it is building the dummy app, which obviously has the same dependencies as the engine addon. Consequently `engine-vendor.css` and `engine-vendor.js` ended up being always empty.

[2017-09-10 17:16] rwwagner90 opened #486 "Failed to load asset manifest"
This seems to be an issue with fastboot and engines. I get:

`Error: Failed to load asset manifest. For browser environments, verify the meta tag with name "website/config/asset-manifest" is present. For non-browser environments, verify that you included the node-asset-manifest module.`

I have `lazyLoading: false`, but I'm not sure if there is anything I am missing with configuring for fastboot?

[2017-09-10 23:11] rwwagner90 commented on #262
My engine is not lazy, but still blows up with fastboot. Anyone have a fix?

[2017-09-10 23:15] rwwagner90 commented on #486
FYI The problem seems to go away if I downgrade `ember-engines` to `0.5.9`

[2017-09-10 23:26] trentmwillis commented on #486
As far as I know, Engines don't work with FastBoot. Since Engines read information from the DOM (for `config/asset-manifest` and `config/environment`), they will error out by default unless FastBoot is configured to load them.

This PR should address most issues: https://github.com/ember-engines/ember-engines/pull/444. Once that is ready to go, we'll need to squash individual bugs one at a time wi

[2017-09-11 00:24] rwwagner90 commented on #486
@trentmwillis it seems that it does work, at least with `ember s` when I downgrade to `ember-engines` `0.5.9`, but then when I deploy, I still get the error. Is there a way to manually configure fastboot to work with engines now or do I need to wait on those PRs?

[2017-09-11 00:31] trentmwillis commented on #486
You can use the `updateFastBootManifest` hooks provided by FastBoot, but you'll pretty much be on your own. I'm hoping to land the necessary changes here soon (within the next week), just waiting on another blocking PR to get merged first.

[2017-09-11 00:42] rwwagner90 commented on #486
I can wait a week or so, no worries 😃

[2017-09-11 09:39] mqje commented on #485
I didn't know that there was a similar error, sorry for the duplicate.
I solved it by the way, but for that I modified a lot a file, so I don think that was a bug. I tried a lot of thing to make it work. But by the time I had this error, the example above were everything that I had in my repo more or less the rest were just templates and like.
For now I don't need support, but thank you for the re

[2017-09-13 16:15] rwjblue commented on #485
I submitted https://github.com/emberjs/ember.js/pull/15665 to address the specific issue reported here (the `'router' of undefined` error).

[2017-09-16 16:50] Mukhilan commented on #412
i am running in to the same issue, where engine needs some bower dependencies. But i can't able to import those dependencies in engine-vendor.js.

Attaching the code & issue i got

<img width="724" alt="screen shot 2017-09-16 at 10 18 01 pm" src="https://user-images.githubusercontent.com/8384732/30514121-f78082cc-9b2c-11e7-91d4-d2283362e902.png">

<img width="1440" alt="screen shot 2017-09-16 at 1

[2017-09-16 17:00] rwjblue commented on #412
Unfortunately, this is unlikely to be fixed in ember-engines. I would suggest working on migrating those bower dependencies to NPM...

[2017-09-17 08:15] Mukhilan commented on #412
Thanks for the suggestion. But after migrating the dependencies to NPM, i ended up in this issue [#303](https://github.com/ember-engines/ember-engines/issues/303)

[2017-09-18 05:14] Mukhilan commented on #386
Did anyone find the workaround for this issue? if so, posting demo code here for adding vendor dependencies will be really helpful.

[2017-09-18 13:26] DegreeDev commented on #412
I'm closing this issue as bower will not supported going forward (in general, not just here) with the suggestion to migrate the bower packages to npm/yarn packages.

Thanks @rwjblue!

[2017-09-18 13:26] #412 closed

[2017-09-18 19:06] rmachielse commented on #80
@nathanhammond @trentmwillis are you still interested in having something like this in ember-engines? This is exactly what we need for our application. Do you have any idea of the complexity of implementing this?

[2017-09-22 18:39] GCheung55 opened #487 "Update README with longhand lazyLoading syntax"
Per slack convo:

ember-engines.com should also be updated.

[2017-09-25 20:41] trentmwillis commented on #487
The necessary documentation updates have been made.

[2017-09-25 20:41] #487 closed

[2017-09-26 19:11] ryanone opened #489 "Addon's App Exports Getting Merged into Parent App's namespace (and not Engine's namespace)"
I have an app that defines an engine, and the engine depends on [ember-models-table 1.13.0](https://github.com/onechiporenko/ember-models-table/tree/a74a35b505180c3beb772c7b2ce9994eaa55a927).  The odd thing I'm noticing is that when I build, the [templates for the ember-models-table components](https://github.com/onechiporenko/ember-models-table/tree/a74a35b505180c3beb772c7b2ce9994eaa55a927/app/te

[2017-09-26 23:33] majew7 commented on #395
@scottharris86, hmmm... I'm questioning my solution to you now. :(

Our team, had decidedto allow files in the Ember Engine `app/` folder to re-export, for unit testing purposes.  When I delete the `app/` files my tests cannot find their subjects! :(

[2017-09-28 16:41] valtermartins1301 commented on #486
Hy guys, i'm not using fastboot on my project and i'm getting the same Error.
I've already tried to run a fresh project but the same issue occurs... :disappointed:

What i need to do to workaround this problem ?

[2017-09-29 15:44] rwwagner90 commented on #486
@valtermartins1301 I think fastboot just is not compatible with engines until @trentmwillis finishes his awesome work making the two play nicely together 😄

[2017-09-30 00:20] trentmwillis commented on #80
I don't remember where we left off. I think we need some concrete use-cases to make a decision on whether it should be supported or not (likely also requires an RFC). That said, it'd like be pretty tricky to support, due to the context issues described above.

[2017-09-30 06:51] gshah30 commented on #417
@trentmwillis Is this issue still open? This is preventing us from adopting Ember Engines for our new app? Do we have any solution for this?

I have tried everything, including the methods listed in #282. Nothing seems to work.

Note: engines are mounted perfectly fine when I use the test/dummy application in the addon project as the parent app, but when I link it using npm into the real parent ap

[2017-10-02 17:31] arjansingh opened #490 "Fastboot assets being exported to web-only engine build"
## Summary

The `asset-manifest.json` generated by Ember Engines is asking the browser to fetch Fastboot-
specific build code. This code should be filtered out by the Engine build process but its not.

It occurs in any engine that is mounted in an application that contains `ember-cli-fastboot`, regardless of whether that host application is being Fastbooted or not.

The main discussion/discovery o

[2017-10-03 03:16] trentmwillis commented on #417
@gshah since we haven't heard back from the reporter, I don't know if the issue is still valid or not. For the most part though, if you're running into this issue, it is likely due to a misconfiguration. Can't say for certain without a reproduction of the issue.

[2017-10-03 03:23] trentmwillis commented on #489
Sounds like an issue to me, though I'm unsure why it is happening. It looks like the link to the repro issue is not working, maybe the repo is private and needs to be made public?

[2017-10-03 09:50] josex2r commented on #404
Hi @trentmwillis, why is needed to modify `ember-asset-loader`?
The "tree" is built in this addon so I think if its possible to filter the broccoli `Funnel` the files are not going to be included.

For example, something like this will exclude the files located in `addon/` that matchs `**/*-test.js` (_just after [lib/engine-addon.js#L181](https://github.com/ember-engines/ember-engines/blob/master/

[2017-10-03 21:19] ryanone commented on #489
Thanks for responding @trentmwillis - sorry about that.  I made the repo public now.  Hopefully that unblocks you on your end.

[2017-10-04 04:36] trentmwillis commented on #489
I checked out the repo. It looks some files from the addon are included in the Engine's namespace, just not the templates. I think this is because we never invoke the `addon-templates` tree from within `EngineAddon`. @rwjblue could verify that.

As for the addon code being in the app namespace, that's expected since the application has [`ember-models-table` listed as a dependency](https://github.c

[2017-10-05 00:24] ryanone commented on #489
Regarding the ember-models-table being merged into the app namespace, that makes sense given how in that app, the app directly depends on ember-models-table.  Should that be the case though, if ember-models-table is a *transitive* dependency?

FWIW, I created a second Ember app with a standalone/external engine, and was able to reproduce the issue.  In this case, `ember-models-table` is a transiti

[2017-10-05 07:32] neborn commented on #484
I am seeing this same issue. @fr0gs what was your resolution if any?

[2017-10-05 11:24] fr0gs commented on #484
Moving the models to the wrapping application was the solution.

On 5 Oct 2017 09:32, "Nate Eborn" <notifications@github.com> wrote:

[2017-10-05 14:47] akashdsouza commented on #484
You can instead move the models to the addon's app folder. This way, you wouldn't have to duplicate it in multiple wrapping apps.

[2017-10-05 15:05] beatrizdemiguelperez commented on #404
+1

[2017-10-05 15:59] neborn commented on #484
That's what I was afraid of. Thanks Esteban and Akash.

[2017-10-06 02:24] mfeckie commented on #396
Any update with this folks?

[2017-10-06 11:40] rwjblue commented on #396
No, I don’t think anyone has worked on fixing the issue. Also, I believe that https://github.com/ember-engines/ember-asset-loader/issues/49 is a better place to track it...

[2017-10-06 11:41] mfeckie commented on #396
Thanks @rwjblue  , I'm taking a look to see if I can help there

[2017-10-06 17:43] knownasilya commented on #490
Also just hit this issue.

[2017-10-06 21:12] dwickern opened #491 "engine-config-from-meta.js is not transpiled in v0.3"
The file shows up as es6 in my vendor.js:
[code]

[2017-10-06 21:16] knownasilya commented on #491
Have you tried the latest version to make sure it wasn't already fixed?

[2017-10-06 21:18] dwickern commented on #491
I'm stuck on ember 2.9 😞 so I thought I'd try the compatible version since it's documented as being stable

[2017-10-08 01:42] trentmwillis commented on #490
The issue here is that the asset manifest is generated by crawling the directory structure at the end of the build. Thus any files in the crawled directories get added to the manifest. We recently landed a change to ember-asset-loader to allow files to be ignored, but the API is not currently exposed in ember-engines.

[2017-10-08 01:45] trentmwillis commented on #491
This is likely a compact issue between the versions of ember-engines + ember-cli (and maybe ember-cli-babel). A reproduction, or at the least, more info on your environment and dependencies would help.

[2017-10-08 15:18] trentmwillis commented on #396
This should be fixed by https://github.com/ember-engines/ember-engines/pull/492 on the next release.

[2017-10-08 15:24] trentmwillis commented on #404
This [feature has now been added to ember-asset-loader](https://github.com/ember-engines/ember-asset-loader/pull/58), but will need to be wired up for use in ember-engines (not entirely sure what that looks like currently).

[2017-10-10 03:08] skaterdav85 commented on #466
Does anyone have any workarounds for this? I'm using Ember in a legacy server-rendered app, so we don't use the index.html file which has the necessary `meta` tag. We just load the built JS/CSS onto the server rendered views, which I have little control over.

[2017-10-11 05:59] gshah30 commented on #417
@trentmwillis Thanks for the reply.

I am not sure what corrected the issue, but it is working for me now. I think this is not a bug and results from some misconfiguration, as you said.

But, I am still not sure what misconfiguration it was.

[2017-10-12 21:41] sangm opened #495 "Support tests folder within in-repo engines"
I'm thinking it may be best to generate a separate bundle for tests contained within the `tests` folder for an in-repo engine.

Does anyone have any potential problems with this? We want to start supporting the `tests` folder in the engine and this is what we deem a step towards the "right" state for us.

"right" state being, each in-repo engine has a tests folder and has the ability to run tests

[2017-10-12 22:30] rwjblue commented on #495
I think default generation would work fine for in repo engines (which essentially have no defined behavior for the tests/ folder), but we would need to explore what to do for stand alone engines. It’s possible that we can make this work just fine for them though...

[2017-10-12 23:45] trentmwillis commented on #495
What is meant by "separate bundle"? Do you mean in the asset manifest or simply another file? If it's the latter, then that would simply mirror what is done currently for stand-alone engines (which is what I think should be done).

[2017-10-13 00:24] rwjblue commented on #495
@trentmwillis - Confirm, roughly `engines-dist/<engine-name>/assets/tests.js`.

[2017-10-13 00:29] sangm commented on #495
Yes. @trentmwillis separate bundle.

Will start to work on this. Thanks guys.

[2017-10-13 10:46] amk221 opened #496 "Update README to include details for testing lazy engines"
The docs currently explain how to test engines by setting a custom resolver:

https://github.com/ember-engines/ember-engines#unitintegration-testing-for-in-repo-engines

^ This works great for non-lazy engines.

However, if the engine is lazy the tests don't pass because the engine is not loaded.

Please could the docs be updated to explain how to do this?

[2017-10-16 09:09] beatrizdemiguelperez commented on #404
hi @mydea, @trentmwillis thinks that https://github.com/ember-engines/ember-engines/pull/497
does not resolve what you are asking for. This PR removes some files from the build engine.js.
In our project, we need to exclude some files that are only for development purpose. For example, we have example routes, some fixtures/debug/test scripts and we don't want them on production build. This way, we

[2017-10-16 09:29] mydea commented on #404
So what we are looking for is like @trentmwillis said: We didn't want to remove stuff from the build output, but just not include it in the bundle. I think that fully removing files from the output is already possible to achieve via the various treeFor hooks anyhow, isn't it? The root if this issue is that everything that ends up in the engine's output folder will be included & loaded with the bun

[2017-10-16 10:45] beatrizdemiguelperez commented on #404
hi,
how could I exclude files via the treeFor hook?

[2017-10-16 15:02] mydea commented on #404
For example with [broccoli-funnel](https://github.com/broccolijs/broccoli-funnel), in an addon, put something like this (not tested at all) in the index.js:

[code]

This will take the content from the addons public folder, remove all files in the 'exclude-folder' folder, and put them in the dist output.

[2017-10-18 10:37] amk221 opened #498 "Add hooks for entering and exiting engines"
I'd like a way to know when an engine is entered and exited, in much the same way as routes signify that they are activated and deactivated.

[2017-10-18 10:42] amk221 commented on #382
Also related: issue for adding documentation for this https://github.com/ember-engines/ember-engines/issues/496

[2017-10-18 10:58] mydea commented on #498
I use the engine's application route's activate/deactivate hooks for this, which works fine for us.

[2017-10-18 10:59] amk221 commented on #498
Thanks, that sounds ideal

[2017-10-18 10:59] #498 closed

[2017-10-18 11:04] amk221 commented on #388
@majew7 Thanks for the technique. This works, except when run via ember exam. I raised a [separate issue](https://github.com/trentmwillis/ember-exam/issues/118) for that in case it affects anyone else.

[2017-10-18 17:36] jbailey4 commented on #433
I also ran into related issues/confusion on loading sub-states, but eventually got it working after ready @nathanhammond comment. Using `application-loading.hbs` within the engine, itself works. Following the guides, it seems you can have `loading.hbs` or `application-loading.hbs`, but `loading.hbs` does not work in an engine it seems.

Also,

My first inclination was to ONLY have the engine provi

[2017-10-19 09:04] mqje commented on #354
I am currently struggling with something similar, and I am not sure that I understand everything correctly.

In my host application, I have the model `house`. In my in-repo engines I have the model 'room', located in _/lib/myEngines/app/models/_.
And here is the problem, I want that the `room` model has a `belongsTo` relationship.

If I understand correctly, I have to put the the 'room' model in a

[2017-10-19 13:14] knownasilya commented on #354
The `room` model must be in the application because you are associating it with its model. Then all you need to do is pass the store to any engines that need to use `house` and `room`.

[2017-10-19 20:58] webhive commented on #485
Just got same error.

"ember-cli": "~2.16.2",
"ember-data": "~2.16.2",
"ember-engines": "^0.5.14",

[2017-10-19 23:52] rwjblue commented on #485
And what ember version? Can anyone provide a reproduction / demo app?

[2017-10-20 08:35] webhive commented on #485
[code]

[2017-10-20 09:08] webhive commented on #485
Just done some research.
Issue appear when adding ``ember-simple-auth`` addon.
Prepared test project to reproduce an issue.
Here is a sample project https://www.dropbox.com/s/ikjlltvw40sr4oi/bug_test.tar.gz?dl=0
Engines route protected with ``ember-simple-auth`` mixin and it caused an issue.
To see it go to http://localhost:4200/blog/
Engine's route without simeple auth mixin wok well.

May be iss

[2017-10-23 13:18] gschulze opened #499 "Cannot import anonymous AMD assets in lazy engine"
Importing anonymous AMD assets inside lazy engines does not work:

`this.import('vendor/heatmap.js', { using: [ { transformation: 'amd', as: 'heatmap.js' } ] })`

results in the following error:

`TypeError: Cannot read property 'has' of undefined`

A debug session revealed that `this._customTransformsMap` is `undefined` when the import function is called from the engine addon. Replacing `this.imp

[2017-10-26 13:54] dmtask opened #500 "Error by ember test in ember-engine"
Hi,

anybody a idea we can fix this error?:
<img width="1472" alt="bildschirmfoto 2017-10-26 um 15 52 44" src="https://user-images.githubusercontent.com/17166931/32056784-d9b17bd6-ba65-11e7-9b42-0eb1a90560af.png">

This is my package.json in the engine:
[code]

[2017-11-01 19:08] jbailey4 commented on #388
@majew7 I was able to get my unit tests working in a _slightly_ different way, not any better IMO.

I was able to use the `ember-engines/test-support/engine-resolver-for` module, as specified in the [README](https://github.com/ember-engines/ember-engines#unitintegration-testing-for-in-repo-engines). The README states its for in-repo-engines, but I'm using it for a stand-alone engine (not sure if t

[2017-11-10 11:08] MartinMalinda commented on #396
I'm still seeing this happening with `"ember-engines": "^0.5.14"`. When I change CSS inside the Engine, liveReload gets a message with `asset-manifest.json`, `tests/index.html` `index.html` being changed. It happens for CSS changes in the host application too.

![screen shot 2017-11-10 at 12 03 15](https://user-images.githubusercontent.com/9468793/32655790-6fabf60c-c60f-11e7-92f1-7414cae228b6.png)

[2017-11-10 12:20] MartinMalinda commented on #396
I tested this on master and while styles in the host app don't trigger a refresh, styles in the engine still do. Is this expected?

[2017-11-10 12:24] MartinMalinda commented on #396
https://github.com/ember-engines/ember-asset-loader/blob/master/lib/asset-manifest-inserter.js#L67

This check does not do prevent refresh in this case, because while one of the index files has info about the bundles, the other one has just `<meta name="aaa/config/asset-manifest" content="%GENERATED_ASSET_MANIFEST%" />`

[2017-11-16 10:01] geekygrappler commented on #386
@Turbo87 and I recently overcame this by using an in-repo-addon. For example we generated an in-repo addon:
`$ ember g in-repo-addon tl-mailcheck`

Then added that addon as a dependency of the engine in it's `package.json`:
[code]

In the addons `index.js`:
[code]

Note mailcheck is CommonJS and we want amd, so we're using rollup to convert it...
And our entry file `lib/index.js` just has import a

[2017-11-16 23:02] gitmil opened #502 "Managing common dependancies between the host app and engines"
We have a host app and multiple routable engines they all share some common lib (addon).   For any small change to common lib we have to do a release and update host app and all the engines' package.json.  So we would have to also create releases of all the engines as well.  We are using semantic versioning but The reason of doing it this way is, we have moved tests related to engines into engines

[2017-11-20 20:45] jherdman commented on #448
I'm experiencing this problem too. Following some advice in another issue I set my engine's resolver for the integration test. This did not resolve my issue.

[2017-11-20 20:49] jherdman commented on #448
This should be theoretically closed by #124, but that doesn't seem to be the case in the latest release.

[2017-11-22 04:23] fantazey opened #503 "NativeArray mixin not applied for dummy app"
Hi.
I'm trying to write some integration tests for my engine and got following error:
`A(...).filterBy(...).filterBy is not a function`

Seems that `Ember.NativeArray` is not applied on starting dummy application.

In environment.js prototypes extension disabled only for Date

So this will crush:
[code]
But, adding this line before make it pass
`Ember.NativeArray.apply( Array.prototype );`

[2017-11-22 22:22] denzo commented on #409
Just checking if there were any discussions around that.

We are using `ember-basic-dropdown` inside an engine and because it relies on the [`contentFor` hook](https://github.com/cibernox/ember-basic-dropdown/blob/master/index.js#L25) it does not work.

@cibernox @trentmwillis @rwjblue

[2017-11-24 14:21] geekygrappler opened #504 "Accessing engine service during acceptance test"
We are running an acceptance test, during which we want to stub out a method on one of the services which is included on the engine. I don't think/I can't find a clean way to get access to this service from the acceptance test.

Originally we tried this:

[code]

The problem being here that we `reopen` the `class` and not the `instance` of the service, so 1 test works, subsequent tests break as th

[2017-11-27 03:42] reidab commented on #392
I'm hitting what seems to be the same issue, but I can't replicate the working condition in 0.4.0.

[2017-11-28 23:13] kumarmadurai commented on #379
Hi ,

I
<img width="1280" alt="screen shot 2017-11-29 at 4 40 31 am" src="https://user-images.githubusercontent.com/12561357/33349372-cc5071b2-d4bf-11e7-8f32-146e76633651.png">
am facing following can anyone give solution please

[2017-12-02 01:00] kellyselden opened #506 "allow the host to define engine laziness"
is this possible?

[2017-12-04 17:47] stefanpenner opened #507 "`ember g --lazy=true in-repo-engine` fails"
leaving this here for later investigation:

[code]

[2017-12-04 17:48] stefanpenner commented on #507
Hmm, it seems to be post generation of `ember g in-repo-engine eager` all commands are dying. May be specific to `ember-cli-eyeglass`...

[2017-12-04 17:52] stefanpenner commented on #507
Ah, I think it my be an issue with the generators running within an add-on.

Steps to reproduce:

[code]

[2017-12-05 00:19] stefanpenner opened #508 "avoidable funnels + merges"
https://github.com/ember-engines/ember-engines/blob/8f66b5e3b8089cd53884be49f270cac05f9a3d17/lib/engine-addon.js#L319

is often truthy, when it really isn't needed as `maybeMergeTrees` via `ember-cli/broccoli/merge-trees` will return EMPTY_MERGE_TREES. In this location this internal construct leaks out, and results an un-needed funnel.

This optimization "EMPTY_MERGE_TREES" should likely be made t

[2017-12-05 00:35] rwjblue commented on #508
`maybeMergeTrees` is not the one from ember-cli, it does not return the `EMPTY_MERGE_TREE` constant.

The `maybeMergeTrees` used is here:

https://github.com/ember-engines/ember-engines/blob/8f66b5e3b8089cd53884be49f270cac05f9a3d17/lib/engine-addon.js#L297-L304

And it definitely allows for returning `undefined`.

[2017-12-05 01:40] stefanpenner commented on #508
@rwjblue actually, that isn't the `mergeTrees` you expect. It's actually this one: https://github.com/ember-cli/ember-cli/blob/master/lib/broccoli/merge-trees.js Which returns EMPTY_MERGE_TREE here https://github.com/ember-cli/ember-cli/blob/master/lib/broccoli/merge-trees.js#L77

[2017-12-05 01:41] stefanpenner commented on #508
There are actually additional places such as:

https://github.com/ember-engines/ember-engines/blob/8f66b5e3b8089cd53884be49f270cac05f9a3d17/lib/engine-addon.js#L158-L166
which encounter these `EMPTY_MERGE_TREE`

[2017-12-05 01:45] stefanpenner commented on #508
These two trees can also be `EMPTY_MERGE_TREE`'s https://github.com/ember-engines/ember-engines/blob/8f66b5e3b8089cd53884be49f270cac05f9a3d17/lib/engine-addon.js#L822-L823

Which would then result in the following `funnel` and `compileLazyEngineStyles` being potentially avoidable (or fast-pathed):

[code]

[2017-12-05 01:47] stefanpenner commented on #508
Skimming it looks like quite abit of avoidable work happens in engine builds when they encounter these empty trees. This is likely a good source of perf if addressed.

[2017-12-05 01:52] rwjblue commented on #508
Ya, confirm I had thought we were using `broccoli-merge-tree` directly.  I completely forgot that we used ember-cli's internal / private one...

[2017-12-05 16:35] MelSumner commented on #502
We are having the same issue, and would benefit from some extra documentation/clarification. (+@dgeb)

[2017-12-05 17:19] stefanpenner commented on #396
This is still an issue:

VERSIONS:
* ember-cli@2.16.2
* ember-engines@0.5.14

[code]

touch some css file

[code]

[2017-12-05 17:58] rwjblue commented on #396
@stefanpenner - Can you `npm ls ember-asset-loader`?

[2017-12-09 02:50] villander opened #510 "Roadmap"
Is there a roadmap or an estimate of when there will be a release candidate for the production of ember-engines?

[2017-12-09 02:51] #510 closed

[2017-12-11 23:04] JHKennedy4 commented on #401
I think we're running into a similar issue where when we try and inject a mocked service into a route managed by the engine. The engine doesn't seem to be able to access the mocked service, though we're having trouble figuring out the exact reason why. We've been adding the engineInstance to `window` so we can access it directly during tests, but it requires us to navigate to a route managed by th

[2017-12-14 08:25] cecemel commented on #379
I still have the problem (working with npm links)
engine: package.json -> ember-engines in peerDependencies.
Afer npm install of the engine, the output is:
_requires a peer of ember-engines@^0.5.14 but none is installed. You must install peer dependencies yourself._

The host app, has installed and listed ember engines in its dependencies.

Still when starting ember s, getting the same error.

emb

[2017-12-27 17:14] efx commented on #423
@trentmwillis To confirm, the guides for [external links](http://ember-engines.com/guide/linking-and-external-links) do not apply to in repo engines?
Hence I would need to create an additional ember addon (in its own repository) to share that functionality with `a-engine` and `b-engine`. My goal in building 2 in repo engines was to keep everything in 1 repository but it seems like that is not supp

[2018-01-05 05:19] GCheung55 opened #512 "The engines-dist outputPath should be configurable"
Currently, `engines-dist` is hardcoded to be in the root output path. It would be very useful to make the output path configurable.

[2018-01-05 19:16] robclancy commented on #396
This issue is fixed when using the current master for me. Just needs a release?

[2018-01-08 14:35] JonathanBristow opened #513 "Is it possible to change the path/filename of output files?"
`dist/engines-dist/engine-name/assets/engine-vendor-d41d8cd98f00b204e9800998ecf8427e.css:`

Is it possible to change `engines-dist` in the path and ` engine-*` in the filename?

[2018-01-09 09:48] tony2n2 commented on #499
`define.amd` is undefined when engine is set to lazy.

[2018-01-10 21:13] JHKennedy4 opened #514 "Request: Support Ember 2.18.x"
Just upgraded our app from Ember 2.14 to Ember 2.18, and I'm seeing the following.

[code]

I'm realizing now that the latest release only supports up to Ember 2.12.

Is there a timeline for releasing a version compatible with the latest Ember?

[2018-01-10 21:17] mike183 commented on #514
I'm currently using engines with Ember v2.17 without issues, though I haven't had the chance to upgrade and try it out with Ember v2.18 yet.

[2018-01-10 21:20] knownasilya commented on #514
Updating to the latest version of ember-cli-babel might help.

[2018-01-10 23:01] JHKennedy4 commented on #514
The issue really seems to be limited to that module, and only inside the Engine.

Also, just realizing that Ember 2.18 only landed on the 1st, so totally understand if support isn't quite there yet.

It's also still possible this is all our fault...

[2018-01-11 00:04] JHKennedy4 commented on #514
It was our fault. Error went away when we finally made it through the last of the linter errors. Still not sure why it was showing up only in the engine, but oh well.

[2018-01-11 00:04] #514 closed

[2018-01-17 20:12] stefanpenner opened #516 "remove NPM as a CI dependenciy"
https://github.com/ember-engines/ember-engines/pull/515 nearly does, but blueprint tests need it still.

[2018-01-20 08:12] selvaa89 opened #517 "App's Instance Initializers are executed for each engine loaded."
Problem: Instance initializers from app's dependencies are executed once on the app instance and again for engine instance even though engine is not depending them. Can the second execution be avoided?

My app has a non lazy loaded engine.

My app uses ember-simple-auth for authentication. While trying to optimize the loading/initial rendering rendering time, I found that the instance initializer

[2018-01-21 14:42] rossjha opened #518 "in-repo engine with in-repo addon errors"
Ember: 2.16.2
Ember Engines: 0.5.14

Trying to share components and helpers via an addon.  Within the engine package.json I have:

[code]

I get the following errors:

[code]

[2018-01-21 20:20] rwjblue commented on #517
Seems like a bug, but a reproduction would make it much easier to track down and fix...

[2018-01-23 18:00] marcemira commented on #486
Same as @valtermartins1301, I don't have anything fastboot related and I'm getting this error, any clues on what could be wrong? using current 0.5.14, thanks!

[2018-01-23 20:14] jherdman commented on #486
Perhaps this is related to the autoboot flag in 2.18?

[2018-01-23 20:59] vvisheshd opened #519 "Route less engines lazy loading!"
Is lazy loading supported for route less engines?

[2018-01-24 02:54] marcemira commented on #486
I wasn't able to fix it, but got rid of the issue for now by starting a project from scratch, using the `ember new foo-engine -b https://github.com/ember-engines/engine-blueprint.git` method, still not sure what was the cause :/

[2018-02-01 19:22] hwhelchel opened #521 "2.18 support"
What is needed to make this project compatible with the latest version of Ember (2.18)?

[2018-02-01 21:58] mike183 commented on #521
I am already successfully using ember-engines with Ember v2.18.0

[2018-02-01 22:13] rwjblue commented on #521
AFAICT, nothing is required.  Please open issues for any issues you run into...

[2018-02-01 22:13] #521 closed

[2018-02-02 16:08] #519 closed

[2018-02-02 20:51] villander commented on #395
@majew7 its is a bug of `ember-engines` it should avoid the normal behavior of creating re-export in the `app/`

[2018-02-02 21:02] villander opened #522 "What is the roadmap? future?"
Is Ember engines beta? or do we already have a release candidate?

What is the roadmap?

We have several incompatibility with the current state of the ecosystem ember cli + ember-engines. I would like to help a lot, but I need ember-engines to become more public

[2018-02-02 21:02] villander commented on #522
@trentmwillis @stefanpenner @rwjblue

[2018-02-03 00:06] villander commented on #232
Following the concept of route-less, I think we should start the request to load the Engine assets, when the template of that route / component is called. We can do something like what React does:

https://gist.github.com/rubenspgcavalcante/ea8d087cc2d997392abb2f1c7e02b666#file-app-jsx

[2018-02-03 02:25] nightire commented on #522
it would be great if you can join slack community, there's an active channel for ember-engines.

https://ember-community-slackin.herokuapp.com/

[2018-02-03 03:13] villander commented on #522
@nightire I'm very active in Ember's slack, and I already asked that question there, but I did not get answers. ¯\_(ツ)_/¯

[2018-02-03 19:17] mike183 commented on #522
As I understand, ember-engines is currently pre-beta, though there are many large companies such as LinkedIn using it in production with success.

I also agree that it would be good to get some clarification on what work is required (if any) to push ember-engines towards a 1.0 release.

WRT incompatibilities, I'm currently using ember-engines with Ember/EmberCLI v2.18 and have not seen any issues.

[2018-02-03 19:41] mike183 commented on #507
I'm curious if allowing regular EmberCLI addons to include in-repo-engines is something that is intended to work?

This doesn't blow up if the in-repo-engine is installed within an engine addon rather than within a regular EmberCLI addon.

[code]

[2018-02-03 19:48] josemarluedke commented on #522
I also would like to Ember Engines in a state where we could say it is not beta anymore.

As for incompatibilities, I think the major one is with FastBoot. We had a strong use case for Ember Engines, but being incompatible with FastBoot was a deal breaker.

[2018-02-03 20:10] mike183 commented on #472
@rwjblue Am I correct in thinking that this is fixed on master?

[2018-02-04 00:31] villander commented on #522
@mike183 I say incompatibility for example with Fastboot and mainly with Ember's ecosystem of tests, it's just to look at issues.

I think that with the issues of improvements and features that this repo already has, it would have to push ember-engines to 1.0. We who use ember-engines in production want very mature this project, route-less until today has not been implemented for example. But we n

[2018-02-04 00:38] villander commented on #522
I think the priorities would be to add support for Fastboot #444  and improve compatibility with the Ember testing API.

After that, attack things like:

- Lazy loading for route-less Engines

- Loading engines at runtime

- And several other interesting issues that were opened

[2018-02-05 14:25] rwjblue commented on #472
Yes, should have been fixed by https://github.com/ember-engines/ember-engines/commit/a75e8fde1a5d2b77541c703c7be6b1f5e449bd8c.

[2018-02-05 14:25] #472 closed

[2018-02-06 04:34] SanthoshRaju91 commented on #386
Could someone help me understanding the purpose of `isDevelopingAddon()` and returning true. My search is exhausted and I could not find any documentation as such, if someone can help me with this I can very well document it out, so no one else faces my situation.

[2018-02-10 09:32] mike183 commented on #522
FYI, https://discuss.emberjs.com/t/readers-questions-what-is-the-status-of-ember-engines/14236

[2018-02-10 21:24] villander commented on #522
Yes, I read that. It was great to have this answer, I think we can close this issue work hard for the growth of embe-engines.

I'm excited about what's coming.

[2018-02-10 21:24] #522 closed

[2018-02-12 12:27] villander commented on #516
@stefanpenner Which testing routine still needs the npm?

[2018-02-12 22:16] vinngn1 commented on #486
I tried create a new project, the problem was gone. I noticed that inside the `package.json dependencies`, there is no `ember-engines`. I tried to add `ember-engines` as dependency, the manifest issue occurs again.

Without ember-engines as dependency, it fails to recognize a component from another addon which include as an dependency for the engine.

Uncaught Error: Could not find module `ember-e

[2018-02-13 10:35] bartocc commented on #189
I am having the same issue today with ember-engines 0.5.14.

I've added the "semantic-ui-ember" addon with `yarn add semantic-ui-ember`, which adds it to the 'dependencies' block.

This addon provides a component named 'ui-accordion' for example. I am able to use this component in a template of the host app, but not in a template provided by the engine.

[2018-02-13 12:54] bartocc commented on #189
I should RTFM to myself!

My index.js file was not configured to use EngineAddon as described in the section [Sharing Components and More](http://ember-engines.com/guide/sharing-components-and-more) of the guides.

Things just worked after that

[2018-02-16 06:51] givanse commented on #364
If your file structure looks like this:
[code]
then you use it like this:
[code]

[2018-02-21 20:54] jbailey4 commented on #215
Looks like this issue/discussion is still opened, so I thought I would add an use-case I found within our app at Ally, that had an unexpected outcome.

We have a large, legacy section of our codebase that I am refactoring to an engine. The consuming app has a global mechanism to track metrics by `reopen`ing `Ember.ActionHandler#send`, so throughout the app a component can simply call `this.send('t

[2018-02-25 10:07] selvaa89 commented on #517
After debugging, I found that one of the dependencies of the engine was depending on the ember-simple-auth. So, executing the initializer is the expected behavior.

Hence closing the issue.

[2018-02-25 10:07] #517 closed

[2018-02-26 02:51] villander commented on #518
You can reproduce this with a new ember app in a public repo?

[2018-02-27 17:29] mattmarcum commented on #22
Just wondering what the status of this is?  I saw that the rfc was merged but couldn't find any other references to the `route-serializer` object/function

[2018-02-28 00:29] mattmarcum commented on #506
I think it makes more sense for the parent/consuming application to enable/disable lazy-loading for the engines it mounts.

[2018-02-28 16:05] eliasmelgaco commented on #470
I also have this doubt. how did you do? @majew7 @MelSumner

[2018-02-28 19:16] villander commented on #154
@rwjblue this issue can be closed? Or Is there anything still needing to be done with these checklists?

[2018-02-28 19:23] villander commented on #506
I think this can be configured on both sides, both in the consumer app and in the engine itself

- Consumer App: It can and should decide your flow.

- Engine: I want to decide a default value to enable/disable lazyLoading

But the consumer app anyone who always prefers and override the engine configuration

[2018-02-28 19:24] villander commented on #513
No! This issue is already open, I think you can boost it there. #512

[2018-02-28 20:43] villander commented on #503
Ember-engines disable prototype extension. You need create you array with Ember.Array

https://github.com/ember-engines/ember-engines/blob/master/package.json#L54

[2018-02-28 20:50] villander commented on #502
@dgeb Is there a solution for this? or does a feature need to be created for it?

[2018-02-28 22:32] #154 closed

[2018-03-02 03:25] denzo commented on #496
@amk221 the workaround that worked for us was to include the `<script>` tags manually on the `tests/index.html` pointing to the engine bundle.

[2018-03-06 14:32] gossi opened #524 "Support for scoped/organizational engines => mount('@org/engine')"
So, I tried to create a scoped engine `@org/engine` and tried mounting it in the dummy app:

[code]

which gives this error: `Assertion Failed: Asset manifest does not list any available bundles.`

I traced it down to this line: https://github.com/ember-engines/ember-asset-loader/blob/f8f1a448456697dbf128da27a15ca034d848763a/addon/services/asset-loader.js#L230

Second, here is the function that in

[2018-03-06 15:13] gossi commented on #524
Oh @lennyburdette hit me up on slack, he already did a PR to support this. See ember-engines/ember-asset-loader#63

[2018-03-08 16:15] GCheung55 commented on #232
The recent talk by [Dan Ambramov about async rendering](https://www.youtube.com/watch?v=v6iR3Zk4oDY) made me think of this lazy loading routless engines issue.

[2018-03-09 22:42] NicholasJohn16 commented on #56
Are there any options for this use case now? I'm creating a group of engines that an configurable app will consume and would like to include the ability to override template files for routes.

[2018-03-10 01:49] knownasilya commented on #56
You can set components on a service and then render them in your engine. Sounds like this needs a blog post.

[2018-03-10 13:30] NicholasJohn16 commented on #56
@knownasilya Do you know of any examples of your suggestion? I'm not sure exactly what you mean.

[2018-03-13 10:48] amk221 commented on #392
I'm also experiencing this, have you confirmed whether this is specifically CSS related, or do image tags also not work?

[2018-03-13 11:31] amk221 commented on #392
In fact, both seem to be working for me on `0.5.14`
Could it be because `svg` files are not fingerprinted by default?

[2018-03-13 15:57] mydea opened #525 "Support for new test syntax"
Has anyone got integration tests working for their (lazy) engine, with the new test syntax?

I get the error that `xxxx is not a helper`. I guess it is because `setApplication` sets the dummy app, in which the components themselves are not directly registered?

I somehow got it to work with this pretty hacky code:

[code]

and then, in my integration tests:

[code]

I'm sure there is a better way,

[2018-03-14 08:12] mydea commented on #525
I also seem to be unable to overwrite the store service in integration tests in the engine. E.g. this doesn't work, the store service is always the 'real' store service:

[code]

[2018-03-16 15:29] Leooo commented on #504
@geekygrappler

[code]

Seems to have issue with that once we start using a shared service with the engine though (the stub doesn't seem to be shared)

[2018-03-16 15:33] Leooo commented on #401
@trentmwillis declare your services in the dummy app? If I'm not wrong, those will be then shared with the engine (even for unit tests, strangely).

[2018-03-16 15:58] Leooo opened #526 "Mocking shared service in acceptance tests"
Hello,

I have difficulties mocking services in my acceptance tests: I used to extend them and it worked well, but when sharing the service with an engine, it overrides the stub when using the service inside the engine

That's the helper I use to extend services in acceptance tests:

[code]

used like that in my test:

[code]

The `window` service is correctly stubbed in my test when I'm in the pa

[2018-03-16 16:10] Leooo commented on #526
I see the note about https://github.com/ember-engines/ember-engines#testing-for-standalone-engines, but in my case the test is (for the time being) in my parent app

[2018-03-16 17:51] Leooo commented on #526
I used the code in https://github.com/ember-engines/ember-engines/issues/504#issue-276630472 to try and extend the services in my engines, problem I have now is that the engines are not instantiated when using the helper in my app - even with the setup in https://github.com/ember-engines/ember-engines#testing-for-standalone-engines.

[code]

[2018-03-16 20:01] villander commented on #526
@Leooo we already this issue

You can close this issue in favour #504, please?

[2018-03-18 04:29] villander commented on #212
The way code splitting and lazy loading works in the other frameworks (react, vue and angular) is different from ours, where there is a division of several parts that makes an app, different from engines that are several apps that form one. In react for example there is no such concern to isolate CSS from scopes that are loaded lazily, so does Vue and Angular.

As mentioned, CSS by default has glo

[2018-03-18 04:33] villander commented on #470
My opinion on this is [here](https://github.com/ember-engines/ember-engines/issues/212#issuecomment-373972232), and I think we should better document this part and if we need to create new features and mechanisms that are now =D

[2018-03-18 04:50] villander commented on #500
You can reproduce this with a new ember app in a public repo?

[2018-03-18 11:01] Leooo commented on #526
true. closing

[2018-03-18 11:01] #526 closed

[2018-03-18 11:02] Leooo commented on #504
I used the code of @geekygrappler above to try and extend the services in my engines, problem I have now is that the engines are not instantiated when using the helper in my app - even with the setup in https://github.com/ember-engines/ember-engines#testing-for-standalone-engines.

Going to an engine route before running the code below is not an option, as what I want to test is a redirection (i.e

[2018-03-19 17:26] knownasilya commented on #56
@NicholasJohn16 https://burstcreations.com/sharing-components-with-engines/

[2018-03-20 18:09] MelSumner commented on #483
@gschulze is this still an issue?

[2018-03-21 13:33] catz opened #527 "Dependencies between nested engines"
Hello,

Can you please help me to describe dependencies for following structure?

[code]

In host app I could write something like this in app.js, but the trouble is that socket service is not available until I load it.

[code]

I tried to write it in Nested1 engine.js file, but it seems Nested1.1 is looking for dependencies in Host app and not in parent engine ? service:socket is quite big and I

[2018-03-23 17:49] dfreeman commented on #524
Other than publishing a release of `ember-asset-loader` that has that fix in it, is there anything else blocking the use of engines with scoped names?

[2018-03-24 21:30] dmtask commented on #500
Oh, i have no idea if this Error exist now. I will check  this before.

[2018-03-25 19:43] villander commented on #500
If this error does not persist, please close this issue =D

[2018-03-26 18:13] lennyburdette commented on #524
So it turns out that fixing ember-asset-loader was only step 1. I didn't test out subroutes.

I believe the problem is that the engine is trying to look up its route map through the resolver with the key `route-map:@scope/pkg-name`. The `@` sigil already has some meaning in the classic resolver so it's being stripped away ([see relevant tests here][tests]). It ends up calling `require('scope/pkg-n

[2018-03-27 22:51] Duder-onomy opened #530 "FOUC in lazy engines + fastboot"
Using version 0.5.16, and the nearly latest fastboot 1.1.3
There is a FOUC when a lazy engines routes is being served by fastboot.

The engine.css is not loaded until after ember boots and revives the page:
![image](https://user-images.githubusercontent.com/1612785/37999147-644e29e6-31d6-11e8-986e-34b58489f552.png)

It would be nice to get that engine.css injected into the head when rending a lazy

[2018-03-28 19:12] catz commented on #530
Also very interested in fastboot+lazy engines, but couldn't figure out on how to wrap engine-vendor.js file in fastbootTransform. Tried to do like this https://github.com/catz/ember-engines-demo-fb/blob/master/lib/viewer/index.js without luck. It doesn't work when lazyloading=true, but works when false.

If I wrap this line in fastbootTransform() https://github.com/ember-engines/ember-engines/blob

[2018-03-30 20:55] jonnii opened #531 "Could not find module` ember-engines/components/link-to-component`"
I'm experimenting with a mono repo style project using yarn workspaces and ember addons/engines and ran into a problem with `0.5.17`.

Following the instructions I end up seeing the following in the console and the application does not boot:

It seems that downgrading to `0.5.16` fixes the problem.

The repo I am using is here - upgrading to `0.5.17` should demonstrate the problem:

https://github

[2018-03-30 22:07] lennyburdette commented on #531
0.5.17 was published with missing files: https://embercommunity.slack.com/files/U3UN5V2G6/F9Z318P6W/-.txt

[2018-03-30 22:09] rwjblue commented on #531
released 0.5.18, can you confirm that things are working properly now?

[2018-03-30 23:11] jonnii commented on #531
Confirmed resolved. Thanks!

[2018-03-30 23:11] #531 closed

[2018-03-31 16:46] villander commented on #251
This issue can be closed @trentmwillis and @rwjblue? This [solution]9https://github.com/emberjs/ember-qunit/pull/253) solve we problem?

[2018-04-01 13:53] Leooo commented on #504
So I'm using an `extendService` helper now in my engine's `moduleForAcceptance` file:

[code]

[2018-04-03 16:24] #508 closed

[2018-04-04 11:38] villander commented on #490
This issue was created before Fastboot support. I think that this can be closed.

cc: @rwjblue

[2018-04-04 12:10] thilo-cts commented on #485
@webhive  Have you fixed this issue or how did you overcome the above?

[2018-04-04 12:12] webhive commented on #485
@thilo-cts - not fixed it, just not using ``ember-engines`` anymore

[2018-04-05 03:52] crhayes commented on #525
@mydea I'm having the same issue mocking the store in my app (non-engine) integration tests. I am on Ember 2.18.

Have you been able to replicate this issue inside your main app?

[2018-04-05 06:39] mydea commented on #525
Haven't tried this, as our main app is very small and most stuff happens in engines.

[2018-04-05 12:03] villander commented on #530
@catz `fastbootTransform` just avoid your tree of be import on node environment. So this, is not a solution.

@Duder-onomy here we guarantee that all vendor is loaded in fastboot sandbox, its seems like a fastboot bug than from ember-engines.

[2018-04-05 13:28] catz commented on #530
@villander

Maybe I didn't understand you. This is exactly what I want and did not find on how to do it for lazy vendor files.

[2018-04-05 14:24] catz commented on #530
@villander

sorry, but line you mentioned doesn't explain that code loaded in fastboot sandbox. one little example

[code]

and one line in test.js - console.log(window.location.hostname);

when I run my server in fb mode I get

[code]

I suppose if it would be wrapped in fb transform, I didn't get this error ?

[2018-04-05 15:06] Leooo commented on #504
Looking at above, looks like things would be solved best by having the `registerHelper` automatically / optionally plug on engines, or by having  an `registerHelperForEngine` helper??

[2018-04-05 17:32] Duder-onomy commented on #530
@catz I am not sure why you are having an error... Since #494 landed everything is working fine for me. The fastboot transform essentially skips any code you put through it during fastboot. It is a quick fix for fastboot issues, but I think most of the time you will want to manually fix your code to make it work as best it can in fastboot. Following the ember-engines docs, and making sure you are

[2018-04-05 17:32] #530 closed

[2018-04-05 21:40] kellyselden opened #537 "0.5.18 has environment regression"
https://github.com/yapplabs/ember-modal-dialog/blob/db5778b23d7fd3de66811fcce9d6001f5c539d8a/app/services/modal-dialog.js#L23 stopped working after 0.5.15. In 0.5.14, `ENV.environment` is correctly `test`. After updating to >= 0.5.15, `ENV.environment` is `undefined` for the same test.

[2018-04-06 03:56] villander commented on #537
@kellyselden you can reproduce this error in a public repo? So I can help you better

[2018-04-06 04:46] kellyselden commented on #537
Here's a start https://github.com/kellyselden/engine-modal-bug. It only fails at localhost:4200/tests. If you run `ember test`, it passes. If you pin ember-engines to 0.5.14, the tests start passing in both command line and browser.

[2018-04-06 14:43] Leooo commented on #504
OK, I think I found a far simpler solution with @rwjblue 's help.

This apparently works without problem with engines, as we don't need to resolve a service then reinject under a different namespace. Also, extending instead of reopening the class prevents memory leaks, and also to only change small parts of a service while keeping the main class intact.

[code]

[code]
//oam-appointments-engine/te

[2018-04-06 16:34] Leooo commented on #391
[code]

works

[2018-04-06 16:48] knownasilya commented on #391
You should share the `RouterService` with your engine: https://emberjs.com/api/ember/release/classes/RouterService

and then inject that in your route:

[code]

No need to use private API.

[2018-04-07 16:41] villander commented on #537
@kellyselden I fixed this with #538 and tested with https://github.com/kellyselden/engine-modal-bug

You can test this branch with your current project?

[2018-04-08 19:53] villander commented on #502
@MelSumner you found any solutions to this?

[2018-04-11 12:36] arm1n commented on #504
There even seems to be a problem when using the [new test syntax](https://github.com/emberjs/rfcs/blob/master/text/0232-simplify-qunit-testing-api.md):

[code]

I would suppose that this work (either from beforeEach or within a test), but I can't get to make it work - it keeps injecting the original service (in this case it's a service from an addon within the engine, which I've overridden in engi

[2018-04-11 15:14] Leooo commented on #504
@arm1n just a guess: try `this.owner.unregister('service:my-service')` first?

[2018-04-11 16:16] MelSumner opened #540 "Documentation"
Expected:
The documentation would be consolidated to one place and when new features are added/updated, they are added to the documentation.

Actual:
Right now, using ember-engines requires a bit of juggling between Github and the guides, which can give the impression that documentation is missing.

Proposed solution:

1. Make the README.md a table of contents and link to sections on the ember-eng

[2018-04-12 18:46] villander commented on #56
@knownasilya any way of shared `models` between `engines` and `host app`? I need this to works with mirage

[2018-04-12 18:56] knownasilya commented on #56
The best way to do that would be via an addon, although I'm not sure mirage would handle that properly since you'd still need to use the shared store to actually query using those models. Because the shared store only knows about the models from the parent app. So an addon makes sense, since it would allow using the same model objects in both cases.

[2018-04-16 12:40] astronomersiva opened #542 "Components generated after server start are not being resolved"
If a component is generated after server startup, it is not being resolved resulting in failed assertions.

[Reproduction link](https://github.com/astronomersiva/engine-reload) - This is basically a "Hello, World!" app. Run `ember server` and then do `ember g component after-server-start -ir my-engine`.

Navigating to [http://localhost:4200/my-engine/hello](http://localhost:4200/my-engine/hello) w

[2018-04-17 10:18] buschtoens opened #544 "Calling this.import(...) results in a TypeError"
I could not find any explicit docs regarding importing vendor files / npm packages in ember-engines, but extrapolating from the [ember-cli docs](https://ember-cli.com/extending/#importing-dependency-files) and the following warning, I assume that calling `this.import(...)` in the `included()` hook is the correct way.

https://github.com/ember-engines/ember-engines/blob/16f20c958afde91d7e24f8786a6e

[2018-04-19 11:58] Leooo commented on #58
@alexander-alvarez can you precise what you mean by "using local paths" ?

Trying to use an app in-repo addon from a lazy-loaded, not in-repo engine, with the following:

[code]

And it's not working

[2018-04-19 14:57] Leooo commented on #58
ok, the above works if I reexport the component in my engine: `export {default} from 'in-repo-oam/components/call-to-book-content/component';`

[2018-04-20 10:46] Leooo commented on #58
The only (big) problem I have left is that I can not create an in-repo addon inside the dummy app of my engine. So can't test the above :(

First I had to add explicittly the Mirage path in my engine's index.js to manage to start serving the dummy app:

[code]

Then I'm able to start the dummy app, but the registry doesn't have the path to my component: `in-repo-oam/components/call-to-book-content

[2018-04-20 21:35] kellyselden opened #546 "respect disabled sourcemaps from host"
setting `sourcemaps.enabled = false` in dev mode from host will still create sourcemaps in the engine.

[2018-04-23 09:46] catz commented on #542
+1 I'm getting similar errors very often.

[2018-04-23 09:51] catz commented on #527
Small demo app: https://github.com/catz/eng-test

User object from wall-engine is shared to nested host-engine via app service property.

[2018-04-27 15:01] villander opened #547 "Update to latest version of ember-cli"

[2018-04-28 17:17] gokatz commented on #329
On a related note, can I **duplicate** the dependencies for my engine?

I'm trying to build an engine separately. Since the Deps of the engine and dummy app will be the same, the generated vendor files (js and css) will always be same. It makes impossible to inject an engine into an actual consuming app without marking it as an explicit dependency. Can I make a standalone build for an engine?

[2018-04-29 09:05] gossi commented on #524
Any progress here?

[2018-05-01 14:16] omarhamdan commented on #525
This setup worked for me:

[code]
Hope this helps!

[2018-05-02 19:26] dhindurthy commented on #447
is there any update on this issue by anyone? I am still facing it
ember-cli 2.15.1
ember-source 2.14.1
ember-engines: 0.5.10

[2018-05-03 05:46] johnpaulh commented on #282
hi all, i too got the same error.  I am using ember-cli 2.16.2 and does n't wish to downgrade to 2.12.x(compatible version for v.0.5.0)), i tried using the ember-cli 2.18.0 LTS with ember-engine v0.5.1 the errors went away. I found in ember-engine package.json, there is support for ember-cli 2.14.2 in the release tag v.0.5.14 and then it jumped to 2.18 LTS. Does ember-cli 2.16.2 supported ? I am n

[2018-05-03 09:39] dmtask commented on #500
I don't know if this error still exists, but I'll close the issue first. If it appears again, I'll open a new one.

[2018-05-03 09:39] #500 closed

[2018-05-09 19:01] lennyburdette opened #549 "0.5.19: "Defining a custom serialize method on an Engine route is not supported.""
This change does not appear to work: https://github.com/ember-engines/ember-engines/commit/6c598e62b5bb176562631a23fbe87bfb88cefe5e#diff-053886e73d8fe44d16cce9b6dbe79118R10

When I throw a debugger in that module and eval `Ember.Route.prototype.serialize`, I get `undefined`.

It could be `Ember.Route.create().serialize`, but that seems mildly inefficient. @rwjblue any other ideas?

[2018-05-09 19:10] CodeOfficer commented on #549
I'm seeing this as well. Same code works fine with 0.5.18 but breaks with this error in 0.5.19.

[2018-05-09 19:28] lennyburdette commented on #525
I solved this a slightly different way—I default to using the engines resolver, but set the application as the dummy app for acceptance tests:

https://discuss.emberjs.com/t/testing-engines-with-ember-qunit-3-4/14653

[2018-05-09 19:35] rwjblue commented on #549
:( sorry y’all

Fix should be to call `Ember.Route.proto().serialize` and cache it I believe.

[2018-05-09 19:43] lennyburdette commented on #549
It also needs a `return` in front 🤣. But that fixes it!

[2018-05-09 21:16] rwjblue commented on #549
ember-engines 0.5.20 published 🎉

[2018-05-09 21:16] #549 closed

[2018-05-11 21:30] XaserAcheron commented on #499
Ouch -- just ran face-first into this while doing some long-awaited updates. Seemed this worked fine on older Ember versions, but v3.1.x throws exactly the error as described.

[2018-05-24 13:24] mydea opened #558 "Deprecation warning for replaceWithExternal/transitionToExternal"
When using `this.transitionToExternal` in an engine route, a deprecation warning is output:

[code]

Originating here: https://github.com/ember-engines/ember-engines/blob/aeea4be21bce87d60e1aa3b03e38a4ecb69cb26b/addon/-private/route-ext.js#L10

[2018-05-25 02:03] SergeAstapov commented on #558
This is valid for Ember => 3.1

Would be nice to replace `this.router` with `getOwner(this).lookup('service:router')`.
But then we would need to provide the instance of RouterService from host app 🤔

Any ideas how to prevent explicitly defining `RouterService` in `dependencies.services` within engine.js file?

[2018-05-31 22:51] stefanpenner opened #559 "drop useDeprecatedIncorrectCSSProcessing"
cc @rwjblue we are good to drop this right?

[2018-06-01 01:30] rwjblue commented on #559
ya, just need to verify we don't need it any longer in any of our apps, then we can bump to `0.6.0` and drop...

[2018-06-10 13:03] TigressBailey commented on #433
Just want to confirm whether this issue is fixed.

[2018-06-12 14:47] TigressBailey commented on #432
@trentmwillis Same here. The loading template shows up until the JavaScript file and CSS file are downloaded.

[2018-06-14 19:33] drewcovi opened #561 "link-to-external-component not active for child routes"
It appears that link-to-external-component no longer stays active for child routes within an engine.

Ideally we have an active-ancestor class or something along those lines.

Let me know if there's anything I've missed.

[2018-06-19 00:50] rwjblue commented on #558
We can (for now) swap to `let router = this._routerMicrolib || this.router; router[methodName](...stuff)`, but I agree that we do need to work to swap to the public service...

[2018-06-21 13:15] aaxelb commented on #499
FYI, this is fixed for ember-cli 3.1 by #562, but I don't know if it'll be merged because it doesn't work with ember-cli master.

[2018-06-21 13:15] aaxelb commented on #544
FYI, this is fixed for ember-cli 3.1 by #562, but I don't know if it'll be merged because it doesn't work with ember-cli master.

[2018-06-25 23:50] bartsqueezy commented on #525
Ran into this same problem.  Not a lot of documentation on this, unfortunately, but was able to find [a nice example on how to set a custom resolver during an integration test using the new testing syntax](https://github.com/rwjblue/ember-qunit-codemod/pull/59/files#diff-73cc0ae3b7afa920e08ff5b5c80f3e03).  Props to @rwjblue for having a good test example to show this 👍

In short, you can do this (

[2018-06-26 22:06] avacado opened #563 "Does in-repo engines support lazy loading."
I am creating an in-repo engine(basically addon) and set following in the index.js
lazyLoading: {
    enabled: true
  },

When I run my app in production, I get the error about route not found on undefined. The issue doesn't occur in mirage-setup OR if I disable the lazyloading.

Has anyone seen this issue and possible workaround

[2018-06-28 07:42] catz commented on #563
Hello, can you prepare minimal example repo? Can you check mine small example https://github.com/catz/eng-test ?

[2018-07-03 12:06] mydea commented on #525
This is definitely nice! But still lead to some issues.
For example, some services that are passed into the engine as a dependency are not present in that case - But it is rather easy to manually inject them, so that's fine.

Also, I got an error that "link-to-external" is not set.

Finally, there is also an issue with the config: It will then load the engine config, which is especially problemati

[2018-07-06 08:55] Leooo commented on #502
We are thinking on our side to use `^` versions of our common addon in the package.json of both the parent app and every engine. That way new builds of the parent app will always automatically get the last common addon version both for the app and the engines.

Problem we have left with that is that we would still need to run every engine's tests together with the parent app tests, to make sure th

[2018-07-07 17:37] anulman commented on #232
Bumping this thread; per @villander's React notes I'd also suggest looking upstream at Webpack's code splitting guide, particularly re [prefetch & preload](https://webpack.js.org/guides/code-splitting/#prefetching-preloading-modules).

Since Ember is convention > configuration though, I think our syntax shifts slightly. Specifically, I think non-routable `{{mount 'foo'}}`s ought to:

- Accept an `

[2018-07-09 13:14] deepan83 commented on #502
So there seems to be some unpredictable behaviour with common addon dependencies in lazy loaded engines with host version modules (of the same addon) being overridden with the engine's version causing bugs. Would the solution be for engines to build its dependencies into it's own namespace? `/engine-name/addon-name/module-name` for example so they don't conflict with host app modules?

[2018-07-10 19:07] Duder-onomy commented on #530
AIGHT! I think I found the spot to properly push on this one.

Ember asset loader, This function does nothing during fastboot for engines...
https://github.com/ember-engines/ember-asset-loader/blob/master/addon/loaders/utilities.js#L33

[2018-07-10 19:24] Duder-onomy opened #564 "Ember engines router extension will never load lazy engine files during fastboot"
Hey,

I am running across a FOUC in lazy engines + fastboot.

I have narrowed it down to 2 issues:
1. [This line from the router extension](https://github.com/ember-engines/ember-engines/blob/06116a0b4ffdf90208b608d9581016f78a8887b8/addon/-private/router-ext.js#L233) will always return true in fastboot land and subsequently never call the loader.
2. Ember asset loader does not know how to 'load' f

[2018-07-16 17:52] twokul opened #568 "[QUEST] Ember Engines with `package` API"
Ember Engines proved to be very useful composability primitive: it allows multiple logical applications to be composed together into a single one.

The first iteration of Ember Engines was impacted by the lack of Ember CLI public APIs. That led to quite a few API extensions and using `public` tree to produce engines files.

Moving forward, Ember Engines should take advantage of the new public `pac

[2018-07-16 20:55] mike183 commented on #568
I imagine we’d also need to update the blueprints as part of this work? Both for in-repo engines (in this repo) and standalone engines ([here](https://github.com/ember-engines/engine-blueprint)).

[2018-07-16 21:29] twokul commented on #568
@mike183 possibly! afaik, we use `ManifestGenerator` + a bunch of properties in engine's `index.js` file; if that were to change, we would need to update blueprints. I'm not sure it would right now. Or is there something else you were referring to?

[2018-07-17 05:09] villander commented on #568
@twokul I look forward to being able to help. Could we best describe each task? Packager API is still very private.

[2018-07-20 09:02] mike183 commented on #568
@twokul Sorry for the delayed response.

I had just assumed that with a codemod being mentioned that the required changes may also need to be made within the blueprint output?

[2018-07-20 22:22] sarbbottam opened #570 "Question: How to share service from an addon across engine"
Hi there,

I have an addon `ember-my-addon`, that has a component (`my-component`) and a service (`my-service`). I want all the engine to share `my-service`.

I tried

[code]

but the service is not being shared, wondering how to do it.

Any pointer would be helpful. Thanks!

[2018-07-20 23:32] sarbbottam commented on #570
My bad, I missed a few occurrences.

[2018-07-20 23:32] #570 closed

[2018-07-24 02:56] jasonmit commented on #490
@villander any chance you can reopen this?  This issue is still active.  Ran into it with the latest of ember-fetch and ember-engines.

@trentmwillis's API for allowing engines to exclude files still needs to take place.  Happy to carry the torch if anyone wants to pass along some context before I get started.  My assumption is this config should be read from the engine config.  Since there isn't

[2018-07-24 13:38] rwjblue commented on #490
@jasonmit - Maybe we can start with a small repro? (Mostly to make sure I grok the current issue that you mentioned in ember-cli/ember-fetch#69...)

[2018-07-24 19:57] jasonmit commented on #490
@rwjblue here is an example of the issue: https://github.com/jasonmit/x-lazy-app/

[2018-07-25 21:53] stefanpenner opened #574 "Let's begin enforcing keyword: ['ember-engine']"
We already have prior art:

- `[ 'ember-addon']`

This makes searching in npm easier, this also provide capability to both emberobserver.com and emberaddons.com to discovery addons. And under the hood, it also powers how ember does addon discovery.

Changes required in this project will begin as superficial changes, but we could learn to utilize more firmly over time. Likely by 1.0.0

Worst case s

[2018-07-25 22:17] rwjblue commented on #574
Seems good to me, we can start with a warning then make it an error at the next "major" bump...

[2018-07-26 20:22] stefanpenner opened #575 "- errorMessage: mergeTrees.isEmptyTree is not a function"
i need to make this work for older CLI's (very possible)

[2018-07-26 20:34] rwjblue commented on #575
Hmm, do we support older ember-cli's?

[2018-07-26 20:34] rwjblue commented on #575
Maybe we should detect the ember-cli version and fail with a nicer error when you are running on too old of a version?

[2018-07-26 23:57] #575 closed

[2018-08-01 21:37] rjschie opened #577 "Adding new file to lazy-engine while server is running doesn't add to build"
If I run `ember serve` and then add a file to my lazy-engine's `addon/controllers` folder (or anywhere), the file is not included in the resulting `engine.js` folder.

It looks like the area that causes this is at the [buildEngineJSTreeWithoutRoutes](https://github.com/ember-engines/ember-engines/blob/master/lib/engine-addon.js#L124) function. In the `broccoli-dependency-funnel` it's running `fs-t

[2018-08-02 03:41] stefanpenner commented on #577
Thanks for sharing the reproduction!

[2018-08-07 02:58] stefanpenner opened #579 "no way to disable sourceMaps"
They are slow/broken in dev, they don't serve much purpose but regardless, respecting the build configs `sourcemap.enabled` should be fixed.

[2018-08-07 16:44] stefanpenner commented on #561
Could you provide a failing test? That would help addressing this issue.

[2018-08-07 16:46] stefanpenner commented on #563
Ya it should work, our apps use this.

If you can provide a reproduction I'll, reopen :)

[2018-08-07 16:46] #563 closed

[2018-08-07 16:46] stefanpenner commented on #547
done :)

[2018-08-07 16:46] #547 closed

[2018-08-07 16:46] stefanpenner commented on #579
duplicated of: #546

[2018-08-07 16:46] #579 closed

[2018-08-07 19:36] stefanpenner opened #582 "enable - env: EMBER_TRY_SCENARIO=ember-default-with-jquery"

[2018-08-14 14:56] buschtoens commented on #525
The solution provided by @mydea (thanks!) only seems to work for *non-lazy loading* engines, which is probably because in a render test there is no application booting and thus no `asset-loader` service loading the extra assets.

[2018-08-14 15:00] mydea commented on #525
This part is rather straight forward to solve, by adapting your test-helpers.js as described here https://github.com/ember-engines/ember-engines#testing-for-standalone-engines

[2018-08-14 15:01] buschtoens commented on #525
I was just about to paste this code:

[code]

Didn't know that this is a promise, thanks!

[2018-08-15 08:55] buschtoens commented on #392
Dupe of #364.

You can "fix" it by prefixing with `/engines-dist/<module-prefix>`, as this is [where files of `/public` end up](https://github.com/ember-engines/ember-engines#public).

For example, if you had an image at `/public/assets/tomster.png`, instead of

[code]

you would write

[code]

[2018-08-21 07:38] kandhavivekraj opened #585 "calling render with two different instances, templates are not rendering.."
I have a `{{outlet 'galaxy'}}` in both app's application.hbs and engine's application.hbs.

When I called render method with engine's instance within engine's route, template rendered in application's outlet 😲

Similarly, when I called render method with app's instance within engine's route, but this time template not rendered in both outlets 😞

While I inspect, previously called render method's c

[2018-08-30 12:45] buschtoens opened #587 "Bring the router service to engines"
Would be really cool, if we could bring the `RouterService` to engines as well. I propose keeping the exact same API, but adding an `*External` variant for all methods, just like we are doing with the route extension:

https://github.com/ember-engines/ember-engines/blob/ec4d1ae7a413a7e5d9e57a4e3b2e0f0d19a0afcd/addon/-private/route-ext.js#L14-L17

Implementing a proper `RouterService` for engines w

[2018-08-30 12:47] buschtoens commented on #587
Closes #260, #391.

[2018-09-05 18:10] stefanpenner commented on #559
likely a 0.4.x release eh?

[2018-09-05 22:39] rwjblue commented on #559
Not sure I understand. We are already on 0.5, I would think this would require a 0.6.0 (e.g. a breaking change)...

[2018-09-05 23:19] stefanpenner commented on #559
@rwjblue oops, you are right. 0.6.x

[2018-09-06 08:29] roberkules opened #590 "transitionToExternalRoute for controller"
Hi,

so there's `transitionToExternal` on the _route_, but no equivalent for the _controller_ (something like `transitionToExternalRoute` as a counterpart to `transitionToRoute`).

how am I supposed to transition to an external route from the controller, or am I missing something?

thx, robert

[2018-09-06 08:58] mike183 commented on #590
Looks like this has just never been implemented. Unless it was left out for a specific reason?

If not, I guess we'd need something similar to [this](https://github.com/ember-engines/ember-engines/blob/8b3c57fffaaaac21b4f76aa9362de36a81782bb8/addon/-private/route-ext.js), but for controllers.

@rwjblue c/d?

[2018-09-12 15:59] buschtoens commented on #590
This is probably best consolidated into #587?

[2018-09-12 16:12] jackson-dean opened #592 "Strange behavior using modelFor from a nested engine route"
I have an engine which has an engine mounted in its routes.js. This nested engine is able to directly reference the route model of the parent engine, as long as there is no route in the child engine having the same name. For example, if I have routes/application.js in the parent engine, but do not have an application.js in the child engine I can directly access the parents application route via `t

[2018-09-12 20:50] DerekJacobi commented on #592
@jackson-dean have you looked here http://ember-engines.com/guide/mounting-engines ?, specifically about resetting the namespace? `Router.map(function() {
  this.mount('super-blog', { resetNamespace: true, path: '/blog' });
});`

[2018-09-12 21:39] jackson-dean commented on #592
yeah, have been mulling over the guide for some time. I don't think resetNamespace really addresses the issue. I tried setting the option to true but still has the same behavior. If I don't export a `routes/application.js` from the child engine, then modelFor('application') from the child engine directly gives me the parent engine's application route model. I'm trying to understand if this is just

[2018-09-13 15:37] DerekJacobi commented on #592
oh ok I see i misread what the initial question was, it seems like that would be how the engine should work, I will try playing around with that on my end

[2018-09-13 15:49] DerekJacobi commented on #592
Also is this an in repo engine? Trying this in a separate engine does not work for me

[2018-09-14 17:56] jackson-dean commented on #592
it is an in-repo engine. As soon as I have time, I will try to create a simple reproduction repo and share it with you.

[2018-10-02 18:50] rwjblue commented on #524
@lennyburdette - We can probably teach the resolver specifically about `:@`, which should unblock us here...

[2018-10-17 14:55] catz commented on #542
similar to #577

[2018-10-18 03:06] Penthious commented on #537
@villander this issue reappeared itself in 0.5.21 and is still in 2.5.24. When I try 0.5.20 my ENV.enviroment shows up in production but when I upgrade my version ENV.environment is undefined.

[2018-10-23 13:19] toovy commented on #232
I'm curious, is anyone still working on this?

[2018-10-23 18:07] rwjblue commented on #232
AFAICT https://github.com/ember-engines/ember-asset-loader/issues/56 is the only thing required...

[2018-10-23 19:36] toovy commented on #232
@rwjblue thanks, sounds like it is a simple step. You already posted reference code. What is hindering the implementation?

[2018-10-23 20:13] rwjblue commented on #232
Someone to do it 😸

[2018-10-24 07:41] toovy commented on #232
Guess then we'll have to wait for someone smart having the time! :)

[2018-10-24 08:43] buschtoens commented on #232
Cross-posting https://github.com/ember-engines/ember-asset-loader/issues/56#issuecomment-397867856:

[2018-10-24 14:16] jbailey4 commented on #401
@Leooo @trentmwillis My app at work constantly runs into this too, and so far we've landed on this approach. One problem we run into with this is as new services are shared across our apps/engines, we have to remember to replicate that in the test's dummy app.

[2018-10-24 19:38] buschtoens opened #599 "ember-source@v3.6.0: Router#getHandler is deprecated and not callled any more"
[`Router#getHandler`](https://github.com/emberjs/ember.js/blob/v3.6.0-beta.1/packages/@ember/-internals/routing/lib/system/router.ts#L216-L230) has been [deprecated](https://deprecations-app-prod.herokuapp.com/deprecations/v3.x/#toc_remove-handler-infos) in `v3.6.0-beta.1`. It was still available in [`v3.5.0`](https://github.com/emberjs/ember.js/blob/v3.5.0/packages/ember-routing/lib/system/router

[2018-10-24 19:51] buschtoens commented on #599
https://github.com/ember-engines/ember-engines/blob/d44802d05054919b3f701a00911267d597cc27e9/addon/-private/router-ext.js#L74-L95

This used to replace [this bit in `v3.5.0`](https://github.com/emberjs/ember.js/blob/v3.5.0/packages/ember-routing/lib/system/router.js#L569-L610), that now seems to have been moved to [`PrivateRouter#getRoute` in `v3.6.0-beta.1`](  https://github.com/emberjs/ember.js/

[2018-10-25 03:58] toovy commented on #232
Just tested https://github.com/buschtoens/ember-lazy-mount and it seems to work fine. As I now know this addon now I'm fine with the solution, still I think the code somehow should be incorporated in standard engines (or asset loader). This feature is really great, once more it enables you to manage big applications and split the code apart. A great win for ember.

Shouldn't we update the readme a

[2018-10-25 18:23] dknutsen opened #601 "link-to-external inconsistency between routable/routeless engines"
### Use case:
I have two engines, one routable and one routeless. Both are rendering a specific component from a shared addon. Said component has a `link-to-external`. I want this link to work the same in both engines (given that they are configured the same way).

### Expected result:
I would expect to be able to give both engines the same external route in their engine configs (e.g. `foo: 'root.

[2018-10-25 21:17] #599 closed

[2018-11-09 08:28] jizhu opened #602 "queryParams not work when call transitionToExternal"
https://github.com/ember-engines/ember-engines/blob/8b3c57fffaaaac21b4f76aa9362de36a81782bb8/addon/-private/route-ext.js#L7

Hi,

When I call this.transitionToExternal('error', { queryParams: { trk: 'lalal'}});, it does jump to error route, but without params I set.
No errors in console.

I set the external Routes in engine.js
 externalRoutes: [
      'error',
    ],

Does anyone know this situati

[2018-11-12 03:44] #602 closed

[2018-11-13 14:39] buschtoens commented on #524
https://github.com/ember-cli/ember-resolver/blob/master/addon/resolvers/classic/index.js#L46-L75

Seems like there's already an exception for `helper:@content-helper`. Would the valid fix be just allowing any `fullName` containing `:@`?

[2018-11-15 00:07] lvegerano commented on #527
I'm running into this issue as well but with `externalRoutes` dependencies. I have an engine that I mount to the host app and also to another engine that is mounted to the same host app.

[code]
[code]
[code]

But when `Engine A` tries to route to `route-dep` from `Engine B`, instead of routing to `engine.b.route` it routes to `host.app.route` Is there a way around this?

[2018-11-23 09:48] HelloMrBharath commented on #484
Models should maintain in parent application or we can maintain in Engine itself ?

[2018-12-05 12:23] Haidy777 opened #603 "PatternLibrarys and Component-Sharing"
I've read through a bunch of Issues and also dug through the guides and I can't find a definite answer.

We've got a pretty big EmberApp, so we thought we could split it up into engines (as not every User needs every Part of the App). We implemented a lot of our components inside a separat EmberAddon so we can use them on multiple projects.

If I'm understanding the docs and issues correctly it is

[2018-12-05 13:33] mydea commented on #603
As long as all the engines depend on the same version as your host app, it will only be included in your host apps vendor.js and not in the engines. ember-engines takes care of that for you :) You still need to add the addon to all engines `dependencies`, though.

IMHO the best approach for this is to use something like a yarn workspace.
We have a workspace that contains our host app, our engines

[2018-12-05 15:03] knownasilya commented on #603
It's possible if you take an approach like this https://burstcreations.com/sharing-components-with-engines/

[2018-12-06 06:56] Haidy777 commented on #603
Thanks for your answers! The solution suggested by @mydea works perfectly. Thanks.
Maybe that should be stated somewhere in the readme or the guides :)

[2018-12-06 06:56] #603 closed

[2018-12-12 22:04] YukiDayDreamer commented on #232
Hi @toovy , does this addon solution still works for you? I tried to use the lastest ember-cli and ember-engines, but it will throw an error message **_Uncaught TypeError: params is not iterable_**.

[2018-12-17 13:19] toovy commented on #232
@YukiDayDreamer sorry, had no chance to try it again, maybe the release of ember 3.6 is the issue?

[2018-12-17 13:50] buschtoens commented on #232
@toovy The issue is tracked here: https://github.com/buschtoens/ember-lazy-mount/issues/2. It should be fixed; I am waiting for a response from @YukiDayDreamer . 😊

[2018-12-19 01:59] lennyburdette opened #604 "Publish latest master for compatibility with Ember 3.6"
Hi friends! The most recent ember-engines release does not work with Ember 3.6. #599 addressed the issue but it's not published. Thank you!

[2018-12-19 18:21] westlywright commented on #604
Would love to get #599 published as well so I can finish a 3.6 upgrade I have stashed

[2018-12-20 09:42] cdgeelen commented on #604
We look forward having this published as well to finish the 3.6 upgrade!

[2018-12-21 14:57] villander commented on #568
@twokul how is it going from here? package API ready to integrate with ember-engines? I'd love to be able to help.

[2018-12-26 17:15] villander commented on #568
@twokul @dgeb @rwjblue @MelSumner how is it going from here? package API ready to integrate with ember-engines? I'd love to be able to help.

[2018-12-26 17:18] villander commented on #540
@MelSumner can we keep ember-engines site or will to do a new site with [Ember Addons Docs](https://github.com/ember-learn/ember-cli-addon-docs)?

[2018-12-26 18:37] villander commented on #537
@Penthious can you replicate this on a public repo? please

[2018-12-26 18:44] villander commented on #512
@stefanpenner can you add label for 1.0? I think that make sense

[2018-12-27 16:09] sumeetattree commented on #409
Came across this issue while splitting our large app into smaller engines. Currently I am working around it by including the addon inside the main app as well. It's not ideal, but does the job. Are we going to see this change land in the near future?

@rwjblue IMO this doesn't seem to be that big an issue. The addons are already breaking the isolation premise by directly modifying the app's `index

[2019-01-02 19:01] nmcclay commented on #502
I wanted to leave a note that this issue has caused my company a lot of confusion as well.  What is happening is that if you have multiple lazy-loading engines, and each engine has a shared dependency on a common addon whichever engine loads first will get its version of the addon defined for every other engine and even the HOST APP if it invokes the same component name.  This is an issue if you a

[2019-01-02 19:11] deepan83 commented on #502
@nmcclay happy to help with this as well. i'll do some digging.

[2019-01-02 21:50] nmcclay commented on #502
So I played around with this and I have what seems to be a solution.  Basically its a two part solution, first the shared addon needs a namespace configuration in its index.js:
[code]

Then you can provide this namespace to your addon from your engine's index.js:
[code]

Finally, in your engine's addon directory, you can declare a uniquely named component that will export this namespaced version o

[2019-01-03 05:45] #278 closed

[2019-01-03 11:35] mydea commented on #540
I would like to maybe contribute some things to the engines docs, but am unsure about where to go/how to start.

[2019-01-03 11:41] mydea opened #606 "Explain cacheKeyForTree rules for addon deduplication"
I just spent a rather long time trying to figure out why our internal, shared addon code was included in all lazy loaded engine-vendor.js files. Turns out, this was caused by us defining a custom `treeForAddon()` hook, which lead to `cacheKeyForTree(addon)` returning null, which lead to the addon not being deduplicated.

Apart from the fact that this is IMHO a bit counterintuitive (what is the ben

[2019-01-03 16:16] nmcclay commented on #606
This is interesting, because https://github.com/ember-engines/ember-engines/issues/502 is actually about the exact opposite use case.  There is an awful lot of confusion around addons and engines it seems and not a lot of consensus on the best approach from what I have learned here.

[2019-01-04 07:59] mydea commented on #606
Sure, there is a more complex case where each engine might have a different version of an addon - how to solve this, is a bit more tricky. But in our case, the host app, engines & shared addon all live in a yarn workspace, so they all have exactly the same version, and the addon is included in the host app as well as in all engines - so it is pretty unnecessary and unexpected that the engine addon

[2019-01-08 15:08] MelSumner commented on #540
@villander check out https://github.com/ember-engines/ember-engines.com that already exists.

[2019-01-08 16:10] buschtoens commented on #558
Aaaaaand, it's gone. 😄

https://github.com/emberjs/ember.js/commit/50a5a5df8172acbe6d287b1ba74b44485802eced#diff-7e252e0880a2b1de772cbcabaf3ddfb4L121

`router` has now been renamed to `_router` and it's breaking with Ember 3.6.

I think that does not work. We're talking about the `Route` here, not the `Router`. I'll send a PR to hot fix as

[code]

[2019-01-10 12:04] paperlambda opened #608 "Dependency error on engine after deployed"
I am currently splitting up my app to several engines. There's an error that only displays as infinite render on parent application, then i tried to `npm link` to my local engine and i trace it to a dependency missing from the engine. i did `npm install` and things are fine, problem solved. But when deploy it, the error still occur. I am using BitBucket private repo for mounting engines.

[2019-01-13 11:34] villander commented on #603
@mydea @Haidy77 this solution using yarn workspaces is legal as it mitigates the problem, but should exist within ember engines. Imagine the css or components that are only used by `engine-a`, `engine-b` and `engine-c`, but are not used by the host app. You would have to load this into the host app by increasing the bundle size of it besides hurting the principle of isolation and liability. For me

[2019-01-13 21:52] dbeg commented on #58
@dgeb: I think @villander meant to ping you instead of me:

[2019-01-13 21:55] villander commented on #58
sorry @dgeb, I mentioned you wrong hehe

[2019-01-14 13:20] villander commented on #58
sorry @dbeg, I mentioned you wrong haha

[2019-01-14 14:33] #558 closed

[2019-01-14 14:40] mydea commented on #606
Not sure if that is the same issue IMHO - the issue you describe is generally hard to solve, I guess. All possible cases have down sides here:

a) Include shared deps into the host app - Downside: Increases initial bundle size
b) Include shared deps into each engine bundle - Downside: Duplicated stuff in multiple engine bundles
c) Somehow split out shared deps into dedicated bundles (e.g. `/engine

[2019-01-15 10:38] amk221 opened #614 "route#refresh no longer works"
App demoing that `this.refresh()` in an engine route works in ember 3.5.1, but not ember 3.6

Never calls model hook: https://github.com/amk221/-ember-engine-refresh-route/commit/71dd1b606e5a33d01ede516aa6936bc5b2683b1d#diff-394600f34d48dad6f0abc29af03d8b1bR5

[2019-01-15 13:34] villander commented on #614
@amk221 update this project to `0.5.26` and try again please?

[2019-01-15 14:04] amk221 commented on #614
Yeah, still an issue

[2019-01-15 14:05] villander commented on #614
Ok, I'll take a look

[2019-01-15 15:39] dgeb commented on #574
#605 has been merged, which adds a warning.

We can keep this issue open until we add hard errors for 1.0.

[2019-01-15 15:59] dgeb commented on #606
Yes, this is correct.

@mydea I agree the subject of this issue is much more straightforward to identify and address. Docs would be helpful but it would be even more helpful to alert devs of this potential surprise at build time. Otherwise, it would be very easy for this kind of duplication to go unnoticed.

[2019-01-15 16:12] villander commented on #606
@dgeb we can put a section on [ember-engines.com](http://ember-engines.com/guide) like "Addons and Dependencies" as Ember Guides.

@mydea I can hep you write this, if you need

[2019-01-15 16:13] dgeb commented on #502
Thanks for the discussion so far, and apologies for taking so long to get involved myself.

I'd like to share a helpful repo from @codeofficer that explores dependency conflicts between apps, engines, and addons: https://github.com/CodeOfficer/demo-engine-addon-dependency-conflicts The README clearly lays out several types of conflicts that can be reproduced.

Some conflicts are very difficult to

[2019-01-15 21:14] villander commented on #606
@dgeb what can we do to remove duplicate dependencies? do I need to do an RFC or should this [pull request](#595) resolve?

@mydea the approach `b` is solved with #595 ?

[2019-01-16 08:31] mydea commented on #606
Yes, b) is supposed to work - I think #595 basically fixes "bugs" with that approach for nested dependencies. However, it still leaves the `cacheKeyForTree` issue unresolved.

I could champion some engine documentation work, if someone could guide me to where/how to proceed - also see https://github.com/ember-engines/ember-engines.com/issues/16 and #540 , the state of engine documentation is a bit

[2019-01-16 09:12] villander commented on #606
@mydea you can put this on "Addons and Dependencies" on `ember-engines.com`.  You can create this section if you need. And if you can make a repo production to reproduce this bug? and I'll work on this.

About this, I can help on new documentation, but about dependencies I need help of @dgeb because many things related with dependencies don't clear for me as well

[2019-01-17 16:48] thec0keman commented on #614
This may be related, but after upgrading from Ember 3.5 -> 3.6 or 3.7, setting query params is calling a `Maximum call stack size exceeded`.

For example:
[code]

Calling that action will call an infinite loop involving the `refresh` hook:
[code]

This happens both with Ember.set and `transitionToRoute`.  It only occurs within engines.
(On 0.5.26)

I'd be happy to submit a separate issue if you'd

[2019-01-22 09:50] 2hu12 commented on #606
#595 aims for a narrower situation which is https://github.com/ember-engines/ember-engines/pull/356#issuecomment-288571816.

This "Shared addon deeper than engine" deduplication was just not implemented at that time and it already had relative tests but skiped. What #595 does was implementing this feature and unskip the tests.

[2019-01-28 08:03] paperlambda commented on #608
thanks @villander, yeah i took the wrong host address for the access rights, my bad

[2019-01-28 08:03] #608 closed

[2019-01-28 11:42] villander commented on #608
you're welcome @paperlambda

[2019-01-29 11:40] sumeetattree commented on #423
I have run into a similar situation.

I am trying to expose a route from an addon into an engine. I have been unsuccessful so far. I think the problem is with the route trying to perform a lookup for the template. Since the route resides in an addon, this line:

[code]

fails because the owner here is the engine and somehow the route's template is not being imported into the engine. Here's the set

[2019-01-29 18:07] XaserAcheron commented on #614
Ran into this myself, so I did some digging and found the problem -- I'm not used to debugging Ember itself so apologies in advance if I fudge the explanation/terms a bit.

The tricky bit is [here](https://github.com/tildeio/router.js/blob/f385d1162ab3307c166bf5b6b19eef45345dd8d0/lib/router/transition-intent/named-transition-intent.ts#L61), in router.js's NamedTransitionIntent class:

[code]

What

[2019-01-29 18:36] amk221 commented on #614
Thanks for the debugging @XaserAcheron! This is a blocker for us upgrading, so appreciated!

[2019-01-29 18:37] villander commented on #614
thank you so much @XaserAcheron I think that we need upgrade ember-source on ember-engines...and it's will be fixed automatically, what about?

[2019-01-30 15:22] villander commented on #614
@XaserAcheron  where can we see the changes in ember route 3.7? changelog, diff etc.

[2019-01-30 15:35] XaserAcheron commented on #614
Sorry, I'm not following. I think we're on two different pages here.

[2019-01-30 17:22] villander commented on #614
I'm just asking if what changed from route 3.5 to 3.7, what changed in the API so I can help too

[2019-02-04 12:49] svsalvador commented on #614
I've found the same problem in my application upgrading to Ember 3.7 from 3.4. Any news?

[2019-02-04 20:23] XaserAcheron commented on #614
As a for-the-record, I'm tinkering with this, though this is one of those weird issues where it's technically easy to hack in a solution, but (probably?) difficult to solve "properly".

I've got a PR open for `router_js` now, but no guarantees it'll make it in as-is. It's mostly just a springboard for discussion.

[2019-02-18 06:52] chendraayan commented on #466
@skaterdav85 Have you overcome this issue? I am also in the same situation as yours.

[2019-02-18 19:46] skaterdav85 commented on #466
@chendraayan no. I just didn't use engines.

[2019-02-26 14:20] buschtoens opened #620 "[Module Unification] Namespaced service dependencies do not work"
Module Unification has added support for namespaced services. Consider an addon named `@npm-scope/my-awesome-addon`:

[code]

<sup>Note: the `@npm-sope` is of course not necessary, but included here for exemplary purposes to demonstrate how complicated a specifier can become.</sup>

The correct specifier for this service is: `@npm-scope/my-awesome-addon::foo-bar`

An injection looks like this:

[c

[2019-02-27 21:44] dknutsen commented on #601
To illustrate this a little more clearly this is the workaround we've ended up with:
[code]

When in the routable engine the `link-to-external` respects the external routes that we give to the engine ("routey" mapping to app route "foo.bar.routey"), but in the routeless engine (given the same external routes) it doesn't look for them and we have to pass the fully qualified route from the mounting

[2019-03-07 16:56] chadhietala commented on #614
Is it possible that some one could write the failing test? I don't know too much about engines and it would help me a lot to address the issue.

[2019-03-16 20:40] anitricks opened #624 "Internal Routes for a Route-Less Engine"
I need help with a concept:

I need to develop a chat-box that has its own internal routes like - /chat/:chat_id, /chat/:type - and mount it into an ember application. However, the chat-box is an overlay in the application. By that I mean the chat-box doesn't disturb the main ember application routes. For example, moving from route-to-route in the ember app doesn't change the engines routes and vi

[2019-03-21 15:25] jherdman commented on #524
Is this resolved now? https://github.com/ember-cli/ember-resolver/pull/330 suggests as much.

[2019-03-21 16:08] jherdman opened #625 "[RFC (Sorta)] Camelizing Engine Config is Annoying, Let's Not"
In parent application's we're asked to build out engine configurations using camelized package names. This is both surprising, and awkward — especially for scoped packages. Surprising because our packages already have names used by NPM/Yarn, e.g. "my-blog", or "my-super-awesome-engine". Awkward for scoped packages, e.g. given "@precision-nutrition/my-engine" becomes "@precisionNutrition/myEngine".

[2019-03-21 19:25] jherdman opened #626 "engines-dist Fetch From Wrong URL"
In development my application is served from a specific port (e.g. 4200), but appears to come from a URL without a port. Example: "http://localhost.dev/my-app" but Ember Serve is really running at "http://localhost.dev:4200". This is for historical reasons and is difficult to change at this time.

CSS and JS assets are correctly fingerprinted and read from the port-based URL, but when Ember Engine

[2019-03-21 19:26] jherdman commented on #626
Note that this issue was not present in the 0.5 series.

[2019-03-22 09:58] loxmys opened #627 "Integration test: host app service and store not available"
I add store and select-values service like this http://ember-engines.com/guide/services
everything works in the application.
in test
`const values = this.owner.lookup('service:select-values');`
`const store =  this.owner.lookup('service:store');`
values == undefined
store == engine store, not host store.
How i can get services and host application store in integration test?

[2019-03-22 12:20] mydea commented on #627
You'll need to set the resolver correctly. This should definitely go into the docs!
You can find information on that here: https://github.com/ember-engines/ember-engines/issues/525#issuecomment-400130718 (and below)

[2019-03-25 04:57] loxmys commented on #627
I set resolver like this
[code]
test works if register mock store, but i need set host app store `const store = this.owner.lookup('service:store');`
store - not host store.

[2019-03-25 07:13] mydea commented on #627
Not sure I understand - but any service that is passed in to your engine (=not defined or installed in the engine itself) will need to be manually injected - see this comment: https://github.com/ember-engines/ember-engines/issues/525#issuecomment-402131973

[2019-03-25 16:48] mydea opened #628 "Addon deduplication skips nested dependencies"
It took me some time to figure out what's going on, but it seems that nested addons are not properly deduplicated in lazy engines.

I made a repo to reproduce the issue: https://github.com/mydea/test-ember-engines-addons

Basically, we have the following scenario (as an example, it behaves the same with other nested addons):

* host-app
  * ember-power-select
  * my-engine-a
     * ember-power-sel

[2019-03-25 16:57] jbandura commented on #504
are there any news about making this work when using new test syntax?

[2019-03-25 17:15] mydea commented on #628
After playing around with this, I guess it will be pretty hard to automatically fix this.
So what about adding a manual way to do this? We could add an option to the engine's index.js, like this:

[code]

And then remove these files from the engine-vendor.js bundle, like this:

[code]

That seemed to work fine in my example.
I could write up a PR if you agree this would make sense?

[2019-03-25 20:00] stefanpenner commented on #628
We are currently evaluating https://github.com/ember-engines/ember-engines/pull/595

Would that address your problem? Could you also review and kick the tires on it? If so that’s would help us!

[2019-03-26 07:27] mydea commented on #628
Ah, I did not see that PR 🤦‍♂️ sorry - I have actually seen it (and commented) some time ago, but forgot about it. That branch also fixes my example repo nicely 👍

[2019-03-26 14:43] villander commented on #628
@mydea can you close this, please?

[2019-03-26 14:45] villander commented on #614
@chadhietala  - this is the reproduction - https://github.com/amk221/-ember-engine-refresh-route/commit/71dd1b606e5a33d01ede516aa6936bc5b2683b1d#diff-394600f34d48dad6f0abc29af03d8b1bR5

[2019-03-26 15:31] #628 closed

[2019-03-26 18:52] villander commented on #568
@rwjblue can you close this in favor of embroider?

[2019-03-26 19:51] #546 closed

[2019-03-26 19:52] villander commented on #396
@stefanpenner can you close this issue, please? It's already fixed

[2019-03-26 20:01] villander commented on #537
@Penthious @kellyselden this issue are fixed on `0.6.x`

@stefanpenner @dgeb can you close this, please.

[2019-03-26 20:11] dgeb commented on #537
@villander thanks for following up.

If anyone has a reproduction that still fails in 0.6.x, please let us know.

[2019-03-26 20:11] #537 closed

[2019-03-26 20:16] villander commented on #568
@dgeb @stefanpenner can you close this in favor of embroider? we still do not know how code splitting and lazy loading will work in the ember.js ecosystem, it's very alpha with @ef4

[2019-03-26 20:37] dgeb commented on #568
Yes, embroider will soon provide our packaging (via webpack, rollup, etc), so it's probably best to close this issue to avoid confusion.

[2019-03-26 20:37] #568 closed

[2019-03-26 20:37] #396 closed

[2019-03-26 22:32] villander commented on #6
@dgeb can you close this?

[2019-03-26 22:40] villander commented on #8
@dgeb this can be closed as well, `import` are working for `-private`  private modules

[2019-03-26 22:42] villander commented on #35
it's already fixed as well @dgeb

[2019-03-26 22:44] villander commented on #22
@dgeb can you close this?

[2019-03-26 22:46] villander commented on #214
v0.5.15 or higher is compatible with FastBoot 1.0+.

we can close this @dgeb

[2019-03-26 22:50] #8 closed

[2019-03-26 23:07] villander commented on #587
@buschtoens this PoC works  making transitionToExternal & replaceWithExternal with URL?

we need pass a URL (a string that starts with a `/`).

[code]

[2019-03-26 23:31] #35 closed

[2019-03-27 00:00] buschtoens commented on #587
No, this intentionally not supported, as it would break the encapsulation principle of engines. You can only `transitionToExternal` routes by the name that was provided to the engine via [`externalRoutes`](https://github.com/ember-engines/ember-engines#linking-to-external-routes).

If you need to perform arbitrary navigation, yoo could [inject the host's `router` service](https://github.com/ember-

[2019-03-27 01:09] villander commented on #614
@buschtoens @dgeb @stefanpenner Did anyone of you have this error in the big app that currently work on your companies?

[2019-03-27 12:46] villander commented on #518
@rwjblue can you close this, per inactivity ?

[2019-03-27 12:49] villander commented on #524
@buschtoens it's https://github.com/ember-cli/ember-resolver/pull/330 resolved your problem with scope? ca we close this issue?

[2019-03-27 13:04] chadhietala commented on #614
I have a fix here https://github.com/tildeio/router.js/pull/284

[2019-03-27 13:08] villander commented on #614
thanks - great stuff @chadhietala 😄

[2019-03-27 13:36] buschtoens commented on #524
Yes, it did. :)

[2019-03-27 14:06] villander commented on #524
@rwjblue it's already fixed, can you close this, please?

[2019-03-27 15:28] buschtoens commented on #524
It pretty much just works like with non-scoped engines.

[code]

[code]

[2019-03-28 05:06] mesadhan opened #634 "Need CLI command for in-repo-engine app"
Ember Engines offers only CLI command to create Ember Engine App. There is no cli command for in-repo-engine command

[code]

Always need to create routes,components,helpers,services,templates manully.

[2019-03-28 21:46] villander commented on #232
@stefanpenner @dgeb @rwjblue I would love to evolve with this, do you want to make a meeting about it?

[2019-03-28 21:47] villander commented on #634
@mesadhan you don't can create using ember g on in-repo-engines, just on normal app or normal addon
on in-repo-engine is always manually ; )

can you close this, please?

[2019-03-28 22:01] villander commented on #544
it's fixed by #630

[2019-03-29 05:04] villander opened #635 "We need add greenkeeper here"
we need an automator to update our dependencies and ensure that we're up-to-date with the ecosystem ember and javascript

[2019-03-29 08:47] #634 closed

[2019-03-29 17:12] chadhietala commented on #614
Can someone please try the `release`, `beta`, or `canary` channel to see if we can close this issue? tildeio/router.js#284 fixed the reproduction by @amk221.

[2019-04-01 05:22] teejayhh commented on #282
I have the same issue with ember 3.5. So I guess ember-engines is not ready for prime time just yet, or was it ever ?

[2019-04-01 21:17] #559 closed

[2019-04-02 07:03] chendraayan opened #636 "Access an engine controller from a global function"
If my router.js looks like this
[code]
And if I want to access the controller of the route 'child' inside a global function. I would use this.
`App.__container__.lookup("controller:parent/child")`

If I want to achieve the same for the controller in an engine, how would I use it, if my routes.js of my engine looks like this?
[code]
I tried `App.__container__.lookup("engine:myengine").container.loo

[2019-04-02 10:45] amk221 commented on #614
Tried with `ember-source 3.9.0` and works 👌

[2019-04-02 11:22] villander commented on #614
awesome, thanks @chadhietala.

@amk221 can you close this issue, please?

[2019-04-02 11:31] #614 closed

[2019-04-03 07:03] SuperManHa opened #637 "cannot mount routable engine to my consuming app"
i try to mount an engine to my project as per the demo:
consuming app:
https://github.com/dgeb/ember-engines-demo
engine app:
https://github.com/dgeb/ember-blog-engine

the demo works well. But when i mount the [ember-blog-engine](https://github.com/dgeb/ember-blog-engine) to my own consuming app, error occurs and the error message is "Error: Could not find module `ember-blog-engine/engine` import

[2019-04-05 15:52] JoseWebby commented on #329
Hi @gokatz - Did you had any luck with building engine standalone and using alongside the host app?

[2019-04-06 22:23] dknutsen commented on #637
You also need to [add the engine to the consuming app](https://github.com/dgeb/ember-engines-demo/blob/master/app/app.js#L14) in `app/app.js` so the app knows about the engine. IMO this isn't covered very well in the guides, should probably be in the "mounting an engine" section.